
<div  ng-show="rate_class.data['0'].tmp_list !=null " ng-repeat="(key_tmpRateClass , tmpRateClass) in rate_class.data['0'].tmp_list" class="mid">
    <div class="g_a_box">
        <div class="title">
            {{ 'CLASS_APPRAISE_TITLE' | translate }}
        </div>
        <div class="c_time">{{ 'CLASS_APPRAISE_TIME_TEXT1' | translate }}{{tmpRateClass.lesson_day | limitTo:10 }} {{tmpRateClass.hour_name}}，{{ 'CLASS_APPRAISE_TIME_TEXT2' | translate }}</div>
        <div class="c_img">
            <img src="upload/teach/{{tmpRateClass.image}}" alt="">
            <img ng-show="0" src="images/book.jpg" alt="">
        </div>
        <div class="c_name">
            {{ 'CLASS_APPRAISE_CLASS_NAMES_TEACHER' | translate }} : {{tmpRateClass.nick_name}}
            <div ng-show="0">{{ 'CLASS_APPRAISE_CLASS_NAMES_BOOK' | translate }} : {{tmpRateClass.book_name}}</div>
        </div>
        <div class="star_box">
    <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
        </div>
        <div class="a_text">
            <input class="lesson_rate_note" type="text" title="{{ 'CLASS_APPRAISE_INPUT_TITLE' | translate }}">
        </div>
    </div>
    <div class="btn"><button ng-click="RateLessonUp('{{tmpRateClass.code}}')" type="button">{{ 'CLASS_APPRAISE_BUTTON' | translate }}</button></div>
</div>


<div ng-show="rate_class.data['0'].tmp_list ==null" class="mid">
    <div class="g_a_box">
        <div class="title">
            {{ 'CLASS_APPRAISEDONE_TITLE' | translate }}
        </div>
    </div>
</div>