<div class="mid" id="CommBoard" ng-controller="CommBoard" ng-if="teacher_tmp_arr[0].approval =='Y'">
    <!-- banner -->
    <div class="pageBanner">
        <div ng-repeat="(key_this_teacher , this_teacher) in teacher_tmp_arr" class="banner" style="background-image: url(upload/teach/{{ this_teacher.bg_image }}); background-position-y:{{this_teacher.bg_image_style}}%; ">
            <div>
                <div class="user-img"><img src="upload/teach/{{ this_teacher.image }}" alt=""></div>
                <div class="user-name">{{this_teacher.nick_name}}</div>
            </div>

        </div>
        <ul class="function-menu">
            <li><a href="#">{{ 'TEACHER_TEXT_TIME_LINE' | translate }}</a></li>
            <li><a href="#">{{ 'TEACHER_TEXT_VIDEO' | translate }}</a></li>

            <!--        <li><a href="javascript:void(0);" ng-click="sendPrivateMessage()">{{ 'TEACHER_APPRAISE_PO_MSG' | translate }}</a></li>-->
            <li ng-repeat="(key_this_teacher , this_teacher) in teacher_tmp_arr" class="privatelistBtn" ng-click="MessageCreateGroup(this_teacher.id)">{{ 'TEACHER_APPRAISE_PO_MSG' | translate }}</li>
            <li class="float-right recommend">{{ 'TEACHER_TEXT_RECOMMEND' | translate }}</li>
        </ul>
    </div>
    <!-- banner END -->

    <!-- 左邊區塊 -->
    <div ng-controller="FuncFriendsAndSubscript" ng-repeat="(key_this_teacher , this_teacher) in teacher_tmp_arr" ng-init="leftBoxFixed()" class="left leftFixed">
        <div ng-if="seedata.data[0].f_backend.approval =='Y'" class="buttons">

            <!-- 總和評價 & 課程個別評價 -->
            <div class="appraise">
                <div class="sub-title">{{ 'TEACHER_TEXT_BUTTONS_APPRAISE_TITLE' | translate }}</div>
                <div>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>5.0</span>
                </div>
                <div><a href="Course.Appraise/{{ this_teacher.id }}">{{ 'TEACHER_TEXT_BUTTONS_APPRAISE_A' | translate }}</a></div>
            </div>
            <!-- 總和評價 & 課程個別評價 END -->

            <div ng-if="this_teacher.id != seedata.data[0].f_backend.user_id" class="s_f_btns">
                <!--
                <div ng-show="Subscription.length ===0 || Subscription['0'].approval ==='N' " class="subscribe_btn">
                    <button ng-click="AddSubscription()" type="button">{{ 'TEACHER_TEXT_BUTTONS_SUBSCRIBE' | translate }}</button>
                </div>
                <div ng-show="Subscription.length !==0 && Subscription['0'].approval ==='Y'  " class="cancelsubscribe_btn">
                    <button ng-click="CancelSubscription()" type="button">{{ 'TEACHER_TEXT_BUTTONS_CANCEL_SUBSCRIBE' | translate }}</button>
                </div>
                -->
                <div class="friend_btn">
                    <button ng-show="( Friends.length ===0 || Friends['0'].approval ==='N')" class="bc_BR tc_WS" ng-click="AddFriends()" type="button">{{ 'TEACHER_TEXT_BUTTONS_FRIEND' | translate }}</button>
                </div>
                <div ng-show="Friends.length !==0 && Friends['0'].approval ==='Y'   " class="cancelfriend_btn">
                    <button ng-click="CancelFriends()" type="button">{{ 'TEACHER_TEXT_BUTTONS_CANCEL_FRIEND' | translate }}</button>
                </div>
                <div ng-click="CancelAddFriends()" ng-show="Friends.length !==0 && (Friends['0'].approval ==='A' || Friends['0'].approval ===null ) " class="waitfriend_btn">
                    <button type="button bc_BR tc_WS">{{ 'TEACHER_TEXT_BUTTONS_WAIT_FRIEND' | translate }}</button>
                </div>


            </div>

            <button ng-if="seedata.data[0].f_backend.user_id != teacher_tmp_arr[0].id && teacher_tmp_arr[0].fan_ident_match =='Y'  && teacher_tmp_arr[0].approval =='Y'  " class="bc_BR tc_WS booking-btn btn-b" ng-click="BookingPage()" type="button">{{ 'TEACHER_TEXT_BOOKING_BUTTON' | translate }}</button>
            <div ng-if="seedata.data[0].f_backend.user_id != teacher_tmp_arr[0].id && teacher_tmp_arr[0].fan_ident_match ==NULL && teacher_tmp_arr[0].approval =='Y'  " class="nC_Booking" type="text">{{ 'GROUPCANBOOKING' | translate }}</div>
            <div ng-if="teacher_tmp_arr[0].approval !='Y'  " class="nC_Booking" type="text">{{ 'BOOKING_NOT_OPEN' | translate }}</div>
            <form ng-submit="submit(data)" ng-controller="UserExCtrl">
                <div class="time-search">
                    <span>{{ 'TEACHER_TEXT_TIME_SEARCH' | translate }}</span>
                    <div class="effective_Date stepOne">
                        <div class="seDateTime">
                            <input id="this_day" ng-model="data.this_day" name="this_day" type="text" value="" /><i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div>
                    <button type="submit">{{ 'TEACHER_TEXT_SEARCH_BUTTON' | translate }}</button>
                    <!-- <a href="Course.ViewList"><button  type="submit">開始搜尋</button></a>-->
                </div>
            </form>
        </div>
        <!-- 頁面所有者簡介 -->
        <div ng-repeat="(key_this_day_arr,this_teacher) in teacher_tmp_arr" class="about-box">
            <span>{{ 'TEACHER_TEXT_ABOUT' | translate }}</span>
            <div class="text-box">
                {{ this_teacher.text }}
                <p ng-if="this_teacher.text < 1">{{ 'NO_ABOUT' | translate }}</p><!-- 沒內容時顯示 -->
            </div>
        </div>
        <!-- 頁面所有者簡介 END -->

        <div class="left_group">
            <!-- 影片 -->
            <div ng-if="1 ==0" class="videos">
                <div ng-repeat="(key_this_BoardMedia , this_BoardMedia) in BoardMedia.data[0].board_media  track by $index">
                    <!--
                    <div ng-show="this_BoardMedia.type ==2 && 
                    (this_BoardMedia.read_permi =='public' || this_BoardMedia.user_id ==seedata.data[0].f_backend.user_id  )" class="video-box">
                    <video ng-src="{{'upload/teach/'+this_BoardMedia.attached_name}}" alt="{{this_BoardMedia.attached_name}}"></video>
                    </div> -->
                    <div ng-show="this_BoardMedia.type ==2 && 
                    (this_BoardMedia.read_permi =='public' || this_BoardMedia.user_id ==seedata.data[0].f_backend.user_id  )" class="video-box"><img src="images/book.jpg" alt="{{this_BoardMedia.attached_name}}"></div>

                    <div ng-init="showThisImg()" ng-show="this_BoardMedia.type ==1 && 
                    (this_BoardMedia.read_permi =='public' || this_BoardMedia.user_id ==seedata.data[0].f_backend.user_id  ) " class="video-box image-box"><img ng-src="{{'upload/teach/'+this_BoardMedia.attached_name}}" alt="{{this_BoardMedia.attached_name}}"></div>

                </div>

            </div>
            <!-- 影片 END -->


            <!-- 好友及訂閱 -->
            <div class="group-box">
                <span ng-show="1">{{ 'TEACHER_TEXT_SUBSCRIBE' | translate }}</span>
                <p ng-show="0">{{ 'NO_FOLLOW' | translate }}</p><!-- 沒內容時顯示 -->
                <div class="p_fWarp">
                    <div ng-show="1">
                        <div ng-repeat="(keytmpsub , tmpSubscription) in SubscriptionList" class="">
                            <a href="Fan.FanText/{{tmpSubscription.who_user_id}}"><img src="upload/fan/{{tmpSubscription.image}}" alt=""></a>
                        </div>
                    </div>
                </div>
                <span ng-show="1">{{ 'TEACHER_TEXT_FRIEND' | translate }}</span>
                <p ng-show="0">{{ 'NOW_NO_FRIEND' | translate }}</p><!-- 沒內容時顯示 -->
                <div class="p_fWarp">
                    <div ng-show="1">
                        <div ng-repeat="(keytmpfri , tmpFriendsList) in FriendsList" class="">
                            <a ng-if="teacher_tmp_arr[0].id != tmpFriendsList.who_user_id  " href="Course.TeacherText/{{tmpFriendsList.who_user_id}}"><img src="upload/teach/{{tmpFriendsList.image}}" alt=""></a>
                            <a ng-if="teacher_tmp_arr[0].id != tmpFriendsList.user_id  " href="Course.TeacherText/{{tmpFriendsList.user_id}}"><img src="upload/teach/{{tmpFriendsList.image}}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 好友及訂閱 END -->
        </div>
        <button ng-click='leftBoxShowMore()' class="showMore bc_BR tc_WS">{{ 'TEACHER_PRIVATE_MSG_MORE' | translate }}</button>
    </div>

    <!-- 右邊區塊 -->
    <div class="right">
        <!-- 建立新留言 -->
        <div ng-show="seedata.data[0].f_backend.user_id == teacher_tmp_arr[0].id " class="po-msg-box">
            <span class="title bc_BR">{{ 'TEACHER_TEXT_PO_MSG_TITLE' | translate }} <i ng-click="BoardCancel(data)" class="fa fa-times" aria-hidden="true"></i> </span>
            <div class="msg-box">
                <div class="user-img"><img src="upload/teach/{{teacher_tmp_arr[0].image}}" alt=""></div>
                <div class="msg">
                    <textarea ng-click="blackBgShow()" ng-model="data.text" name="" id="" cols="30" rows="10" placeholder=" {{'TEACHER_MY_PROFILE_POTEXT' | translate }}"></textarea>
                </div>
                <!-- 留言 IMAGES -->
                <div ng-show="show_temp =='image'" class="user-msg-box preview_po">
                    <!-- 發佈者 -->
                    <div class="msg-text">

                        <div class="pic_box">
                            <!--<img id="target_image" class="target_image" src="" alt="">-->
                            <div id="target_img_html">
                                <div class="upImgSee" ng-repeat="(key_this_tmp_img , this_tmp_img) in tmp_img track by $index">
                                    <div class="closeFile"><i class="fa fa-times" aria-hidden="true"></i></div>
                                    <div class="imgBox"><img class="target_image1" ng-click="tRemoveImage()" src="{{this_tmp_img}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- 留言 VIDEO -->
                <div ng-show="show_temp =='video'" class="user-msg-box preview_po">
                    <!-- 發佈者 -->
                    <div class="msg-text">
                        <div class="closeFile"><i ng-click="RemoveVideo()" class="fa fa-times" aria-hidden="true"></i></div>
                        <div class="pic_box">
                            <video id="target_video" type="video/mp4" controls="true" src=""></video>
                        </div>
                    </div>
                </div>
            </div>

            <div class="up_file_box">
                <div class="u_b u_i up_img" ng-click="ChangeImage()">
                    <label id="label_image" ng-click="blackBgShow()" for="files_image" class="btn"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                    <form id="FilesImageForm" method="post" action="#" enctype="multipart/form-data">
                        <input name="file" id="files_image" multiple ng-click="files_image()" accept='image/*' style="" type="file">
                    </form>
                </div>
                <div class="u_b up_video" ng-click="ChangeImage()">
                    <label id="label_video" ng-click="blackBgShow()" for="files_video" class="btn"><i class="fa fa-video-camera" aria-hidden="true"></i></label>
                    <form id="FilesVideoForm" method="post" action="#" enctype="multipart/form-data">
                        <input name="file" accept="video/mp4" id="files_video" ng-click="files_video()" style="" type="file">
                    </form>
                </div>

                <!-- live btn -->
                <div ng-show="1" class="u_b up_live">
                    <label ng-click="liveVideo()" class="btn"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{ 'LIVEVIDEO' | translate }}</label>
                </div>

                <div class="u_b prompt_img bc_BL tc_WS">{{ 'TEACHER_MY_PROFILE_PROMPT_IMG' | translate }}</div>
                <div class="u_b prompt_video bc_BL tc_WS">{{ 'TEACHER_MY_PROFILE_PROMPT_VIDEO' | translate }}</div>
                <div class="float_r maxMB">{{ 'MAXIMUM_LIMIT' | translate }}</div>
                <div ng-if="tmp_size_tobig =='Y'" class="float_r maxMB bc_BR tc_WS"> {{ 'OVER_LIMIT' | translate }} </div>
            </div>

            <div class="send-box">
                <button ng-if="tmp_size_tobig !='Y'" class="bc_BR tc_WS" ng-click="BoardPost()">{{ 'TEACHER_TEXT_SEND_BUTTON' | translate }}</button>
                <button ng-if="tmp_size_tobig =='Y'" disabled="disabled" class="bc_BR tc_WS">{{ 'TEACHER_TEXT_SEND_BUTTON' | translate }}</button>
            </div>

            <div class="w_c_s">
                <input name="show_temp" id="show_temp" type="hidden">
                <select name="read_permi" ng-model="data.read_permi">
                    <option id="hidden_option" value="" selected hidden />
                    <option ng-selected="data.read_permi =='public' || 1" ng-value="'public'">{{ 'TEACHER_TEXT_PUBLIC' | translate }}</option>
                    <option ng-selected="data.read_permi =='private' " ng-value="'private'">{{ 'TEACHER_TEXT_PRIVATE' | translate }}</option>
                </select>
            </div>

        </div>
        <!-- 建立新留言 END -->
        <!-- 上課通知 -->

        <!-- 上課通知 END -->

        <!-- 留言 -->
        <!-- 沒有任何動態 -->
        <div ng-show="BoardList.data[0].board.length ==0" class="no_msg bor_s_1">{{ 'TEACHER_MY_PROFILE_NO_ANY_TIME_LINE' | translate }}</div>
        <!-- 沒有任何動態 END -->
        <div ng-repeat="(key_this_BoardList , this_BoardList) in BoardList.data[0].board track by $index" ng-show="
        (
            this_BoardList.read_permi == 'public' 
            || ( this_BoardList.user_id ==seedata.data[0].f_backend.user_id ) 
        )
        &&
        ( this_BoardList.in_cloud =='Y' && this_BoardList.type=='2'
            ||  this_BoardList.type=='1' 
            || this_BoardList.type=='4' )  " class="user-msg-box post_box">
            <!-- 發佈者 -->
            <div class="msg-1">
                <ul class="user">
                    <i ng-click="popUpMenuShow()" ng-show="this_BoardList.user_id ==seedata.data[0].f_backend.user_id" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <div class="popupMenu bor_s_1">
                        <ul>
                            <li ng-click="deletePost()">{{ 'DELETE_MSG' | translate }}</li>
                            <li ng-click="editPost()">{{ 'EDIT_POST' | translate }}</li>
                        </ul>
                    </div>
                    <li class="user-img"><img src="upload/teach/{{this_BoardList.image}}" alt=""></li>
                    <li class="user-name">{{this_BoardList.nick_name}}</li>
                    <li class="po-time">{{this_BoardList.update_date}}</li>
                </ul>
                <div class="msg-text">
                    <p ng-bind-html="this_BoardList.text | nl2br | linkify "></p>
                    <p ng-if="this_BoardList.tmp !=undefined" ng-bind-html="this_BoardList.tmp | linkify "></p>
                    <div class="pic_box">

                        <!--播放影片-->
                        <iframe ng-if="this_BoardList.in_cloud =='Y' 
                        && this_BoardList.type=='2' && this_BoardList.live_id == null " frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_BoardList.attached_name)}}"></iframe>

                        <!--播放直撥後的影片-->
                        <iframe ng-if="this_BoardList.live_video_id !=null" frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_BoardList.live_video_id)}}"></iframe>
                        <!--影片還在轉檔中-->
                        <p ng-if="this_BoardList.live_video_id ==null && this_BoardList.end_live=='Y' "> {{ 'LIVE_VIDEO_SAVE' | translate }} </p>

                        <!--播放直撥-->
                        <iframe ng-if="this_BoardList.in_cloud =='Y' 
                        && this_BoardList.type=='2' && this_BoardList.live_id != null  && this_BoardList.end_live =='N'
                         " frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc(this_BoardList.live_embed_url)}}"></iframe>

                        <div class="poimgbox" ng-class=" {'lastOne': $last }" ng-show="this_BoardList.type  =='1' && this_BoardList.attached_name !=null " ng-repeat="(key_this_board_image , this_board_image) in this_BoardList.attached_name track by $index">
                            <img ng-init="ivPopUpShow()" ng-src="{{'upload/teach/'+this_board_image}}" alt="">
                            <div class='prve pn_btn'><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                            <div class='next pn_btn'><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                            <!-- 觀看人數 跟 喜歡 -->
                            <div ng-if="BoardList.data['0'].board[key_this_BoardList]['files_'+this_BoardList.attached_id[key_this_board_image]+'_like_arr'][0].post_by != seedata.data[0].f_backend.user_id" ng-click="add_files_like(this_BoardList.attached_id[key_this_board_image],key_this_BoardList,key_this_board_image)" class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'LIKE' | translate }} </span><span> {{this_BoardList.file_like_count[key_this_board_image]}} </span>
                            </div>

                            <div ng-if="BoardList.data['0'].board[key_this_BoardList]['files_'+this_BoardList.attached_id[key_this_board_image]+'_like_arr'][0].post_by == seedata.data[0].f_backend.user_id" ng-click="change_files_unlike(this_BoardList.attached_id[key_this_board_image],key_this_BoardList,key_this_board_image)" class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'UNLIKE' | translate }} </span><span> {{this_BoardList.file_like_count[key_this_board_image]}} </span>
                            </div>


                            <div class="seeBox"><i class="fa fa-eye" aria-hidden="true"></i> <span> {{this_BoardList.file_view_count[key_this_board_image]}} </span></div>
                        </div>
                        <div ng-click="closeClickImp()" class="closeImgShow"><i class="fa fa-times" aria-hidden="true" style="display: block;"></i></div>

                        <!-- 觀看人數 跟 喜歡 -->
                        <div class="ls_Box">
                            <div class="see"><i class="fa fa-eye" aria-hidden="true"></i> <span> {{this_BoardList.view_count}} </span></div>
                            <div ng-if="BoardList.data['0'].board[key_this_BoardList].board_like_arr['0'].post_by != seedata.data[0].f_backend.user_id" ng-click="add_board_like(this_BoardList.id,key_this_BoardList)" class="like"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'LIKE' | translate }} </span><span> {{this_BoardList.like_count}} </span></div>
                            <div ng-if="BoardList.data['0'].board[key_this_BoardList].board_like_arr['0'].post_by == seedata.data[0].f_backend.user_id" ng-click="change_board_unlike(this_BoardList.id,key_this_BoardList)" class="like"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'UNLIKE' | translate }} </span><span> {{this_BoardList.like_count}} </span></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="msg-btns">
                <div ng-show="0" class="btn-1">{{ 'TEACHER_MY_PROFILE_MSG_BTNS_APPRAISAL' | translate }}</div>
                <div ng-click="openMsgToggle()" class="btn-2">{{ 'TEACHER_MY_PROFILE_PO_MSG' | translate }}</div>
                <div ng-show="0" class="btn-3">{{ 'TEACHER_MY_PROFILE_SHARE' | translate }}</div>
                <!-- 觀看直撥 -->
                <!-- 觀看直撥 直撥還沒結速的話 -->
                <div ng-click="joinLive(this_BoardList.live_id)" ng-if="this_BoardList.live_video_id ==null 
                 && this_BoardList.live_id !=null
                 && this_BoardList.end_live=='N' " class="joinlivebtn"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'JOINLIVE' | translate }}</div>

                <select ng-change="BoardChangeRead()" ng-show="this_BoardList.user_id ==seedata.data[0].f_backend.user_id" name="read_permi" ng-model="this_BoardList.read_permi">
                    <option ng-selected="this_BoardList.read_permi =='public'" value="public">{{ 'TEACHER_TEXT_PUBLIC' | translate }}</option>
                    <option ng-selected="this_BoardList.read_permi =='private'" value="private">{{ 'TEACHER_TEXT_PRIVATE' | translate }}</option>
                </select>
            </div>
            <!-- 發佈者 END -->

            <!-- 回覆者 -->
            <div ng-if="seedata.data[0].f_backend.approval =='Y'" id="userchatroom" class="msg-2">

                <!-- 文章總評價 -->

                <div ng-show="0" class="all-evaluate">
                    <span>{{ 'TEACHER_MY_PROFILE_ARTICLE_APPRAISAL' | translate }}</span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <!-- 文章總評價 END -->

                <!-- 使用者評價文章 -->

                <div ng-show="0" class="evaluate">
                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <button class="bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_SEND' | translate }}</button>
                </div>
                <!-- 使用者評價文章 END -->
                <!-- 分享文章 -->
                <!--
                <div class="share">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
                -->
                <!-- 分享文章 END -->
                <!-- 回覆區 -->

                <div class="all-msg">

                    <div class="msg_warp pack-up">
                        <!-- 回覆內容 -->
                        <div ng-repeat="(key_this_BoardData , this_BoardData) in BoardList.data[0].board_data track by $index" ng-show="this_BoardList.id == this_BoardData.board_id" ng-class="{'defaultShow': key_this_BoardData <=1, '': key_this_BoardData >1}" class="user-po">
                            <div class="u_img">
                                <a href="Course.TeacherText/{{this_BoardData.re_user_id}}"><img ng-src="{{'upload/teach/'+this_BoardData.image}}" alt=""></a>
                            </div>
                            <div class="u_text">
                                <span>
                                    <a href="Course.TeacherText/{{this_BoardData.re_user_id}}">{{this_BoardData.nick_name}}</a>
                                    <i ng-click="editMsgText($event)" class="fa fa-ellipsis-h float_r showERM" aria-hidden="true"></i>
                                    
                                    <div class="EdidReplyMenu bor_s_1">
                                        <ul>
                                            <li ng-click="deleteReply($event,this_BoardData,key_this_BoardData)"><i class="fa fa-trash-o" aria-hidden="true"></i>{{ 'DELETE_MSG' | translate }}</li>
                                            <li ng-click="editReply($event,this_BoardData,key_this_BoardData)"><i class="fa fa-pencil" aria-hidden="true"></i>{{ 'EDIT_POST' | translate }}</li>
                                        </ul>
                                    </div>
                                    
                                </span>
                                <div class="time">{{this_BoardData.post_date}}</div>
                                <div class="msg-text">
                                    <p>{{this_BoardData.text}}</p>
                                    <div class="poimgbox" ng-class=" {'lastOne': $last }" ng-show="this_BoardData.type  =='1' && this_BoardData.attached_name !=null " ng-repeat=" (key_this_board_image , this_board_image) in this_BoardData.attached_name track by $index">
                                        <img ng-init="ivPopUpShow()" ng-src="{{'upload/teach/'+this_board_image}}" alt="">
                                        <div class='prve pn_btn'><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                        <div class='next pn_btn'><i class="fa fa-angle-right" aria-hidden="true"></i></div>

                                        <!-- 觀看人數 跟 喜歡 
                            
                            -->
                                        <div ng-if="BoardList.data['0'].board[key_this_BoardList]['files_'+this_BoardList.attached_id[key_this_board_image]+'_like_arr'][0].post_by != seedata.data[0].f_backend.user_id" ng-click="add_files_like(this_BoardList.attached_id[key_this_board_image],key_this_BoardList,key_this_board_image)" class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'LIKE' | translate }} </span><span> {{this_BoardList.file_like_count[key_this_board_image]}} </span>
                                        </div>

                                        <div ng-if="BoardList.data['0'].board[key_this_BoardList]['files_'+this_BoardList.attached_id[key_this_board_image]+'_like_arr'][0].post_by == seedata.data[0].f_backend.user_id" ng-click="change_files_unlike(this_BoardList.attached_id[key_this_board_image],key_this_BoardList,key_this_board_image)" class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'UNLIKE' | translate }} </span><span> {{this_BoardList.file_like_count[key_this_board_image]}} </span>
                                        </div>


                                        <div class="seeBox"><i class="fa fa-eye" aria-hidden="true"></i> <span> {{this_BoardList.file_view_count[key_this_board_image]}} </span></div>
                                    </div>


                                    <div class="changeUserPO">

                                        <textarea placeholder="{{ 'TEACHER_TEXT_PO_MSG' | translate }}..." ng-model="edit_BoardData.text" style="resize:none;overflow:auto;" onkeyup="
                                        	var textarea=this;
                                        	var adjustedHeight=textarea.clientHeight;
                                        
	                                        adjustedHeight=Math.max(textarea.scrollHeight,adjustedHeight);
	                                        if (adjustedHeight>textarea.clientHeight){
	                                        	textarea.style.height=adjustedHeight+'px';
	                                        }
	                                   "> </textarea>

                                        <!-- 修改回覆留言 上圖或影片 -->
                                        <div class="editPostIV">

                                            <!-- post images -->
                                            <div ng-if="0" class="up_img postImages" ng-click="postChangeImages()">
                                                <label ng-click="blackBgShow2()" class="btn"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                                                <form method="post" action="#" enctype="multipart/form-data">
                                                    <input name="file" multiple ng-click="files_image()" style="" accept='image/*' type="file">
                                                </form>
                                            </div>
                                            <!-- post video -->
                                            <div ng-if="0" class="up_video postVideo" ng-click="postChangeVideo()">
                                                <label ng-click="blackBgShow2()" class="btn"><i class="fa fa-video-camera" aria-hidden="true"></i></label>
                                                <form method="post" action="#" enctype="multipart/form-data">
                                                    <input accept="video/mp4" name="file" ng-click="files_video()" style="" type="file">
                                                </form>
                                            </div>

                                            <button ng-click="noChangeReply()" class="bc_BL tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                                            <button ng-click="changeReplySave($event,this_BoardData,key_this_BoardData)" class="bc_BR tc_WS">{{ 'SAVE' | translate }}</button>

                                        </div>
                                        <!-- 修改回覆留言 上圖或影片 ＥＮＤ -->

                                        <!-- 修改回覆留言預覽圖片影片 -->
                                        <!-- 留言 IMAGES -->
                                        <div class="user-msg-box preview_po changeUserPoImg">
                                            <!-- 發佈者 -->
                                            <div class="msg-text">

                                                <div class="pic_box">
                                                    <!--<img id="target_image" class="target_image" src="" alt="">-->
                                                    <div id="target_img_html">
                                                        <div class="upImgSee" ng-repeat="(key_this_tmp_img , this_tmp_img) in tmp_img track by $index">
                                                            <div class="closeFile"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                            <div class="imgBox"><img class="target_image1" ng-click="tRemoveImage2()" src="{{this_tmp_img}}" alt=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 留言 VIDEO -->
                                        <div ng-show="show_temp =='video'" class="user-msg-box preview_po changeUserPoVideo">
                                            <!-- 發佈者 -->
                                            <div class="msg-text">
                                                <div class="closeFile"><i ng-click="RemoveVideo2()" class="fa fa-times" aria-hidden="true"></i></div>
                                                <div class="pic_box">
                                                    <video type="video/mp4" controls="true" src=""></video>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 修改回覆留言預覽圖片影片 ＥＮＤ -->

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 回覆內容 END  -->
                    </div>
                    <!-- 回覆文章輸入區塊 -->
                    <div ng-if="seedata.data[0].f_backend.user_id !=undefined" class="po-text">
                        <div class="t_1">
                            <img src="upload/teach/{{seedata.data[0].f_backend.image}}" alt="">
                        </div>

                        <input ng-model="Redata.text" type="text" placeholder="{{ 'TEACHER_TEXT_PO_MSG' | translate }}..."="{{ 'TEACHER_TEXT_PO_MSG' | translate }}...">

                        <!-- 回覆留言 上圖或影片 -->
                        <!-- post images -->
                        <div class="u_b u_i up_img postImages" ng-click="postImages()">
                            <label ng-click="blackBgShow2()" class="btn"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input name="file" class="board_data_files_image" multiple ng-click="board_data_files_image()" style="" accept='image/*' type="file">
                            </form>
                        </div>
                        <!-- post video -->
                        <div ng-if="0" class="u_b up_video postVideo" ng-click="postVideo()">
                            <label ng-click="blackBgShow()" class="btn"><i class="fa fa-video-camera" aria-hidden="true"></i></label>
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input accept="video/mp4" name="file" ng-click="files_video()" style="" type="file">
                            </form>
                        </div>
                        <!-- 回覆留言 上圖或影片 ＥＮＤ -->

                        <button class="bc_BR tc_WS p_btn" ng-click="ReBoardPost(Redata)">{{ 'TEACHER_TEXT_SEND_BUTTON' | translate }}</button>
                    </div>
                    <!-- 回覆文章輸入區塊 END -->
                    <!-- 回覆區 END -->
                    <!-- 預覽圖片影片 -->
                    <div class="replyPostIV">
                        <!-- 留言 IMAGES -->
                        <div class="user-msg-box preview_po replyImg">
                            <!-- 發佈者 -->
                            <div class="msg-text">
                                <div class="pic_box">
                                    <!--<img id="target_image" class="target_image" src="" alt="">-->
                                    <div>
                                        <div class="upImgSee" ng-repeat="(key_this_tmp_img , this_tmp_img) in board_data_tmp_img track by $index">
                                            <div class="closeFile"><i class="fa fa-times" aria-hidden="true"></i></div>
                                            <div class="imgBox"><img class="target_image1" ng-click="tRemoveImage('board_data_')" src="{{this_tmp_img}}" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 留言 VIDEO -->
                        <div class="user-msg-box preview_po replyVideo">
                            <!-- 發佈者 -->
                            <div class="msg-text">
                                <div class="closeFile"><i ng-click="RemoveVideo()" class="fa fa-times" aria-hidden="true"></i></div>
                                <div class="pic_box">
                                    <video type="video/mp4" controls="true" src=""></video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 預覽圖片影片 ＥＮＤ -->

                </div>
                <!-- 回覆者 END -->
            </div>
            <!-- 回覆者 END -->
        </div>
        <!-- 留言 END -->

        <!-- 留言 老師推薦 -->

        <div ng-show="0" class="user-msg-box">
            <!-- 發佈者 -->
            <div class="msg-1">
                <ul class="user">
                    <li class="user-img"><img src="images/tp1.jpg" alt=""></li>
                    <li class="user-name">user name</li>
                    <li class="po-time">2017年3月20日 AM : 10 : 30</li>
                </ul>
                <div class="msg-text">
                    這是留言訊息文字~這個老師不錯喔~快去看看吧~
                    <div class="t_date">
                        <h2>Teacher name</h2>
                        <div class="evaluate">
                            {{ 'TEACHER_MY_PROFILE_MSG_BTNS_APPRAISAL' | translate }}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <a href="Course.TeacherText/11">http://showhi/phalApi_html/Course.TeacherText/11</a>
                    </div>
                    <div class="pic_box">
                        <img src="images/bookingT.jpg" alt="">
                    </div>
                </div>

            </div>

            <div class="msg-btns">
                <div class="btn-1">{{ 'TEACHER_MY_PROFILE_MSG_BTNS_APPRAISAL' | translate }}</div>
                <div class="btn-2">{{ 'TEACHER_MY_PROFILE_PO_MSG' | translate }}</div>
                <div class="btn-3">{{ 'TEACHER_MY_PROFILE_SHARE' | translate }}</div>
            </div>
            <!-- 發佈者 END -->

            <!-- 回覆者 -->
            <div class="msg-2">

                <!-- 文章總評價 -->
                <div class="all-evaluate">
                    <span>{{ 'TEACHER_MY_PROFILE_ARTICLE_APPRAISAL' | translate }}</span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <!-- 文章總評價 END -->

                <!-- 使用者評價文章 -->
                <div class="evaluate">
                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <button class="bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_SEND' | translate }}</button>
                </div>
                <!-- 使用者評價文章 END -->
                <!-- 分享文章 -->
                <div class="share">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
                <!-- 分享文章 END -->
                <!-- 回覆區 -->
                <div class="all-msg">

                    <!-- 回覆文章輸入區塊 -->
                    <div class="po-text">
                        <div class="t_1">
                            <img src="images/kidImg.jpg" alt="">
                        </div>
                        <input type="text">
                    </div>
                    <!-- 回覆文章輸入區塊 END -->

                    <!-- 回覆內容 -->
                    <div class="user-po">
                        <div class="u_img"><img src="images/tp2.jpg" alt=""></div>
                        <div class="u_text">
                            <span>user name</span>
                            <div class="time">2017年3月21日</div>
                            <div class="msg-text">
                                xxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxx xxxxxxxxx xxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            </div>
                        </div>
                    </div>
                    <!-- 回覆內容 END  -->
                </div>
                <!-- 回覆區 END -->
            </div>
            <!-- 回覆者 END -->
        </div>
        <!-- 留言 END -->
        <button ng-if="boardLast != '1'" type="button" ng-click="FuncPushBoardList(BoardList.data[0].board[0].user_id,BoardList.data[0].page.page_num+1)" class="more bc_BR tc_WS ">More</button>

        <div class="user-msg-box lastNoMsg" ng-if="boardLast == '1'">
            {{ 'NO_MORE_MSG' | translate }}
        </div>

        <div class="user-msg-box loadMsgBoxD">

            <svg width='12%' height='12%' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="livevideoload">
                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                <circle cx="50" cy="50" r="40" stroke="rgba(0%,0%,0%,0.1)" fill="none" stroke-width="10" stroke-linecap="round"></circle>
                <circle cx="50" cy="50" r="40" stroke="#000" fill="none" stroke-width="6" stroke-linecap="round">
                    <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate>
                    <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate>
                </circle>
            </svg>
        </div>

    </div>



    <div ng-click="BoardCancel(data)" class="blackBg"></div>
    <!-- 編輯/刪除貼文 POP-UP -->
    <div class="change_msg_pup">
        <div class="change_msg_box bor_s_1">

            <!--刪除貼文-->
            <div class="del_msg">
                <div class="title bc_BR tc_WS">{{ 'DELETE_MSG' | translate }} <i ng-click="closeEditPost()" class="fa fa-times" aria-hidden="true"></i> </div>
                <div class="content_box">
                    {{ 'DELETE_POST_TEXT' | translate }}
                </div>
                <div class="btns">
                    <button ng-click="closeEditPost()" class="cancel">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                    <!--取消-->
                    <button ng-click="DeleteUP()" class="del_msg_btn bc_BR tc_WS">{{ 'DELETE_MSG' | translate }}</button>
                    <!--刪除貼文-->
                    <!--<button ng-click="editPost()" class="edit_post_Btn">{{ 'EDIT_POST' | translate }}</button>-->
                    <!--編輯貼文-->
                </div>
            </div>

            <!--刪除回覆留言-->
            <div class="del_reply">
                <div class="title bc_BR tc_WS">{{ 'DELETE_MSG' | translate }} <i ng-click="closeEditPost()" class="fa fa-times" aria-hidden="true"></i> </div>
                <div class="content_box">
                    {{ 'DELETE_REPLY_TEXT' | translate }}
                </div>
                <div class="btns">
                    <button ng-click="closeEditPost()" class="cancel">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                    <!--取消-->
                    <button ng-click="DeleteReplyUP($event,this_BoardData,key_this_BoardData)" class="del_msg_btn bc_BR tc_WS">{{ 'DELETE_MSG' | translate }}</button>
                    <!--刪除貼文-->
                    <!--<button ng-click="editPost()" class="edit_post_Btn">{{ 'EDIT_POST' | translate }}</button>-->
                    <!--編輯貼文-->
                </div>
            </div>

            <!-- 編輯貼文 -->
            <div class="edit_msg">
                <div class="title bc_BR tc_WS">{{ 'EDIT_POST' | translate }} <i ng-click="noChangePost()" class="fa fa-times" aria-hidden="true"></i> </div>
                <div class="content_box">

                    <div class="user-img"><img src="upload/teach/{{seedata.data[0].f_backend.image}}" alt=""></div>
                    <div class="msg">
                        <textarea name="" ng-model="edit_data.text" id="" cols="30" rows="10" placeholder=" {{'TEACHER_MY_PROFILE_POTEXT' | translate }}"></textarea>
                    </div>

                    <div class="imagr_or_video">
                        <div ng-show="edit_data.type =='1' ">
                            <div ng-click="editRemoveThisImg()" ng-class=" {'lastOne': $last }" class="editBoxImg" ng-repeat="(key_tmp_img,tmp_img) in edit_data.attached_name track by $index ">
                                <img ng-src="upload/teach/{{tmp_img}}" alt="">
                                <div class="removeIconBox"><i class="fa fa-times removeIcon" aria-hidden="true"></i></div>
                            </div>
                            <div class="editBoxImg" ng-repeat="(key_this_edit_tmp_img , this_edit_tmp_img) in tmp_edit_img track by $index">
                                <img src="{{this_edit_tmp_img}}" alt="">
                                <div ng-click="tRemoveImage()" class="removeIconBox"><i class="fa fa-times removeIcon" aria-hidden="true"></i></div>
                            </div>
                            <label for="plusImg_fils" class="plusImg">+</label>
                            <form id="plusImgfilsFrom" method="post" action="#" enctype="multipart/form-data">
                                <input name="file" ng-click="plusImgfils()" id="plusImg_fils" multiple ng-click="" style="" accept='image/*' type="file">
                            </form>
                        </div>

                        <div ng-show="edit_data.type =='2' ">
                            <!--播放影片-->
                            <iframe ng-if="edit_data.in_cloud =='Y' 
                        && edit_data.type=='2' && edit_data.live_id == null " frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+edit_data.attached_name)}}"></iframe>

                            <!--播放直撥後的影片-->
                            <iframe ng-if="edit_data.live_video_id !=null" frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+edit_data.live_video_id)}}"></iframe>
                            <!--影片還在轉檔中-->
                            <p ng-if="edit_data.live_video_id ==null && edit_data.end_live=='Y' "> {{ 'LIVE_VIDEO_SAVE' | translate }} </p>

                            <!--播放直撥-->
                            <iframe ng-if="edit_data.in_cloud =='Y' 
                        && this_BoardList.type=='2' && edit_data.live_id != null  && edit_data.end_live =='N'
                         " frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc(edit_data.live_embed_url)}}"></iframe>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <button ng-click="BoardEditUP()" class="save_btn bc_BR tc_WS">{{ 'SAVE' | translate }}</button>
                    <!-- 儲存 -->
                    <select name="read_permi" ng-model="edit_data.read_permi">
                        <option ng-selected="edit_data.read_permi =='public'" value="public">{{ 'TEACHER_TEXT_PUBLIC' | translate }}</option>
                        <option ng-selected="edit_data.read_permi =='private'" value="private">{{ 'TEACHER_TEXT_PRIVATE' | translate }}</option>
                    </select>
                </div>

                <div class="no_change_pup">
                    <div class="no_change_post bor_s_1">
                        <div class="title bc_BR tc_WS">{{ 'NO_CHANGE_POST' | translate }} <i ng-click="closeNoChange()" class="fa fa-times" aria-hidden="true"></i> </div>
                        <div class="content_box">{{ 'NO_CHANGE_TEXT' | translate }} </div>
                        <div class="btns">
                            <button ng-click="yesNoChange()" class="no_change_btn bc_BR tc_WS">{{ 'NO_CHANGE_BTN' | translate }} </button>
                            <button ng-click="closeNoChange()" class="no">{{ 'NO' | translate }} </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="mid" ng-if="teacher_tmp_arr[0].approval !='Y'">

    <div class="noSearch">
        <div class="box">
            {{ 'NO_ACCOUNT_OF_CLOSE' | translate }}
        </div>
    </div>
    
</div>