<div class="mid">
    <!-- search
    <div class="search-box">
        <form ng-submit="submit(data)">
            <div>
                <input id="text" ng-model="data.text" name="text" type="text">
            </div>

            <div class="time-search"><i class="fa fa-calendar" aria-hidden="true"></i>
                <input id="this_day" ng-model="data.this_day" name="this_day" type="text" value="" />
            </div>
            <button class="bc_BR tc_WS" ng-click="Search(data)" type="button">{{ 'VIEW_LIST_SEARCH_BUTTON' | translate }}</button>
        </form>
    </div>
    -->
    <div class="all-teacher-box">
        <div ng-repeat="(key_this_day_teacher,this_day_teacher) in teacher_data.data['0'].tmp_teach_arr">
            <a href="Course.TeacherText/{{this_day_teacher.id}}">
                <img class="t_pic" src="upload/teach/{{this_day_teacher.image}}" alt="">
            </a>
            <div style="display:none;" class="star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="name">{{this_day_teacher.nick_name}}</div>
        </div>

    </div>
    <div class="more-btn">{{ 'VIEW_LIST_MORE' | translate }}</div>
</div>

<script type="text/javascript-lazy">
    $(document).ready(init)
    function init() {

        // 幫 input 加上提示，用預設的 className(blur)
        $("input[title!='']").hint();
        $("input[ng-attr-title!='']").hint();
        // 幫 textarea 加上提示，並用自訂的 className
        $("textarea[title!='']").hint("myBlur");

        //起始時間與結束時間
        $("#this_day").datepicker({
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
            minDate: 'today',
            maxDate: "+2m"
        });
        $(".this_day").datepicker({
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
            minDate: 'today',
            maxDate: "+2m"
        });
        //起始時間與結束時間

        $('.more-btn').click(function () {
            $(".all-teacher-box").css('height', 'auto')
        })

    }
</script>