<div ng-init="indexBannerApp()" id="indexBanner" class="index-banner shadow_s_1">
    <div class="bannetPNbtn prevBtn" ng-click="prev()"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div ng-init="bannerBtns()" class="bannerBtns">
        <div class="nowThis">●</div>
        <div class="">●</div>
        <div class="">●</div>
    </div>
    <div class="sd_box sd_1"><img src="images/shadow.png" alt=""></div>
    <div class="bg-box" style="margin-left:0px">
        <div class="bannerImgBox now-img">
            <div class="slogan">
                <div class="">{{ 'SLOGAN1' | translate }}</div>
            </div>
            <img src="images/indexBannerPic1.jpg" alt="">
        </div>
        <div class="bannerImgBox">
            <div class="slogan">
                <div class="">{{ 'SLOGAN2' | translate }}</div>
            </div>
            <img class="" src="images/indexBannerPic2.jpg" alt="">
        </div>
        <div class="bannerImgBox">
            <div class="slogan">
                <div class="">{{ 'SLOGAN3' | translate }}</div>
            </div>
            <img class="" src="images/indexBannerPic3.jpg" alt="">
        </div>
    </div>
    <div class="bannetPNbtn nextBtn" ng-click="next()"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>

<div ng-init="indexVideoBanner()" class="index-video shadow_s_1">
    <div class="index-title">{{ 'INDEX_VIEW_LIST_VIDEO_BOX_TITLE' | translate }}</div>
    <div ng-init="indexVideoShow()" id="indexVideoGroup" class="video-wrap">
        <div class="video-group nowVideoGroup">
            <div class="video-box">
                <div class="sd_box sd_2"><img src="images/shadow.png" alt=""></div>
                <img class="videolink" src="images/index_one_img1.jpg" alt="teaching1video">
                <div class="paly-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
                <div class="video-name">一分鐘視頻了解我們</div>
            </div>
            <div class="video-box">
                <div class="sd_box sd_2"><img src="images/shadow.png" alt=""></div>
                <img class="videolink" src="images/index_one_img2.jpg" alt="teaching1video">
                <div class="paly-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
                <div class="video-name">video name</div>
            </div>
            <div class="video-box">
                <div class="sd_box sd_2"><img src="images/shadow.png" alt=""></div>
                <img class="videolink" src="images/index_one_img3.jpg" alt="teaching1video">
                <div class="paly-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
                <div class="video-name">video name</div>
            </div>
            <div class="video-box">
                <div class="sd_box sd_2"><img src="images/shadow.png" alt=""></div>
                <img class="videolink" src="images/index_one_img1.jpg" alt="teaching1video">
                <div class="paly-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
                <div class="video-name">video name</div>
            </div>
            <div class="video-box">
                <div class="sd_box sd_2"><img src="images/shadow.png" alt=""></div>
                <img class="videolink" src="images/index_one_img2.jpg" alt="teaching1video">
                <div class="paly-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
                <div class="video-name">video name</div>
            </div>
            <div class="video-box">
                <div class="sd_box sd_2"><img src="images/shadow.png" alt=""></div>
                <img class="videolink" src="images/index_one_img3.jpg" alt="teaching1video">
                <div class="paly-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
                <div class="video-name">video name</div>
            </div>
        </div>
    </div>
    <div class="btnG"><span class="now-group">●</span></div>
</div>
<div class="index-msg-box idea shadow_s_1">
    <div class="con-box-1 f-right">
        <span class="title">{{ 'INDEX_VIEW_LIST_MSG_BOX_TITLE' | translate }}</span>
        <ul>
            <li><a href="Fan.FanText/7f33e713-3c61-11e7-91f8-74d435c7f214">热门招生中 George Mason Univers</a></li>
            <li><a href="Fan.FanText/7f33e38e-3c61-11e7-91f8-74d435c7f214">热门招生中 University of Wiscon</a></li>
            <li><a href="Fan.FanText/7f33e7ca-3c61-11e7-91f8-74d435c7f214">热门招生中 Ball State Universit</a></li>
            <li><a href="Fan.FanText/7f33e85a-3c61-11e7-91f8-74d435c7f214">热门招生中 北京师范大学</a></li>
            <li><a href="Fan.FanText/7f33e8e3-3c61-11e7-91f8-74d435c7f214">热门招生中 北京交通大学</a></li>
            <li><a href="Fan.FanText/7f33e98a-3c61-11e7-91f8-74d435c7f214">热门招生中 中国传媒大学</a></li>
        </ul>
        <div ng-click="popupmorenews()" class="more">more...</div>
    </div>
    <div class="con-box-2">
        <!--<h2>{{ 'INDEX_VIEW_LIST_MSG_BOX_CONTENT_TITLE' | translate }}</h2>-->
        <h2>Say hi to the world</h2>
        <p>
            {{ 'SHOWHI_CAN_HELP_YOU_CONTEXN_1' | translate }}
            <br> {{ 'SHOWHI_CAN_HELP_YOU_CONTEXN_2' | translate }}
            <br> {{ 'SHOWHI_CAN_HELP_YOU_CONTEXN_3' | translate }}
            <br> {{ 'SHOWHI_CAN_HELP_YOU_CONTEXN_4' | translate }}
            <br> {{ 'SHOWHI_CAN_HELP_YOU_CONTEXN_5' | translate }}
        </p>
    </div>
</div>
<div class="index-msg-box teachers shadow_s_1">
    <div class="con-box-1 f-left">
        <span class="title">{{ 'INDEX_VIEW_LIST_TEACHER_BOX_TITLE' | translate }}</span>
        <p>
            {{ 'INDEX_VIEW_LIST_TEACHER_BOX_CONTENT_TEXT' | translate }}
        </p>
    </div>
    <div class="con-box-2">
        <div class="teacher-img">
            <div ng-repeat="(key_this_fan_list,this_fan_list) in fan_list">
                <a href="Fan.FanText/{{this_fan_list.id}}">
                    <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                    <img src="upload/fan/{{this_fan_list.image}}" alt="">
                    <div class="schoolName">{{this_fan_list.nick_name}}</div>
                </a>
            </div>
        </div>
        <div ng-click="popupmoreuser()" class="more">more...</div>
    </div>
</div>
<div class="indexAppBox">
    <div class="test">coming soon...</div>
    <img src="images/app.png" alt="">
</div>
<div class="about indexabout shadowInset">
    <div class="leftIndex">
        <div class="subTitle">Help & Contact</div>
        <div class="icons">
            <div>
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                <span>FAQ</span>
            </div>
            <div>
                <a href="mailto:service@showhi.co">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>EMAIL</span>
                </a>
            </div>
            <div>
                <i class="fa fa-weixin" aria-hidden="true"></i>
                <span>WEIXIN</span>
            </div>
        </div>
        <div class="subTitle">We are here 24/7</div>
<!--
        <div class="text">
            Mon-Fri 10am - 10pm ET | Sat & Sun 10am - 5pm ET

        </div>
-->
    </div>
    <div ng-controller="WebSubtion" class="right">
        <div class="subTitle">Stay connected with Showhi</div>
        <input ng-model="data.email" type="text" title="Your email" tabindex="-1">
        <button ng-click="AddwebSubtion()">Subcribe</button>
        <div class="commIcons">
            <div><i class="fa fa-weibo" aria-hidden="true"></i></div>
            <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
            <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
        </div>
    </div>
</div>
<div class="indexF" ng-init="indexFevent()">
    <div><span>About Us</span></div>
    <div><span>Terms & Conditions</span></div>
    <div><span>Privacy</span></div>
</div>


<div class="indexpopup">
    <div ng-click="colsePopUp()" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="newsList">
        <div class="title">
            {{ 'INDEX_VIEW_LIST_MSG_BOX_TITLE' | translate }}
        </div>
        <div ng-init="schoolLinkClick()" class="listBox">
            <ul>
                <li>
                    <a href="Fan.FanText/7f33e713-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/teach/S_6164864097877.jpg" alt="">
                        </div>
                        <div class="schoolName">热门招生中 George Mason Univers</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e38e-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/teach/university-of-wisconsin-madison.jpg" alt="">
                        </div>
                        <div class="schoolName">热门招生中 University of Wiscon</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e7ca-3c61-11e7-91f8-74d435c7f214">
                        <a href="Fan.FanText/7f33e713-3c61-11e7-91f8-74d435c7f214">
                            <div class="imgBox">
                                <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                                <img src="upload/fan/fcde896bc70a8077f4381f0620c0b7af.png" alt="">
                            </div>
                            <div class="schoolName">热门招生中 Ball State Universit</div>
                        </a>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e85a-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/teach/d863474b753b1fc281988c41974b355c.jpg.png" alt="">
                        </div>
                        <div class="schoolName">热门招生中 北京师范大学</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e8e3-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/teach/BJTU_emblem.svg.png" alt="">
                        </div>
                        <div class="schoolName">热门招生中 北京交通大学</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e98a-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/fan/978c10b5ddc8b92016fde166769db08b.jpg" alt="">
                        </div>
                        <div class="schoolName">热门招生中 中国传媒大学</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e713-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/teach/S_6164864097877.jpg" alt="">
                        </div>
                        <div class="schoolName">热门招生中 George Mason Univers</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e38e-3c61-11e7-91f8-74d435c7f214">
                       <div class="imgBox">
                        <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                        <img src="upload/teach/university-of-wisconsin-madison.jpg" alt="">
                        </div>
                        <div class="schoolName">热门招生中 University of Wiscon</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e7ca-3c61-11e7-91f8-74d435c7f214">
                        <a href="Fan.FanText/7f33e713-3c61-11e7-91f8-74d435c7f214">
                            <div class="imgBox">
                                <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                                <img src="upload/fan/fcde896bc70a8077f4381f0620c0b7af.png" alt="">
                            </div>
                            <div class="schoolName">热门招生中 Ball State Universit</div>
                        </a>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e85a-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/teach/d863474b753b1fc281988c41974b355c.jpg.png" alt="">
                        </div>
                        <div class="schoolName">热门招生中 北京师范大学</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e8e3-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/teach/BJTU_emblem.svg.png" alt="">
                        </div>
                        <div class="schoolName">热门招生中 北京交通大学</div>
                    </a>
                </li>
                <li>
                    <a href="Fan.FanText/7f33e98a-3c61-11e7-91f8-74d435c7f214">
                        <div class="imgBox">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <img src="upload/fan/978c10b5ddc8b92016fde166769db08b.jpg" alt="">
                        </div>
                        <div class="schoolName">热门招生中 中国传媒大学</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="userList">
        <div class="title">{{ 'INDEX_VIEW_LIST_TEACHER_BOX_TITLE' | translate }}</div>
        <div ng-init="schoolLinkClick()" class="listBox">
            <div ng-repeat="(key_this_fan_list,this_fan_list) in fan_list">
                <a href="Fan.FanText/{{this_fan_list.id}}">
                    <div class="imgBox">
                        <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                        <img src="upload/fan/{{this_fan_list.image}}" alt="">
                    </div>
                    <div class="schoolName">{{this_fan_list.nick_name}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--
<div class="popupFATP">
    <div class="fatpBox">
         <div class="faq">
             <p>
                 <div class="fatpTitle">FAQ</div>
                 <div class="fatpContent">
                 </div>
             </p>
         </div>
    </div>
</div>
-->
