/*--------------------------------*/
/*----------    共用   ------------*/
/*--------------------------------*/
.float-right { float: right !important; }
.left { width: 25%; margin-top: 20px; margin-left: 35px; float: left;}
.right { float: right; margin-top: 20px; width: 68%; margin-right: 30px;}
.vaaccount-box { display: none;}
.mid { min-height: 79vh }
/*--------------------------------*/
/*---------   banner   -----------*/
/*--------------------------------*/
.banner { width: 100%; height: 350px; background: #000; position: relative; background-size: cover; }
.banner .user-img { width: 180px; height: 180px; left: 50px; position: absolute; bottom: -30px; border-radius: 3px; overflow: hidden; border: solid 2px #fff; background: #635f5f; }
.banner .user-name { position: absolute; left: 260px; bottom: 15px; font-size: 2em; color: #fff; text-shadow: 0 0 2px #525252;}
.mid { width: 100%; background: #f3f1e9; float: left; padding-bottom: 20px; }
ul.function-menu { box-sizing: border-box; overflow: hidden; width: 100%; padding-left: 260px; background: #fff; float: left; margin: 0; border-bottom: solid 1px #b3b3b3; border-top: solid 1px #b3b3b3;}
ul.function-menu li { float: left; padding: 10px 0; width: 10%; border-left: solid 1px #b3b3b3; text-align: center; border-right: solid 1px #b3b3b3; margin-left: -1px; cursor: pointer; }
ul.function-menu li:hover { background: #525252; color: #fff;}
ul.function-menu li a { color: #000; text-decoration: none; display: block; }
ul.function-menu li:hover a { color: #fff; } 

/*-- teacher --*/
.modify-bg { cursor: pointer; background: rgba(0, 0, 0, 0.75); border: solid 1px #fff; overflow: hidden; display: -webkit-inline-box; padding: 2px 15px; color: #fff; position: absolute; top: 10px; right: 20px; border-radius: 3px;}
.modify-img { cursor: pointer; position: absolute; background: rgba(0, 0, 0, 0.75); border-radius: 3px; border: solid 1px #fff; right: 3px; bottom: 3px; color: #fff; padding: 3px 15px;}
.modify-bg:hover , .modify-img:hover { color: #ddc53f; }
.modify-bg .fa , .modify-img .fa { margin-right: 5px; }

/*--------------------------------*/
/*------   page-left-box   -------*/
/*--------------------------------*/

/*------   booking   -------*/
.buttons button { width: 100%; border: none; background: #dd883f; font-size: 25px; border-radius: 3px; color: #fff; font-weight: bold; padding: 5px 0; cursor: pointer;}
.buttons button:hover { background: #525252; }
.time-search { margin: 15px 0 0 0; }
.time-search select { width: 24%; height: 24px;}
.time-search span { display: block; width: 100%; margin-bottom: 5px; background: #353535; border-radius: 3px; color: #fff; padding: 5px 10px; box-sizing: border-box;}
.time-search button { margin-top: 5px; padding: 2px 0; font-size: 20px;}
/*------   about-me   -------*/
.about-box { margin-top: 15px; border: solid 1px #b3b3b3; width: 100%; height: 200px; padding: 10px; background: #fff; box-sizing: border-box; float: left; }
.about-box span { padding-bottom: 5px; border-bottom: solid 1px #000; display: block;}
.text-box { font-size: 13px; line-height: 20px; overflow: auto; height: 140px; margin: 10px 0; padding-right: 10px;}
.videos , .group-box { margin-top: 15px; border: solid 1px #b3b3b3; width: 100%; min-height: 200px; padding: 10px; background: #fff; box-sizing: border-box; float: left; }
/*------   video-box   -------*/
.videos:hover .video-box { opacity: 0.5; }
.video-box { width: 33.3%; float: left; padding: 0.5px; box-sizing: border-box; cursor: pointer; }
.videos .video-box:hover { opacity: 1; }
/*------   group-box   -------*/
.group-box span { padding-bottom: 5px; border-bottom: solid 1px #000; display: block;}
.group-box > div { width: 100%; min-height: 50px; float: left; padding: 10px 0; }
.group-box > div > div { width: 48px; float: left; border-radius: 3px; padding: 1px; box-sizing: border-box; border: solid 1px #d2d2d2; margin: 0 3px 3px 0; cursor: pointer; }
/*------ modify ------*/
.user-date { background: #fff; border-radius: 3px; border: solid 1px #b3b3b3; padding: 10px; box-sizing: border-box; margin-bottom: 15px; float: left; width: 100%; }
.user-date > span { padding-bottom: 5px; border-bottom: solid 1px #b3b3b3; display: block; margin-bottom: 10px; }
.user-date > div { margin-bottom: 15px;}
.user-date > div > span { display: block; padding-bottom: 5px;}
.user-date div input { width: 100%; padding: 5px; box-sizing: border-box; border: none; border-bottom: solid 1px #b3b3b3;}
.user-date div select { width: 100%; border: none; border-bottom: solid 1px #b3b3b3; padding-bottom: 5px;}
.user-date div textarea { padding: 5px; width: 100%; box-sizing: border-box;}
/*--- day ---*/
div#ui-datepicker-div { background: #fff; padding: 10px; border: solid 2px #dd883f; border-radius: 3px; width: 23%; }
select.ui-datepicker-month { margin-right: 5px;}
.ui-datepicker-title { float: left; width: 100%; margin-bottom: 15px; padding-top: 10px; border-top: solid 1px #000;}
span.ui-icon.ui-icon-circle-triangle-w , span.ui-icon.ui-icon-circle-triangle-e { cursor: pointer; margin: 0 5px 10px 0; display: block; float: left; background: #dd883f; padding: 3px 0px; color: #fff; border-radius: 3px; font-size: 13px; width: 40%; text-align: center;}
span.ui-icon.ui-icon-circle-triangle-w:hover , span.ui-icon.ui-icon-circle-triangle-e:hover { background: #353535; }
.ui-datepicker-calendar a { text-decoration: none; color: #dd883f; }
.ui-datepicker-calendar a:hover { color: #2196f3; }
table.ui-datepicker-calendar { width: 100%; text-align: center;}
table.ui-datepicker-calendar td{ padding: 10px 0;}
.ui-datepicker-title select { width: 40%;}
i.fa.fa-calendar { float: left; margin-right: 8px; font-size: 20px;}
input#this_date { padding: 1px 5px;}
.seDateTime { margin: 10px 0 5px 0; position: relative; }
.seDateTime input { width: 100%; padding: 5px 30px; box-sizing: border-box;}
.seDateTime .fa { position: absolute; top: 4px; left: 5px;}
/*--------------------------------*/
/*------   page-right-box   ------*/
/*--------------------------------*/

/*------   po-msg   -------*/
.po-msg-box { width: 100%; float: left; background: #fff; border: solid 1px #b3b3b3; border-radius: 3px;}
.po-msg-box span.title { display: block; width: 100%; padding: 5px 20px; box-sizing: border-box; background: #dd883f; color: #fff;}
.msg-box { padding: 6px 5px; box-sizing: border-box; float: left; width: 100%; border-bottom: solid 1px #b3b3b3;}
.msg-box .user-img { width: 10%; float: left;}
.msg-box textarea { width: 88.8%; margin-left: 0.5%; float: left; height: 84px;}
.send-box { padding: 6px 5px; width: 100%; float: left; text-align: right; box-sizing: border-box;}
.send-box button { width: 10%; border: solid 1px #b3b3b3; background: #dd883f; font-size: 16px; font-weight: 400; color: #fff; border-radius: 3px; cursor: pointer;}
.send-box button:hover { background: #525252; }
/*------   class-msg-box   -------*/
.class-msg { width: 100%; float: left; margin-top: 15px;}
.class-msg span { display: block; width: 100%; padding-bottom: 10px;}
ul.booking-msg-box { width: 100%; float: left;}
ul.booking-msg-box li.teacher-img { width: 10%; border-radius: 3px; overflow: hidden; float: left; border: solid 1px #b7b7b7; margin-right: 10px; margin-top: 3px; padding: 0;}
ul.booking-msg-box li { margin-bottom: 3px;}
/*---------  user-msg-box  ---------*/
.user-msg-box { float: left; width: 100%; border-radius: 3px; border: solid 1px #b3b3b3; box-sizing: border-box; margin-top: 10px; }
ul.user { float: left; width: 100%;}
ul.user li.user-img { width: 43px; float: left; margin-right: 10px; }
ul.user li.po-time { font-size: 13px;}
.user-msg-box video { width: 100%; float: left; margin: 5px 0;}
.user-msg-box > div { padding: 10px; float: left; width: 100%; box-sizing: border-box; background: rgba(255, 255, 255, 0.4); }
.user-msg-box div.msg-1 { background: #fff; border-bottom: solid 1px #b3b3b3; }
.user-msg-box div.msg-btns { background: #fff; border-bottom: solid 1px #b3b3b3; padding: 0; }
.msg-btns > div { float: left; width: 12%; border-right: solid 1px #b3b3b3; text-align: center; padding: 5px 0 ; cursor: pointer; }
.msg-btns > div:hover { background: #dd883f; color: #fff; }
.evaluate > div { float: left; margin-right: 20px; font-size: 21px; margin-left: 10px; }
.share .fa { font-size: 30px; margin-left: 20px; }
.evaluate , .share { display: none; margin-top: 10px; border-top: solid 1px #b3b3b3; padding-top: 15px; }
.po-text .t_1 { width: 30px; float: left; margin-right: 10px; border-radius: 3px; overflow: hidden;}
.po-text input { width: 90%; height: 25px; padding: 0 10px;}
.all-msg { margin-top: 15px; border-top: solid 1px #b3b3b3; padding-top: 15px;}
.user-po { width: 100%; float: left; margin-top: 10px; padding-bottom: 10px; border-bottom: solid 1px #b3b3b3; display: none; }
.user-po .u_img { width: 6%; float: left; margin-right: 1%;}
.u_text { width: 93%; float: left; overflow: hidden;}
.u_text span { color: #2196F3;}
.u_text .time { font-size: 13px;}
.msg-text { word-wrap: break-word; margin-top: 5px;}

/*---------  modify-class-time  ---------*/
.change-day { width: 100%; background: #fff; box-sizing: border-box; padding: 15px; border-radius: 3px; border: solid 1px #b3b3b3; float: left; }
.change-day > div { float: left; margin-right: 20px;}
.class-time-box { float: left; width: 100%; box-sizing: border-box;}
.class-time-box > div { float: left; padding: 5px 10px; background: #fff; border-radius: 3px; border: solid 1px #b3b3b3; width: 20%; margin: 10px 5px 10px 0; text-align: center; cursor: pointer;}
.booking-time-box { width: 100%; background: #fff; float: left; border-radius: 3px; border: solid 1px #b3b3b3; box-sizing: border-box; overflow: hidden; }
.time-list { width: 200%; float: left; }
.time-list > div { width: 50%; float: left; padding: 15px; box-sizing: border-box; transition: 0.25s ease; -o-transition: 0.25s ease; -webkit-transition: 0.25s ease; }
.time-list > div ul { width: 12.5%; float: left;}
.time-list > div ul li { float: left; width: 100%; margin: 1px 1px; box-sizing: border-box; text-align: center; cursor: pointer; padding: 5px 0; position: relative; }
.time-list > div ul li.time ,.time-list > div ul.week li { cursor: default; }
.moving { margin-left: -50%; }
.week-title { width: 100%; float: left; padding: 20px 15px 0 15px; box-sizing: border-box; text-align: center;}
.week-title div { width: 12.5%; float: left; }
.class-time-box > div.nowTimeList { background: #dd883f; color: #fff; }
.time-list > div ul li.open { background: #dd883f; color: #fff; border-radius: 3px; position: relative;}
.time-list > div ul li input { position: absolute; left: 0; opacity: 0;}
/*---------  modify-video  ----------*/
.title > div { float: right; font-size: 15px; margin-left: 5px; }
.up-video span { padding: 4px 5px; display: -webkit-inline-box; width: initial; float: left; line-height: 1; margin-right: 10px; border-right: solid 1px #969696;}
.up-video { background: #eee; padding: 3px; border-radius: 3px; border: solid 1px #a09b9b;}
.up-btn button { font-size: 16px; padding: 4px 10px; border-radius: 3px; border: solid 1px #a09b9b; background: #dd883f; color: #fff; cursor: pointer;}
.up-btn button:hover { background: #525252; }
/*--------------------------------*/
/*-----------   pop-up   ---------*/
/*--------------------------------*/

/*-------  recommend  ------*/
.recommend-box { display: none; }
.recommend-box span { margin-bottom: 5px; display: block;}
.friend-img { width: 20%; padding: 5px; float: left; box-sizing: border-box; cursor: pointer; font-size: 13px; line-height: 22px;}
.recommend-box .btn { width: 100%; float: left; text-align: right; margin-top: 10px; border-top: solid 1px #cacaca; padding-top: 10px;}
.recommend-box .btn button { width: 20%; }
label.friend-img { position: relative; opacity: 0.5; }
label.friend-img input { position: absolute; left: 10px; top: 10px; opacity: 0; }
label.friend-img.selectThis { opacity: 1; }
/*-------  video  ------*/
.pop-up video { width: 80%; margin: 20px 10%; display: none;}
/*------  booking  -------*/
.booking { width: 60%; margin: 20px 20%; padding: 20px; box-sizing: border-box; background: #fff; border-radius: 3px; float: left; display: none;}
.teacher-dt { width: 100%; float: left; padding-bottom: 15px; border-bottom: solid 1px #b3b3b3;}
.teacher-dt .img-box { width: 25%; margin-right: 2%; float: left;}
.teacher-dt .date { width: 31%; margin-right: 2%; float: left;}
.teacher-dt .date div { margin-bottom: 5px; border-bottom: solid 1px #b3b3b3; padding-bottom: 5px;}
.teacher-dt .date span { font-size: 14px; display: block;}
.teacher-dt .about { width: 40%; float: left; font-size: 14px;}
.teacher-dt .about span { display: block; margin-bottom: 5px; font-size: 16px; }
.teacher-dt .about .msg-text { height: 163px; float: left; width: 100%; overflow: auto;}
.booking .time-box ul li { float: left; padding: 10px 20px 10px 0; cursor: pointer; }
.booking .time-box ul li.thisTime { color: #dd883f; }
.booking .time-box ul li:hover { color: #dd883f; }
.booking .time-box { float: left;}
.booking .time-box span { padding: 7px 0; display: block; width: 100%; float: left;}
.booking .day-box { margin-bottom: 10px; border-bottom: solid 1px #dedede; padding-bottom: 20px;}
.day-box select { width: 15%;}
.class-books > div { width: 25%; float: left; padding: 1px; box-sizing: border-box; opacity: 0.5; cursor: pointer; }
.class-books > div:hover { opacity: 1; }
.class-books span { padding: 7px 0; display: block; width: 100%; float: left;}
.time-box { border-bottom: solid 1px #b3b3b3; padding-bottom: 10px; margin-bottom: 10px;}
.class-books > div.thisBook { opacity: 1; } 

/*--------------------------------*/
/*---------   video-page   -------*/
/*--------------------------------*/

.all-video-box { width: 70%; float: left; margin: 15px 15%; background: #fff; border: solid 1px #cecece; box-sizing: border-box;}
.all-video-box div.title { font-size: 23px; padding: 10px 20px; border-bottom: solid 1px #cecece;}
.all-video-box div.title .fa { margin-right: 10px; }
.v-box { width: 100%; padding: 20px; box-sizing: border-box; float: left; }
.v-box > div { width: 20%; padding: 5px; box-sizing: border-box; float: left; cursor: pointer; }
.v-box:hover > div { opacity: 0.5; }
.v-box > div:hover { opacity: 1; }

/*--------------------------------*/
/*-----------   footer   ---------*/
/*--------------------------------*/

footer { width: 100%; text-align: center; padding: 24px 0; float: left; background: #dd883f;}

/*--------------------------------*/
/*-----------   RWD   ------------*/
/*--------------------------------*/


@media screen and (max-width: 1280px) {
    
/*--------------------------------*/
/*---------   banner   -----------*/
/*--------------------------------*/
    
    li.float-right.recommend { width: 15%;}
    
/*--------------------------------*/
/*------   page-left-box   ------*/
/*--------------------------------*/
    
    .left { width: 28%; margin-top: 20px; margin-left: 15px; float: left;}
    .time-search select { width: 49%; height: 24px; margin: 2px 0;}
    
/*--------------------------------*/
/*------   page-right-box   ------*/
/*--------------------------------*/
    
    .right { float: right; margin-top: 20px; width: 68%; margin-right: 15px;}
    .msg-box textarea { width: 88%; margin-left: 1%; float: left; height: 61px;}
    ul.booking-msg-box li.teacher-img { width: 13%; }
 
    .booking { width: 80%; margin: 20px 10%; padding: 20px; box-sizing: border-box; background: #fff; border-radius: 3px; float: left; display: none;}
    
}


/*-------- 980 -------*/
@media screen and (max-width: 980px) {
/*--- user-banner ---*/    
    .banner { height: 250px; }
    .banner .user-img { left: 20px; width: 140px; height: 140px; bottom: 16px; }
    .banner .user-name { position: absolute; left: 175px; width: 51%; bottom: 15px; word-wrap: break-word; font-size: 2em; color: #fff; text-shadow: 0 0 2px #525252;}
    ul.function-menu { box-sizing: border-box; overflow: hidden; width: 100%; padding-left: 0; background: #fff; float: left; margin:0; border-bottom: solid 1px #b3b3b3; border-top: solid 1px #b3b3b3;}
    ul.function-menu li { width: 20%;}
    li.float-right.recommend { width: 25%;}
/*---- page-banner-menu ----*/    
    ul.function-menu li { width: 16%;}
    .left { width: 100%; margin-top: 20px; margin-left: 0; float: left; padding: 0 20px; box-sizing: border-box;}
    .right { float: right; margin-top: 20px; width: 100%; margin-right: 0; padding: 0 20px; box-sizing: border-box;}
    .member-box { width: 75%; }
    ul.booking-msg-box li.teacher-img { width: 13%; padding: 0;}
    .all-video-box { width: 90%; float: left; margin: 15px 5%; background: #fff; border: solid 1px #cecece; box-sizing: border-box;}
/*--- day --*/
    div#ui-datepicker-div { width:80%;}
/*---  po-msg  ---*/
    .msg-box textarea { width: 87%; margin-left: 1%; float: left; height: 30px;}
    .send-box button { width: 100%; }
    .po-text input { width: 77%; height: 28px; padding: 0 10px;}
    .msg-btns > div { float: left; width: 20%; }
/*---  pop-up  ---*/    
    .pop-up video { width: 100%; margin: 25vh 0;}
    
    .teacher-dt .img-box { display: none; }
    .teacher-dt .date , .teacher-dt .about { width: 100%; }
    
    
}