<div class="mid communityPage">
    <!-- banner -->



    <!-- banner END -->

    <!-- 左邊區塊 -->
    <div ng-include="'templates/Fan/LeftMenu.htm'"></div>
    <!-- 右邊區塊 -->
    <div class="right">
        <!-- 粉絲團 banner -->
        <div ng-click="cutBanner()" ng-repeat="(key_this_fan , this_fan) in fan_tmp_list" class="banner" style="background-image: url(upload/fan/{{this_fan.bg_image}}); background-position-y:{{this_fan.bg_image_style}}%; ">
        </div>


        <!-- memberList -->
        <div class="memberList bor_s_1">
            <div class="communityMember bor_b">
                {{ 'ALL_MEMBER' | translate }}
            </div>
            <div class="searchMember">
                <div class="subTitle">{{ 'SEARCH_MEMBER' | translate }}</div> <input ng-model="searchword" type="text" title="{{ 'SEARCH_MEMBER' | translate }}">
            </div>
            <div class="memberBox">
                <div ng-repeat="(key_this_fan_user_list , this_fan_user_list) in fan_user_list  | filter:searchword track by $index " class="userBox bor_s_1">
                    <div class="userPic"><a href="Course.TeacherText/{{this_fan_user_list.user_id}}"> <img src="upload/teach/{{this_fan_user_list.image}}" alt=""></a> </div>
                    <div class="dateBox">
                        <a href="Course.TeacherText/{{this_fan_user_list.user_id}}"> <div>{{this_fan_user_list.nick_name}}</div></a>

                        <!--等待狀態 -->
                        <div ng-if="this_fan_user_list.approval =='A'">
                            <div>{{this_fan_user_list.post_date}} {{ 'APPLY_JOIN' | translate }}</div>
                            <div>
                                <div>{{ 'WAITING_CONSENT' | translate }}</div>
                                <button ng-if="this_fan_user_list.user_id == seedata.data[0].f_backend.user_id" ng-click="RefuseFanMember(this_fan_user_list.mang_id,key_this_fan_user_list)">{{ 'CANCEL_JOIN' | translate }}</button>
                            </div>
                        </div>

                        <!--邀請狀態 -->
                        <div ng-if="this_fan_user_list.approval =='I'">
                            <div>{{this_fan_user_list.post_date}} {{ 'INVITE_JOIN' | translate }}</div>
                            <div>
                                <div>{{ 'WAITING_CONFIRMATION' | translate }}</div>
                                <button ng-click="RefuseFanMember(this_fan_user_list.mang_id,key_this_fan_user_list)" ng-if="this_fan_user_list.user_id == seedata.data[0].f_backend.user_id">{{ 'CANCEL_JOIN' | translate }}</button>
                            </div>
                        </div>

                        <!--加入狀態 -->
                        <div ng-if="this_fan_user_list.approval =='Y'">
                            <div>{{this_fan_user_list.post_date}} {{ 'JOIN_COMMUNITY' | translate }}</div>
                        </div>

                        <div class="float_l" ng-if="this_fan_user_list.approval =='Y'">
                            <div class="memberIs">{{ 'IDENTITY' | translate }}: </div>
                                <div class="isAdmin" ng-if="this_fan_user_list.type =='admin'" >{{ 'ADMIN_MEMBER' | translate }}</div>
                                <div class="isAdmin" ng-if="this_fan_user_list.type =='board'" >{{ 'MSG_ADMIN' | translate }}</div>
                                <div class="isAdmin" ng-if="this_fan_user_list.type =='staff'" >{{ 'ADMINISTRATIVE' | translate }}</div>
                                <div class="isAdmin" ng-if="this_fan_user_list.type =='nomal'" >{{ 'GENERAL_USER' | translate }}</div>
                                <div class="isAdmin" ng-if="this_fan_user_list.type =='teach'" >{{ 'FACULTY_MEMBER' | translate }}</div
                        </div>
                        <div ng-if="this_fan_user_list.o_type !='admin' && this_fan_user_list.approval =='Y' && 
                        this_fan_user_list.user_id == seedata.data[0].f_backend.user_id">
                            <button class="quitBtnS1" ng-click="quitFanMember(this_fan_user_list.mang_id,key_this_fan_user_list)">{{ 'QUIT_COMMUNITY' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="thisSearchNoMember"><i class="fa fa-search" aria-hidden="true"></i> {{ 'SEARCHNOMEMBER1' | translate }} [ search text ] {{ 'SEARCHNOMEMBER2' | translate }}</div> -->

        </div>

    </div>
    <div ng-click="BoardCancel(data)" class="blackBg"></div>
    <!-- 編輯/刪除貼文 POP-UP -->
    <div class="change_msg_pup">
        <div class="change_msg_box bor_s_1">
            <!--刪除貼文-->
            <div class="del_msg">
                <div class="title bc_BR tc_WS">{{ 'DELETE_MSG' | translate }} <i ng-click="closeEditPost()" class="fa fa-times" aria-hidden="true"></i> </div>
                <div class="content_box">
                    {{ 'DELETE_POST_TEXT' | translate }}
                </div>
                <div class="btns">
                    <button ng-click="closeEditPost()" class="cancel">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                    <!--取消-->
                    <button ng-click="DeleteUP()" class="del_msg_btn bc_BR tc_WS">{{ 'DELETE_MSG' | translate }}</button>
                    <!--刪除貼文-->
                    <!--<button ng-click="editPost()" class="edit_post_Btn">{{ 'EDIT_POST' | translate }}</button>-->
                    <!--編輯貼文-->
                </div>
            </div>

            <!-- 編輯貼文 -->
            <div class="edit_msg">
                <div class="title bc_BR tc_WS">{{ 'EDIT_POST' | translate }} <i ng-click="noChangePost()" class="fa fa-times" aria-hidden="true"></i> </div>
                <div class="content_box">

                    <div class="user-img"><img src="upload/teach/{{seedata.data[0].f_backend.image}}" alt=""></div>
                    <div class="msg">
                        <textarea name="" ng-model="edit_data.text" id="" cols="30" rows="10" ng-attr-title=" {{'TEACHER_MY_PROFILE_POTEXT' | translate }}"></textarea>
                    </div>

                    <div class="imagr_or_video">
                        <div ng-show="edit_data.type =='1' "><img ng-src="upload/teach/{{edit_data.attached_name}}" alt=""></div>
                        <div ng-show="edit_data.type =='2' ">
                            <video id="target_video" type="video/mp4" controls="true" ng-src="{{'upload/teach/'+edit_data.attached_name}}"></video>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <button ng-click="BoardEditUP()" class="save_btn bc_BR tc_WS">{{ 'SAVE' | translate }}</button>
                    <!-- 儲存 -->
                    <select name="read_permi" ng-model="edit_data.read_permi">
                        <option ng-selected="edit_data.read_permi =='public'" value="public">{{ 'TEACHER_TEXT_PUBLIC' | translate }}</option>
                        <option ng-selected="edit_data.read_permi =='private'" value="private">{{ 'TEACHER_TEXT_PRIVATE' | translate }}</option>
                    </select>
                </div>

                <div class="no_change_pup">
                    <div class="no_change_post bor_s_1">
                        <div class="title bc_BR tc_WS">{{ 'NO_CHANGE_POST' | translate }} <i ng-click="closeNoChange()" class="fa fa-times" aria-hidden="true"></i> </div>
                        <div class="content_box">{{ 'NO_CHANGE_TEXT' | translate }} </div>
                        <div class="btns">
                            <button ng-click="yesNoChange()" class="no_change_btn bc_BR tc_WS">{{ 'NO_CHANGE_BTN' | translate }} </button>
                            <button ng-click="closeNoChange()" class="no">{{ 'NO' | translate }} </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<!-- 圖片裁切 -->
<div ng-controller="CorpCtrl" class="cut_pop_up">
    <!-- 頭像 -->
    <div class="avatar_cut cut_box">
        <div class="title bc_BR tc_WS">{{ 'AVATAR' | translate }} <i ng-click="closeCut();clear();imageCropStep =1; " class="fa fa-times" aria-hidden="true"></i></div>
        <div class="img_box">
            <div ng-show="imageCropStep == 2">
                <image-crop data-height="180" data-width="180" data-shape="square" data-step="imageCropStep" src="imgSrc" data-result="result" data-result-blob="resultBlob" crop="initCrop" padding="0" pcawidth="" pcaheight="430" max-size=""></image-crop>
            </div>
            <div ng-show="imageCropStep == 3">
                <img id="imguserphoto64" style="width:180px" ng-src="{{result}}"></img>
            </div>

        </div>
        <div class="btns">
            <input ng-show="imageCropStep == 1" name="file" id="TmpphotoFile" onchange="angular.element(this).scope().fileChanged(event)" accept='image/*' type="file">
            <div ng-show="imageCropStep == 2">

                <button class="bc_BR tc_WS" ng-click="initCrop = true">{{ 'SAVE' | translate }}</button>
                <button class="bc_BR tc_WS" ng-click="clear();imageCropStep =1;">{{ 'SHARE_POP_UP_BUTTONS_CLOSE' | translate }}</button>

            </div>
            <div ng-show="imageCropStep == 3">
                <button type="button" onclick="uploadUserPhoto('photo')" class="save bc_BR tc_WS">{{ 'SAVE' | translate }}</button>
                <!-- 儲存 -->
                <button ng-click="closeCut();clear();imageCropStep =1;" type="button" class="cancel bc_BR tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                <!-- 取消 -->
            </div>
        </div>
    </div>
    <!-- banner -->
    <div class="banner_cut cut_box">
        <div class="title bc_BR tc_WS">{{ 'BANNNER' | translate }} <i ng-click="closeCut();clear();imageCropStep =1; " class="fa fa-times" aria-hidden="true"></i></div>
        <div class="img_box">
            <div class="bannerCutImg" ng-show="imageCropStep2 == 2">
                <image-crop data-height="250" data-width="1520" data-shape="square" data-step="imageCropStep2" src="imgSrc" data-result="result" data-result-blob="resultBlob" crop="initCrop1" padding="250" pcawidth="730" pcaheight="350" max-size="1520"></image-crop>
            </div>
            <div ng-show="imageCropStep2 == 3">
                <img id="imguserbg64" style="width:100%" ng-src="{{result}}"></img>
            </div>
        </div>
        <div class="btns">
            <input ng-click="bannerCutSize()" ng-show="imageCropStep2 == 1" name="file" id="TmpbgphotoFile" onchange="angular.element(this).scope().fileChanged(event)" accept='image/*' type="file">
            <div ng-show="imageCropStep2 == 2">
                <button class="bc_BR tc_WS" ng-click="initCrop1 = true">{{ 'SAVE' | translate }}</button>
                <button class="bc_BR tc_WS" ng-click="clear();imageCropStep2 =1;">{{ 'SHARE_POP_UP_BUTTONS_CLOSE' | translate }}</button>
            </div>
            <div ng-show="imageCropStep2 == 3">
                <button type="button" onclick="uploadUserPhoto('bg')" class="save bc_BR tc_WS">{{ 'SAVE' | translate }}</button>
                <!-- 儲存 -->
                <button ng-click="closeCut();clear();imageCropStep2 =1;" type="button" class="cancel bc_BR tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                <!-- 取消 -->
            </div>
        </div>
    </div>
</div>

<div class="communityPopUp">
    <div ng-click="colsePopUp()" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
<!--
    <div class="funMsgPopUpBox bor_s_1 adminMember">
        <div class="title bor_b">新增粉絲團管理員 <i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i></div>
        <div class="content bor_b">
            成為粉絲團管理員，USER NAME 將可以編輯粉絲團設定、移除成員並為其他成員提供管理員身分。
        </div>
        <div class="btns">
            <button ng-click="adminMemberYes()" class="bc_BR tc_WS">指派為管理員</button>
            <button ng-click="colsePopUp()" class="bc_BR tc_WS">取消</button>
        </div>
    </div>
-->

    <div class="funMsgPopUpBox bor_s_1 deleteUser">
        <div class="title bor_b">{{ 'REMOVED' | translate }} <i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i></div>
        <div class="content bor_b">
            {{ 'REMOVED_TEXT' | translate }} ，USER NAME ?
        </div>
        <div class="btns">
            <button ng-click="deleteMenber()" class="bc_BR tc_WS">{{ 'YES' | translate }}</button>
            <button ng-click="colsePopUp()" class="bc_BR tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
        </div>
    </div>

    <div class="funMsgPopUpBox bor_s_1 quitCommnuity">
        <div class="title bor_b">{{ 'QUIT_COMMUNITY_TEXT' | translate }}<i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i></div>
        <div class="content bor_b">
            <a href="Course.TeacherText/{{this_fan_user_list.user_id}}">{{ 'QUIT_COMMUNITY_TEXT2' | translate }} {{fan_tmp_list[0].nick_name}} 。</a>
        </div>
        <div class="btns">
            <button ng-click="RefuseFanMember(tmp_mang_id,tmp_key)" class="bc_BR tc_WS">{{ 'QUIT_COMMUNITY' | translate }}</button>
            <button ng-click="colsePopUp()" class="bc_BR tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
        </div>
    </div>

<!--
    <div class="funMsgPopUpBox bor_s_1 removeAdmin">
        <div class="title bor_b">移除粉絲團管理員 <i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i></div>
        <div class="content bor_b">
            你即將移除 USER NAME 的粉絲團管理員身分。
        </div>
        <div class="btns">
            <button ng-click="removeAdminYes()" class="bc_BR tc_WS">確定</button>
            <button ng-click="colsePopUp()" class="bc_BR tc_WS">取消</button>
        </div>
    </div>
-->

</div>
