<div ng-init="leftBoxFixed()" class="left leftMenuFixd" ng-controller="FuncFriendsAndSubscript">

    <div class="communityNmae">
        <h1><a href="Fan.FanText/{{fan_tmp_list[0].id}}">{{fan_tmp_list[0].nick_name}}</a></h1>

        <div class="s_f_btns">
            <div ng-show="Subscription.length ===0 || Subscription['0'].approval ==='N' " class="subscribe_btn">

                <button ng-click="AddSubscription()" type="button">{{ 'TEACHER_TEXT_BUTTONS_SUBSCRIBE2' | translate }}
<!--                    <span ng-if="fan_tmp_list[0].fan_type =='school'">{{ 'FAN_TYPE_SCHOOL' | translate }}</span>-->
                    <span ng-if="fan_tmp_list[0].fan_type =='school'"></span>
                    <span ng-if="fan_tmp_list[0].fan_type =='department'">{{ 'FAN_TYPE_DEPART' | translate }}</span>
                    <span ng-if="fan_tmp_list[0].fan_type =='community'">{{ 'FAN_TYPE_COMMUNITY' | translate }}</span>
                </button>
            </div>
            <div ng-show="Subscription.length !==0 && Subscription['0'].approval ==='Y'  " class="cancelsubscribe_btn">
                <button ng-click="CancelSubscription()" type="button">{{ 'TEACHER_TEXT_BUTTONS_CANCEL_SUBSCRIBE' | translate }}

                </button>
            </div>
        </div>

        <div ng-if="fan_Iin_list[0].type =='admin' && pagename=='FanMange'" class="status">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <select name="approval" ng-change="ChangeFanApproval()" ng-model="tmp_fan.approval">
                <option id="hidden_option" value="" selected hidden />
                <option ng-selected="fan_tmp_list[0].approval =='Y'" value="Y">{{ 'OPEN_COMMUNITY' | translate }} </option>
                <option ng-selected="fan_tmp_list[0].approval =='N'" value="N">{{ 'NOT_OPEN_COMMUNITY' | translate }}</option>
            </select>
        </div>

    </div>
    <ul ng-if="fan_Iin_list_count ==1" class="leftMenu">
        <li><a href="Fan.FanText/{{fan_tmp_list[0].id}}">{{ 'INDEX_PAGE' | translate }}</a></li>
        <li><a href="Fan.MyFanList">{{ 'MY_COMMUNITY' | translate }}</a></li>
<!--        <li ng-click="openCalendar()"><a href="#">{{ 'CALENDAR' | translate }}</a></li>-->
        <li><a href="Fan.FanMangeMember/{{fan_tmp_list[0].id}}">{{ 'MEMBER_USER' | translate }}</a></li>
        <li ng-if="fan_Iin_list[0].type =='admin' && seedata.data[0].f_backend.approval =='Y'"><a href="Fan.FanMange/{{fan_tmp_list[0].id}}">{{ 'COMMUNITY_ADMIN' | translate }}</a></li>
        <li ng-if="fan_Iin_list[0].type =='admin' && seedata.data[0].f_backend.approval =='Y'"><a href="Fan.FanReport/{{fan_tmp_list[0].id}}">{{ 'COMM_REPORT' | translate }}</a></li>
    </ul>
    <ul ng-if="fan_Iin_list_count ==0" class="leftMenu">
        <li ng-click="AddFanMember(fan_tmp_list[0].id)"><a href="#">{{ 'JOIN_COMMUNITY' | translate }}</a></li>
    </ul>
    <div class="aboutCommunity shadow_s_1">
        <div class="title bor_b bc_BR tc_WS">{{ 'ABOUT_COMMUNITY' | translate }}</div>
        <div class="content">
           <p ng-if="fan_tmp_list[0].text < 1">{{ 'NO_ABOUT' | translate }}</p><!-- 沒內容時顯示 -->
            {{fan_tmp_list[0].text}}
        </div>
    </div>
    <div class="left_group">
        <div class="group-box1">
            <span ng-show="1">{{ 'ADMINISTRATIVE' | translate }}</span>
            <div ng-show="1">
                <div ng-repeat="(key_fan_staff , this_fan_staff) in fan_staff_list" class="memberList">
                    <div class="">
                        <a href="Course.TeacherText/{{this_fan_staff.user_id}}">
                            
                            <div class="picBox teacherPic">
                               <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                                <img src="upload/teach/{{this_fan_staff.image}}" alt="">
                            </div>

                            <div>{{this_fan_staff.nick_name}}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-box1">
            <span ng-show="1">{{ 'MEMBER_USER' | translate }} <div class="userNember">( {{fan_man_list_count}} )</div> </span>
            <div ng-show="1">
                <div ng-repeat="(key_fan_man , this_fan_man) in fan_man_list" class="memberList">
                    <div class="memberGroup">
                        <a href="Course.TeacherText/{{this_fan_man.user_id}}">
                            
                            <div class="picBox">
                               <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                                <img src="upload/teach/{{this_fan_man.image}}" alt="">
                            </div>
                            <div>{{this_fan_man.nick_name}}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-box1">
            <span ng-show="1">{{ 'FOLLOW_USER' | translate }} <div class="userNember">( {{fan_subscript_list_count}} )</div> </span>
            <div ng-show="1" class="memberList_wrap">
                <div class="memberList">
                    <div ng-repeat="(key_fan_subscript , this_fan_subscript) in fan_subscript_list" class="followUser">
                        
                        <a href="Course.TeacherText/{{this_fan_subscript.user_id}}">
                            <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                            <div class="picBox"><img src="upload/teach/{{this_fan_subscript.image}}" alt=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button ng-click='leftBoxShowMore()' class="showMore bc_BR tc_WS">{{ 'TEACHER_PRIVATE_MSG_MORE' | translate }}</button>

</div>