/*-------------------------------------------------------------------------------------*/
/*------------------------------------        設定       -------------------------------*/
/*-------------------------------------------------------------------------------------*/

body , input , button { font-family: Arial,'sans-serif','微軟正黑體' !important; margin: 0; }
img { width: 100%; border-radius: 3px; }
ul { list-style: none; padding: 0; margin: 0; }
i.fa.fa-facebook-square { color: #3b5998; }
i.fa.fa-twitter-square { color: #1da1f2; }
i.fa.fa-google { color: #dd5144; }
i.fa.fa-weixin { color: #00cf0d; }
i.fa.fa-envelope-square { color: #de4444;}
.community .fa , button.register-btn , ul.function-menu li , .video-box , .con-box-1 .btn a { transition: 0.25s ease; -o-transition: 0.25s ease; -webkit-transition: 0.25s ease; }
.loading { background: url(../css/images/balls.svg)no-repeat 50% 50%; width: 100%; height: 100vh; }
#ui-datepicker-div {display: none;}
/*-------------------------------------------------------------------------------------*/
/*-----------------------------------      header      --------------------------------*/
/*-------------------------------------------------------------------------------------*/

header { background: rgb(243, 241, 233); border-bottom: solid 1px rgb(224, 224, 224); float: left; width: 100%; position: relative; z-index: 10;}
header ul.head-top { list-style: none; padding: 0; margin: 0; float: left; width: 100%; position: relative;}
header ul.head-top li { float: left; }
header ul.head-top .logo { width: 110px; padding: 9px 0; margin: 0 3%;}
header ul.head-top li img { width: 100%;}
header ul.head-top li.search { width: 22%;}
header ul.head-top li.search div { width: 100%; margin: 15px 0; border-radius: 3px; border: solid 1px #a5a5a5; overflow: hidden; background: #dd883f; }
header ul.head-top li.search input { border: none; height: 21px; width: 83%;}
header ul.head-top li.search div button { width: 15%; float: right; text-align: center; padding: 3.5px 0; color: #fff; font-size: 14px; border: none; background: #dd883f;}
header ul.head-top li.member { float: right;  padding: 16px 0; cursor: pointer; width: 8%; text-align: center; }
header ul.head-top li.member:hover { color: #2673ef; }
header ul.head-top li.lang { float: right; padding: 16px 0; cursor: pointer; width: 8%; text-align: center; border-left: solid 1px #c5c5c5; }
header ul.head-top li.lang .fa-caret-down { font-size: 20px; }
header ul.head-top li.btns { padding: 16px 0; width: 8%; text-align: center; margin-left: 2%; }
header ul.head-top li.btns a { text-decoration: none; color: #000; }
header ul.head-top li.btns a:hover { color: #2673ef; }
ul.lang-box { width: 8%; list-style: none; position: absolute; right: 0px; text-align: center; top: 39px; border: solid 1px #c3c3c3; border-radius: 0 0 3px 3px; padding: 0; display: none; z-index: 10;}
ul.lang-box li { float: left; padding: 9px 0; width: 100%; border-bottom: solid 1px #c3c3c3; background: rgb(255, 255, 255); color: #0c0c0c; cursor: pointer; }
ul.lang-box li:hover { background: #dd883f; color: #fff;}
ul.lang-box li.last { border-bottom: none;}
header ul.head-top li.fr { max-width: 45%; float: right; padding: 0px 10px; text-align: center; box-sizing: border-box; }
header ul.head-top li.fr a { float: right; text-decoration: none; color: #fff; background: #dd883f; padding: 1px 5px; border-radius: 3px; font-size: 13px; margin: 17px 0; }
header ul.head-top li.fr a.gotomypage { background: none; color: #000; padding: 0px; font-size: 14px; margin: 0 10px; float: left; }
header ul.head-top li.fr a.gotomypage:hover { color: #dd883f; } 
header ul.head-top li.fr .ng-binding { float: right; }
header ul.head-top li.fr span { float: right; padding: 18px 0px;}
header ul.head-top li.identity { float: right; }
header ul div.identity-box { position: relative; float: right;}
header ul div.identity-box .btn { padding: 0.5px 5px 2px 5px; background: #313131; color: #fff; font-size: 12px; border-radius: 0 3px 3px 0; margin: 17px 10px 17px 0; cursor: pointer; float: right;}
header ul div.identity-box .btn:hover { background: #000; }
header ul div.identity-box ul { position: absolute; right: 0; top: 39px; z-index: 1; padding-right: 10px; box-sizing: border-box; display: none; width: 100%; }
header ul div.identity-box ul li { width: 100%; float: left; margin-bottom: 3px; }
header ul.head-top div.identity-box ul li a { padding: 0; width: 100%; margin: 0;  }
header ul div.identity-box ul li button { width: 100%; }
header ul.head-top li.fr span div { float: left;}
header ul.head-top li.fr span div > div {font-size: 13px; padding: 2px 5px; background: #dd883f; color: #fff; margin-top: -1px; border-radius: 3px 0 0 3px;}
/*-------------------------------------------------------------------------------------*/
/*-----------------------------------      index      ---------------------------------*/
/*-------------------------------------------------------------------------------------*/

.index-title { width: 100%; text-align: center; margin: 20px 0; font-size: 25px; font-weight: bold; color: ##000;}
/*--  banner  --*/
.index-banner { position: relative; width: 100%; background: #000; background-size: cover; }
.index-banner > div.btn { position: absolute; z-index: 2; width: 100%; text-align: center; bottom: 20px;}
.index-banner > div.btn span { cursor: pointer; color: #000; font-size: 40px; margin: 0 3px; text-shadow: 0 0px 2px #fff; }
.index-banner > div.btn span:hover { color: #dd883f; }
.index-banner > div.btn span.now-img { color: #dd883f; }
.index-banner .bg-box { border-bottom: solid 1px #c7c7c7;}
.index-banner .bg-box img { top:0; left: 0; display: none; border-radius: 0; }
.index-banner .bg-box img.now-img { display: block; }
/*-- index-video --*/
.index-video { width: 100%; float: left; overflow: hidden; }
.video-wrap { width: 400%;}
.video-wrap .video-group { width: 25%; float: left;}
.video-wrap .video-group .video-box { width: 33.3%; box-sizing: border-box; padding: 0 20px; position: relative; }
.video-wrap .video-group .video-box:hover > .paly-icon .fa { background: #fff; color: #dd883f; border: solid 1px #dd883f; }
.video-wrap .video-group .video-box .paly-icon { position: absolute; text-align: center; width: 87.5%; font-size: 2em; top: 50%; }
.video-wrap .video-group .video-box .paly-icon .fa { padding: 10px 10px 10px 16px; background: #dd883f; color: #fff; border-radius: 50%; border: solid 1px #fff; box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.19); transition: 0.25s ease; -o-transition: 0.25s ease; -webkit-transition: 0.25s ease; }
.video-wrap .video-group .video-box .video-name { width: 100%; text-align: center; padding-top: 10px;}
.index-video .btn { width: 100%; text-align: center; font-size: 30px; margin: 10px 0; float: left;}
.index-video .btn span { cursor: pointer; }
.index-video .btn .now-group { color: #dd883f; }
.index-video .btn span:hover { color: #dd883f; }
/*-- index-msg-box --*/
.index-msg-box { width: 100%; float: left; height: 70vh; border-bottom: solid 2px #000000; box-shadow: 0 -350px 300px -300px rgba(0, 0, 0, 0.49) inset;}
.index-msg-box.idea { background: url(images/two_bg.png)50% 35%; border-top: solid 2px #000000; background-size: cover; background-attachment: fixed; }
.index-msg-box.teachers { background: url(images/three_bg.png)50% 35%; background-size: cover; background-attachment: fixed; }
.con-box-1 { width: 30%; height: 100%; box-sizing: border-box; background: rgba(221, 136, 63, 0.7);}
.con-box-1.f-right { float: right; border-left: solid 2px #000; }
.con-box-1.f-left { float: left; border-right: solid 2px #000; }
.con-box-2 { width: 70%; height: 100%; float: left; overflow: hidden; word-break: break-word; background: rgba(255, 255, 255, 0.6);}
.index-msg-box span.title { width: 100%; font-size: 2em; font-weight: bold; color: #fff; text-align: center; display: block; margin: 10vh 0 20px 0; }
.index-msg-box h2 { font-size: 2em; font-weight: bold; text-align: center; margin: 20px 0;}
.con-box-1 ul { padding: 0 20px;}
.con-box-1 ul li { margin-bottom: 10px; border-bottom: solid 1px #000; padding-bottom: 5px;}
.con-box-2 p { float: left; width: 86%; margin: 0 5%; padding: 20px; box-sizing: content-box;}
.index-msg-box span.sub-title { width: 100%; display: block; padding: 0 20px; box-sizing: border-box; color: #fff; font-weight: 500; font-size: 16px; text-align: center;}
.con-box-1 p { padding: 20px; width: 100%; box-sizing: border-box; font-size: 14px; color: #fff;}
.con-box-1 .btn { padding: 20px; width: 100%; float: left; box-sizing: border-box;}
.con-box-1 .btn a { text-decoration: none; padding: 10px 25px; border: solid 1px #fff; border-radius: 3px; color: #fff;}
.con-box-1 .btn a:hover { background: rgba(255, 255, 255, 0.15); }
.teacher-img { width: 90%; float: left; padding: 20px 5%;}
.teacher-img > div { width: 33.3%; float: left; padding: 0 20px; box-sizing: border-box;}
.index-msg-box a { text-decoration: none; color: #000; }
.index-msg-box a:hover { text-decoration: none; color: #fff; }
/*-- about --*/
.about { width: 100%; float: left;}
.about .left { width: 70%; float: left; text-align: center; padding: 25px 7%; box-sizing: border-box; margin: 0;}
.about .right { width: 30%; float: left; margin: 0; margin-top: 15%; padding-left: 5%; box-sizing: border-box; }
.about h2 { font-size: 2em; margin: 0; }
.about .left p { font-size: 1.3em;}
.about .left .title { margin-bottom: 30px;}
.about .left .title:after { background: #e44c65; content: ''; display: inline-block; height: 0.2em; max-width: 20em; width: 75%;}
.about .left .box-b .fa { font-size: 5em; margin-bottom: 15px; color: #6d6d6d;}
.about .left .box-a { padding: 10px 20px; float: left; margin-bottom: 20px;}
.about .left .box-b { width: 50%; float: left; padding: 15px; box-sizing: border-box;}
.about .left .box-b span { display: block;}
.about .left .box-b span.sub-title { font-size: 1.4em; font-weight: 500; line-height: 2em;}
.about .right div { font-size: 2em; margin-bottom: 5%;}
.about .right div .fa { margin-right: 10px;}


/*-------------------------------------------------------------------------------------*/
/*--------------------------------      all-teacher      ------------------------------*/
/*-------------------------------------------------------------------------------------*/
.search-box { width: 50%; margin: 15px auto; }
.search-box input { width: 100%; padding: 5px; margin-bottom: 2px; box-sizing: border-box;}
.search-box select { padding: 3px; width: 20%; margin-left: -1px; float: left; box-sizing: border-box;}
.search-box button { width: 30%; margin-left: 4px; padding: 5px 3px; background: #dd883f; border: solid 1px #a9a9a9; color: #fff; border-radius: 3px; cursor: pointer; }
.search-box button:hover { background: #655f5f; }
.all-teacher-box { width: 80%; margin: 0 10% 20px 10%; float: left; overflow: hidden; }
.all-teacher-box > div { width: 20%; float: left; padding: 10px; box-sizing: border-box; }
.all-teacher-box > div a { text-decoration: none; color: #0c0c0c; text-align: center; }
.all-teacher-box a { width: 100%; float: left; height: 0; padding-bottom: 100%; position: relative;}
.all-teacher-box a img { position: absolute; width: 100%; height: 100%; left: 0; border-radius: 3px; border: solid 1px #ddd;}
.all-teacher-box:hover > div a { opacity: 0.5; }  
.all-teacher-box > div:hover a { opacity: 1; }  
.all-teacher-box > div .star { color: #dd883f; margin-top: 5px; width: 100%; float: left; text-align: center;}
.all-teacher-box > div .name { text-align: center; width: 100%; float: left; height: 40px; }
.more-btn { float: left; width: 30%; text-align: center; background: #dd883f; padding: 7px 0; border-radius: 3px; font-weight: bold; color: #fff; margin: 0 35%; cursor: pointer;}
.more-btn:hover { background: #655f5f; }
.search-box .time-search { margin-top: 3px; position: relative;}
.search-box .time-search .fa { position: absolute; top: 4px; left: 5px;}
.search-box .time-search input { padding-left: 30px; width: 69.4%; float: left;}
/*-------------------------------------------------------------------------------------*/
/*-----------------------------------      pop-up      --------------------------------*/
/*-------------------------------------------------------------------------------------*/

.pop-up { position: fixed; min-height: 100vh; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.9); z-index: 20; display: none; }
.close-btn { position: absolute; width: 20px; right: 20px; top: 20px; opacity: 0.6; cursor: pointer; }
.close-btn:hover { opacity: 1; }

/*-------------------------------------------------------------------------------------*/
/*-----------------------------------      member      --------------------------------*/
/*-------------------------------------------------------------------------------------*/

.member-box { width: 35%; min-height: 90vh; background: rgb(243, 241, 233); margin: 20px auto; padding: 10px; border-radius: 3px; box-sizing: border-box;}
.member-box-logo { width: 100%; float: left; overflow: hidden; background: rgb(243, 241, 233); padding: 10px 35%; box-sizing: border-box; border-radius: 3px; }
.member-box .title { float: left; width: 100%; text-align: center; padding: 20px 0; border-bottom: solid 1px #bdbdbd; font-size: 25px; color: #dd883f; font-weight: bold;}
.community { width: 100%; text-align: center; border-bottom: solid 1px #bdbdbd; float: left; padding: 6% 0;}
.community span { width: 100%; display: block; float: left; padding-bottom: 3%;}
.community .fa { font-size: 3em; padding: 10px; cursor: pointer; }
.community .fa:hover { color: #655f5f; }
.general { margin: 3% 20%; width: 60%; float: left;}
.general input { width: 100%; height: 2em; border-radius: 3px; border: solid 1px #bbb4b4; margin-bottom: 10px; padding: 0px 10px; box-sizing: border-box; font-size: 22px; color: #000; }
.general input.blur { color: #a0a0a0; }
button.register-btn { width: 100%; font-size: 30px; padding: 6% 0; background: #dd883f; color: #fff; font-weight: bold; border: solid 1px #ffffff; border-radius: 3px;}
button.register-btn:hover { background: #3b5998; cursor: pointer; }
.general span { display: block; width: 100%; text-align: center; padding: 10% 0; float: left;}
.login-box .account { color: #dd883f; cursor: pointer; }
.login-box .account span:hover { color: #2269ff;}
.account span { width: 50%; padding: 6% 0 10% 0; text-align: left;}
.register-box , .forget-box , .login-box { display: none; }

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------      RWD      ---------------------------------*/
/*-------------------------------------------------------------------------------------*/

@media screen and (max-width: 980px) {
/*---  header  ---*/
    header ul.head-top li { box-sizing: border-box;}
    header ul.head-top li.search { width: 58%; margin-bottom: 5px; }
    header ul.head-top li.lang { width: 23%; padding: 10px 0 ;  border-top: solid 1px #969696; }
    header ul.head-top li.member { float: right; padding: 12px 0 11px 0; cursor: pointer; width: 52%; text-align: center; border-top: solid 1px #969696; }
    header ul.head-top li.fr { min-width: 52%; float: right; padding: 10px 10px; text-align: center; box-sizing: border-box; border-top: solid 1px #969696;}
    header ul.head-top li.btns { padding: 10px 0; width: 25%; text-align: center; margin-left: 0; border-top: solid 1px #969696; border-right: solid 1px #c5c5c5;}
    ul.lang-box { width: 22%; top: 109px;}
    header ul.head-top li.fr span { float: right; padding: 0px 0px;}
    header ul.head-top li.fr span div > div { margin-top: 0px; }
    header ul div.identity-box .btn { margin: 0px 10px 0px 0;}
    header ul.head-top li.fr a { margin: 0;}
    .search-box { width: 80%; }
    .search-box .time-search input { width: 68%;}
    .all-teacher-box > div { width: 50%; }
    header ul.head-top li.logo { width: 100%; margin: 0; text-align: center; }
    header ul.head-top li.logo img { width: 100px; }
/*---  member  --*/

    .community { width: 100%; text-align: center; border-bottom: solid 1px #bdbdbd; float: left; padding: 6% 0 3% 0;}
    .community .fa { font-size: 2em;}
    .general { margin: 3% 5%; width: 90%; float: left;}
    .general span { display: block; width: 100%; text-align: center; padding: 5% 0; float: left;}
    button.register-btn { padding: 4% 0;}
/*---  index  --*/
    .index-banner > div.btn { bottom: 0px;}
    .index-banner > div.btn span { font-size: 30px; }
    .video-wrap .video-group .video-box { padding: 0 3px;}
    .video-wrap .video-group .video-box .paly-icon { position: absolute; text-align: center; width: 95.5%; font-size: 1em; top: 30%;}
    .video-wrap .video-group .video-box .paly-icon .fa { padding: 9px 9px 9px 13px;}
    .index-msg-box { height: 90vh;}
    .con-box-1 { width: 100%; overflow: hidden; height: 50%; box-sizing: border-box; background: rgb(221, 136, 63); border-bottom: solid 4px #000;  }
    .con-box-2 { width: 100%; height: 50%; float: left;}
    .index-msg-box span.title {font-size: 1.5em;}
    .index-msg-box span.title { margin: 20px 0 10px 0;}
    .index-msg-box a { line-height: 35px; }
    .con-box-1 ul li { margin-bottom: 3px; border-bottom: solid 1px #000; padding-bottom: 2px; font-size: 13px; }
    .con-box-1 p { padding: 0 20px; width: 100%; box-sizing: border-box; font-size: 13px; color: #fff; text-align: center;}
    .con-box-1 .btn { padding: 10px 20px; width: 100%; float: left; box-sizing: border-box; text-align: center;}
    .con-box-1 .btna { padding: 10px 20%;}.index-msg-box { border-bottom: solid 1px #000000;}
    .con-box-2 p { padding: 0 20px; }
    .about .left { width: 100%; }
    .about .right {width: 100%; margin: 0; margin-top: 0; padding-left: 0; padding: 0 10px; }
    .about .right div { font-size: 18px; margin: 2% 0 7% 0; width: 33.3%; float: left; text-align: center;}
    .teacher-img > div { padding: 0 5px; }
    .about .left p { font-size: 15px;}
    .about .left .title { margin-bottom: 10px;}
    .about .left .box-a { font-size: 13px;}
    .about .left .box-b { padding: 5px;}
    .about .left .box-b .fa { font-size: 3.5em; margin-bottom: 5px; }
    .about .left .box-b span { display: block; font-size: 13px;}
    .index-msg-box span.sub-title { font-size: 14px; }
    .about h2 { font-size: 1.3em; margin: 0;}
    .about .left .box-b span.sub-title { font-size: 1.2em;}
    
}