<body>
  <video autoplay=""></video>
</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  var stream;
  var video = document.querySelector('video');
  navigator.mediaDevices.getUserMedia({
    audio: false,
    video: {
      width: { min: 1280 },
      height: { min: 720 },
    }
  })
    .then(mediaStream => {
      stream = mediaStream;
      video.src = window.URL.createObjectURL(stream);
    }).then(() => {
      peerConn.addStream(stream);
      peerConn.createOffer()
        .then(offer => {
          offerSDP = offer.sdp;
          return peerConn.setLocalDescription(offer);
        });
    })


  let peerConn = new RTCPeerConnection({
    iceServers: [{ urls: "stun:stun.l.google.com:19302" }]
    /*
    iceServers: [
      {urls: "stun:stun.l.google.com:19302" },
      {urls: "turn:numb.viagenie.ca", credential: "turnserver", username: "john75116@gmail.com"}
    ]
    */

  }, {
      optional: [{ 'DtlsSrtpKeyAgreement': false }]
    });
  let iceCandidates = '';
  let offerSDP;
  console.log(offerSDP);



  peerConn.onicecandidate = function (event) {
    if (event.candidate) {
      iceCandidates += ('a=' + event.candidate.candidate + '\r\n');
    } else {
      console.log('ICE gathering has finished');
      startBroadcasting(); // Will define later
    }
  };
  $(function () {
    /*
    console.log(stream);
    peerConn.addStream(stream);
    peerConn.createOffer()
      .then(offer => {
        offerSDP = offer.sdp;
        return peerConn.setLocalDescription(offer);
      });
      */
  });

  function startBroadcasting() {

    let path = 'https://rtc-middleware.straas.io/broadcasts/webrtc';
    //let path = 'rtmp://live-ea.straas.net/app';
    let headers;
    /*
    headers = { 
  'Content-Type': 'application/json',
  'X-Requested-With': 'application/json',
  'X-CSRF-Token': 'application/json',
  'X-PINGOTHER': 'application/json'
 }; 
 */
    headers = { 
  'Content-Type': 'application/json'
 }; 
    //let headers = 'Access-Control-Allow-Origin: *';
    let body = {
      "stream_key": "681bc5bf595546ec9103a5167465ce9c",
      "sdp": offerSDP + iceCandidates,
    };
    let remoteCandidates;

    //httpRequest('POST', path, headers, body)
    // Replace your HTTP request function here
    $.ajax({
      url: path,
      type: 'POST',
      //crossDomain: true,
      //dataType: 'jsonp',
      headers: headers,
      data: JSON.stringify(body),

      success: function (result) {
        // Do something with the result
      }
    }).then(responseText => {
      let response = JSON.parse(responseText);
      let remoteDesc = new RTCSessionDescription({ type: 'answer', sdp: response.sdp });

      remoteCandidates = response.remoteCandidates;
      return peerConn.setRemoteDescription(remoteDesc);
    })
      .then(() => {
        for (let candidate of remoteCandidates) {
          peerConn.addIceCandidate(new RTCIceCandidate({ candidate: candidate }));
        }
      });



  }

  function stopBroadcasting() {
    let path = 'https://rtc-middleware.straas.io/broadcasts/webrtc';
    //let path = 'rtmp://live-ea.straas.net/app';
    let headers = 'Content-Type: application/json';
    let body = {
      stream_key: "bedde9ad4fcb4c05b0cb3d0a3c658086",
    };

    // Replace your HTTP request function here
    //httpRequest('DELETE', path, headers, body);
    $.ajax({
      url: path,
      type: 'DELETE',
      //dataType: 'jsonp',
      headers: { headers },
      data: body,
      success: function (result) {
        // Do something with the result
      }
    });

  }

  peerConn.oniceconnectionstatechange = function (event) {
    if (peerConn.iceconnectionstate === "failed" ||
      peerConn.iceconnectionstate === "closed") {
      // peer connection encountered some errors.
      stopBroadcasting();
    }
  };

</script>