<!-- Footer -->
<footer class="bc_BL tc_WS">
    Copyright © 2017 ShowHi Company Ltd., all rights reserved.
    <div class="qrcold"><img src="images/showhi_Qrcold.png" alt=""></div>
</footer>

<div class="pop-up">

    <div ng-click="colsePopUp()" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
    <!-- 註冊 -->
    <form ng-submit="submit_reg(data)" autocomplete="on" ng-controller="UserRegisterCtrl">

        <div class="member-box bc_WS register-box">
            <div class="title tc_BR">{{ 'REGISTER_TITLE' | translate }}</div>

            <div class="general">
                <span>{{ 'REGISTER_GENERAL' | translate }}</span>
                <div class="email">
                    <input required type="email" ng-model="data.loginid" placeholder="{{ 'REGISTER_INPUT_EMAIL_TITLE' | translate }}">
                </div>
                <div class="phone">
                    <input type="tel" ng-model="data.phone" placeholder="{{ 'REGISTER_INPUT_PHONE_TITLE' | translate }}">
                </div>
                <div class="password">
                    <input ng-click="pwdfun()" class="pwd pwdinput" type="password" ng-model="data.loginpwd" placeholder="{{ 'REGISTER_INPUT_PASSWORD_TITLE' | translate }}">
                </div>
                <div class="password-again">
                    <input ng-click="pwdfun()" class="again_pwd pwdinput" type="password" placeholder="{{ 'REGISTER_INPUT_AGAIN_PASSWORD_TITLE' | translate }}">
                </div>

                <div class="account tc_BR">
                    <span ng-click="backLogin()" class="no-account">{{ 'LOGIN_TITLE' | translate }}</span>
                    <span ng-click="verAccount()" class="no-account">{{ 'EMAIL_VER' | translate }}</span>
                </div>

            </div>
            <button class="register-btn bc_BR">{{ 'REGISTER_BUTTON' | translate }}</button>
        </div>

    </form>
    <!-- 註冊 END -->

    <!-- 驗證 -->
    <!--
    <form ng-submit="submit_wakeup(data)" autocomplete="on" ng-controller="UserVaAccountCtrl">

        <div class="member-box bc_WS vaaccount-box">
            <div class="title">{{ 'VERIFY_VERIFY_ACCOUNT' | translate }}</div>
            <div class="general">
                <span>{{ 'VERIFY_VERIFY_ACCOUNT' | translate }}</span>
                <div class="email">
                    <input required type="email" type="text" ng-model="data.loginid" title="{{ 'VERIFY_EMAIL_TITLE' | translate }}">
                </div>
                <div class="email">
                    <input type="text" ng-model="data.email_code" title="{{ 'VERIFY_EMAIL_VERIFY_CODE_TITLE' | translate }}">
                </div>
                <div class="phone">
                    <input type="text" ng-model="data.phone" title="{{ 'VERIFY_PHONE_TITLE' | translate }}">
                </div>
                <div class="phone">
                    <input type="text" ng-model="data.phone_code" title="{{ 'VERIFY_PHONE_VERIFY_CODE_TITLE' | translate }}">
                </div>
            </div>
            <button class="register-btn bc_BR">{{ 'VERIFY_BUTTON' | translate }}</button>
        </div>

    </form>
    -->
    <!-- 驗證 END -->

    <!-- 登入 -->
    <form id="UserLoginForm" ng-submit="submit()" autocomplete="on" ng-controller="UserLoginCtrl">
        <div class="member-box bc_WS login-box">
            <div class="title tc_BR">{{ 'LOGIN_TITLE' | translate }}</div>
            <div class="community">
                <span>{{ 'LOGIN_COMMUNITY_ACCOUNT' | translate }}</span>
                <i class="fa fa-weixin" aria-hidden="true"></i>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-google" aria-hidden="true"></i>

            </div>
            <div class="general">
                <span>{{ 'LOGIN_ACCOUNT' | translate }}</span>
                <div class="phone">
                    <input ng-model="data.loginid" type="text" placeholder="{{ 'LOGIN_INPUT_PHONE_TITLE' | translate }}">
                </div>
                <div class="password">
                    <input ng-model="data.loginpwd" type="password" placeholder="{{ 'LOGIN_INPUT_PASSWORD_TITLE' | translate }}">
                    <input class="identity" name="identity" value="student" type="hidden" title="">

                </div>
                <div class="account tc_BR">
                    <span ng-click="noAccount()" class="no-account displayN"><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{ 'LOGIN_NO_ACCOUNT' | translate }}</span>
                    <span ng-click="forgetPassword()" class="forget-password">{{ 'LOGIN_FORGET_PASSWORD' | translate }}</span>
                </div>
            </div>
            <button ng-click="loginBtn()" class="register-btn bc_BR">{{ 'LOGIN_BUTTON' | translate }}</button>
        </div>
    </form>


    <!-- 登入 END -->

    <!-- 忘記密碼 -->

    <div class="member-box bc_WS forget-box" ng-controller="UserForgetPwCtrl">
        <div class="title tc_BR">{{ 'FORGET_TITLE' | translate }}</div>

        <div class="general">
            <span>{{ 'VERIFY_MAIL' | translate }}</span>
            <div class="email">
                <input ng-model="data.email" type="text" placeholder="{{ 'REGISTER_INPUT_EMAIL_TITLE' | translate }}">
                <button ng-click="ForgetPassword()" class="send_email bc_BR tc_WS ">{{ 'FORGET_BUTTON' | translate }}</button>
            </div>
            <div class="account tc_BR">
                <span ng-click="noAccount()" class="no-account displayN"><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{ 'LOGIN_NO_ACCOUNT' | translate }}</span>
                <span ng-click="backLogin()" class="no-account">{{ 'LOGIN_TITLE' | translate }}</span>
            </div>
        </div>

        <div class="general general2">
            <span class="sub_title">{{ 'VERIFICATION_CODE' | translate }}</span>
            <input type="text" ng-model="data.forget_code" placeholder="{{ 'REGISTER_INPUT_CODE_TITLE' | translate }}">
            <span class="sub_title">{{ 'NEW_PASSWORD' | translate }}</span>
            <input type="password" ng-model="data.password" placeholder="{{ 'REGISTER_INPUT_PASSWORD_TITLE' | translate }}">
            <input type="password" ng-model="data.cpassword" placeholder="{{ 'REGISTER_INPUT_AGAIN_PASSWORD_TITLE' | translate }}">
        </div>

        <button ng-click="EmailPwUP()" class="register-btn bc_BR tc_WS">{{ 'SHARE_POP_UP_BUTTONS_SEND' | translate }}</button>
    </div>


    <div class="member-box bc_WS vaaccount-box" >
        <div class="title">{{ 'VERIFY_VERIFY_ACCOUNT' | translate }}</div>
        <div class="general">
            <span>{{ 'VERIFY_VERIFY_ACCOUNT' | translate }}</span>
            <div class="verStep">step.1 {{ 'EMAIL_VER' | translate }}</div>
            <!--信箱驗證-->
            <div class="verText">
                {{ 'ACC_VER_STEP1_T1' | translate }}
            </div>
            <br>
            <div class="verStep">step.2 {{ 'PHONE_VER' | translate }}</div>
            <!--手機驗證-->
            <div class="verText">
                {{ 'ACC_VER_STEP2_T1' | translate }}
            </div>

        </div>
        <a href="Index"><button ng-click="colsePopUp()" class="register-btn bc_BR">{{ 'YES' | translate }}</button></a>
    </div>


    <!-- 忘記密碼 END -->

    <!-- 推薦給好友 -->
    <div class="member-box bc_WS recommend-box">
        <span>{{ 'FRIEND_TITLE' | translate }}</span>
        <div class="friend">
            <label for="nana_chen" class="friend-img">
                <!-- for 放好友的 ID  -->
                <img src="images/kidImg.jpg" alt=""> USER NAME
                <input type="checkbox" value="" name="" id="">
            </label>
            <label for="nana_chen-1" class="friend-img">
                <img src="images/kidImg.jpg" alt=""> USER NAME
                <input type="checkbox" value="" name="" id="">
            </label>
            <label for="nana_chen-2" class="friend-img">
                <img src="images/kidImg.jpg" alt=""> USER NAME
                <input type="checkbox" value="" name="" id="">
            </label>
            <label for="nana_chen-3" class="friend-img">
                <img src="images/kidImg.jpg" alt=""> USER NAME
                <input type="checkbox" value="" name="" id="">
            </label>
            <label for="nana_chen-4" class="friend-img">
                <img src="images/kidImg.jpg" alt=""> USER NAME
                <input type="checkbox" value="" name="" id="">
            </label>
        </div>

        <div class="btn">
            <button type="button">{{ 'FRIEND_BUTTON' | translate }}</button>
        </div>
    </div>
    <!-- 推薦給好友 END -->

    <!-- video  -->
    <!-- 觀看人數 跟 喜歡 -->
    <div class="v_iBox">
        <div ng-click="colsePopUp()" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
        <video type="video/mp4" autoplay="autoplay" controls="true" src=""></video>
        <div class="showImgBox">
            <img src="" alt="">
            <div class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'LIKE' | translate }} </span><span> 0 </span></div>
            <div class="seeBox"><i class="fa fa-eye" aria-hidden="true"></i> <span> 0 </span></div>
        </div>
    </div>

    <!-- video END -->
    <div ng-controller="CourseBookingCtrl" id="CourseBookingCtrl" ng-repeat="(key_this_teacher,this_teacher) in teacher_data.data['0'].tmp_teach_arr">
        <div class="booking">
            <div class="teacher-dt">
                <!-- 學校名稱 -->
                <!--                <span class="school_name"><h2>學校名稱</h2></span>-->
                <!-- 學校名稱 END -->
                <input type="hidden" class="teach_id" value="{{this_teacher.id}}" />
                <div class="img-box"><img src="upload/teach/{{this_teacher.image}}" alt=""></div>
                <div class="date">
                    <div><span class='t_1'>{{ 'BOOKING_DATE_NAME' | translate }} :</span> <span>{{this_teacher.nick_name}}</span></div>
                    <div><span class='t_1'>{{ 'BOOKING_DATE_NAT' | translate }} :</span> <span ng-repeat="tmp_arr_nat in teacher_data.data[0].tmp_arr_nat" ng-if="tmp_arr_nat.id == this_teacher.nationality">{{tmp_arr_nat.name}}</span></div>
                    <div><span class='t_1'>{{ 'BOOKING_DATE_AGE' | translate }} :</span> <span>{{ ( today | date:'yyyy') -(this_teacher.birth_day | date:'yyyy') }}</span></div>
                    <div><span class='t_1'>{{ 'BOOKING_DATE_SCHOOL' | translate }} :</span> <span>{{this_teacher.school_name}}</span></div>
                </div>
                <div class="about">
                    <span>{{ 'BOOKING_DATE_ABOUT' | translate }}</span>
                    <div class="msg-text">
                        {{this_teacher.text | htmlToPlaintext }}
                    </div>
                </div>
            </div>
            <div class="time-box">
                <!-- 預約事由 -->
                <div class="reason">
                    <span>{{ 'BOOKING_REASON' | translate }}</span>
                    <textarea ng-model="data.cause" name="" id=""></textarea>
                </div>
                <!-- 預約事由 END -->
                <div class="day-box">
                    <span>{{ 'BOOKING_DAY' | translate }}</span>
                    <input class="this_day" name="this_day" type="text" value="{{key_this_day_arr}}" onChange="onChangeBookingDate()" />
                    <i class="fa fa-calendar" aria-hidden="true"></i>

                </div>
                <div class="time-box">
                    <span class="t_1">{{ 'BOOKING_TIME' | translate }}</span>
                    <ul ng-repeat=" (key_this_day_arr,this_day_arr) in dateDatas.this_day_arr">
                        <li ng-repeat=" (key_can_tutor_time,can_tutor_time)  in this_day_arr['0'].can_tutor_time">
                            <span ng-repeat=" (key_can_tutor_time_list,can_tutor_time_list) in dateDatas.tmp_arr_can_tutor_time" ng-if="can_tutor_time_list.id == can_tutor_time" can_id="{{can_tutor_time_list.id}}" ng-click="changeTime($event)">{{can_tutor_time_list.name}}
                            </span>
                        </li>
                    </ul>
                    <div ng-if="dateDatas.this_day_arr[0].length ==0" class="thisDayNoTime">{{ 'THISDAYNOTIME' | translate }}</div><!-- 提示該日期已無可預約時段 -->
                </div>
                <!--
                <div class="class-books">
                   <span>預約教材</span>
                    <div ng-repeat='tmp_arr_article in teacher_data.data["0"].tmp_arr_article | limitTo:8 ' ><img src="images/book.jpg" book_id="{{tmp_arr_article.id}}" ></div>

                </div>
                -->
            </div>
            <div class="buttons">
                <button ng-click="bookingGoToConfirm()" class="booking-btn bc_BR tc_WS" type="button">{{ 'BOOKING_BUTTON' | translate }}</button>
            </div>
        </div>

        <!-- 預約確認 -->
        <div ng-repeat="(key_this_teacher,this_teacher) in teacher_data.data['0'].tmp_teach_arr" class="booking_dt">
            <span class="title">{{ 'BOOKING_CONFIRM' | translate }}</span>
            <div class="sub_line"></div>
            <div class="dt_box">
                <div class="school_pic">
                    <img src="upload/teach/{{ this_teacher.image }}" alt="">
                </div>
                <div class="name">
                    {{ this_teacher.nick_name }}
                </div>
            </div>
            <div class="dt_box">
                <span class="sub_title">{{ 'BOOKING_REASON' | translate }}</span>
                <div class="booking_reason">{{data.cause}}</div>
            </div>
            <div class="dt_box">
                <span class="sub_title">{{ 'BOOKING_TIME' | translate }}</span>
                <div class="booking_time">
                    <span class="day">
                    {{ data.lesson_day }} / 
                </span>
                    <span class="time">
                    {{ tmpcan_tutor_time_name }}
                </span>
                </div>
            </div>
            <div class="buttons">
                <button ng-click="booking()" class="booking-btn bc_BR tc_WS" type="button">{{ 'BOOKING_BUTTON_YES' | translate }}</button>
            </div>
        </div>
    </div>

    <!-- 取消預約說明 -->
    <div class="why_cancel bor_s_1">
        <div class="title">{{ 'SHARE_POP_UP_BUTTONS_WHT_CANCEL' | translate }}</div>
        <textarea ng-model="message.cause" name="" id=""></textarea>
        <button ng-click="LessonCancel()" class="t_c_white">{{ 'TEACHER_MY_PROFILE_CLASS_MSG_CLOSE_CLASS_BUTTON' | translate }}</button>
    </div>


    <div class="loading">
        <!--
        <div class="loadingImg">
            <img src="images/icon_img.png" alt="">
        </div>
-->
        <div class="hiLoad">
            <div id="floatingCirclesG">
                <div class="f_circleG" id="frotateG_01"></div>
                <div class="f_circleG" id="frotateG_02"></div>
                <div class="f_circleG" id="frotateG_03"></div>
                <div class="f_circleG" id="frotateG_04"></div>
                <div class="f_circleG" id="frotateG_05"></div>
                <div class="f_circleG" id="frotateG_06"></div>
                <div class="f_circleG" id="frotateG_07"></div>
                <div class="f_circleG" id="frotateG_08"></div>
            </div>
            <div class="hi"><img src="../../images/hi-02.png" alt=""></div>
        </div>
    </div>

    <!-- 行事曆 -->
    <div class="calendar">
        <div class="timeTitle">
            <i class="fa fa-angle-left" aria-hidden="true"></i> 2017{{ 'CLASS_APPRAISE_TIME_YEAR' | translate }}6{{ 'CLASS_APPRAISE_TIME_MONTH' | translate }}

            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="calendarDayBox">
            <ul class="calendarContentBox" ng-init="calendarEvent()">
                <li class="weekTitle">
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_MON' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_TUE' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_WED' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_THU' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_FRI' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_SAT' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_SUN' | translate }}</div>
                </li>
                <li>
                    <div class="dayBox">
                        <div class="boxDay">29</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox">
                        <div class="boxDay">30</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox">
                        <div class="boxDay">31</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">1</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">2</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">3</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                            <div class="event hasClass"><img src="upload/teach/tp1.jpg" alt="">12:30 - Has Booking</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event3</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event4</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">4</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event3</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event4</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">5</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">6</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">7</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">8</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">9</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">10</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event3</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">11</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">12</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">13</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">14</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth today">
                        <div class="boxDay">15</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">16</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event3</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">17</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">18</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">19</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">20</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">21</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">22</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">23</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">24</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">25</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">26</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">27</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">28</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">29</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">30</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox">
                        <div class="boxDay">1</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox">
                        <div class="boxDay">2</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="calendarDetailed">
            <div class="dayTitle">2017-06-15 <i class="fa fa-times" aria-hidden="true" ng-click="colseC_D()"></i></div>
            <div class="allEventBox">
                <div class="eventBox">
                    <div class="subTitle defaultEC"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                    <div class="content">
                        <div class="eventTime">活動時間 : 14:30</div>
                        <div class="eventText">text~</div>
                        <div class="btns">
                            <button ng-click="editE_D() " class="editBtn bc_BR tc_WS">{{ 'MODIFY2' | translate }}</button>
                            <button ng-click="closeE_D()" class="closeBtn bc_BL tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="eventBox">
                    <div class="subTitle defaultEC"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                    <div class="content">
                        <div class="eventTime">活動時間 : 14:30</div>
                        <div class="eventText">text~</div>
                        <div class="btns">
                            <button ng-click="editE_D()" class="editBtn bc_BR tc_WS">{{ 'MODIFY2' | translate }}</button>
                            <button ng-click="closeE_D()" class="closeBtn bc_BL tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editDetailed">
                <div class="eventName">
                    <input type="text" title="活動標題">
                </div>
                <div class="eventContent">
                    <textarea name="" id="" title="活動說明"></textarea>
                </div>
                <div class="eventDay">
                    <div class="allDay">
                        全天
                        <input type="checkbox">
                    </div>
                    <div class="eventTimeBox">
                        <div class="startDay">
                            <input type="text" title="2016年6月15日">
                            <div class="changeTime">
                                <select name="hour">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                </select>
                                <span>:</span>
                                <select name="minute">
                                    <option value="0">00</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                </select>
                            </div>
                        </div>
                        <div class="endDay">
                            <input type="text" title="2016年6月15日">
                            <div class="changeTime">
                                <select name="hour">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                </select>
                                <span>:</span>
                                <select name="minute">
                                    <option value="0">00</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eventColor">
                    <div class="subTitle">活動顏色</div>
                    <ul class="eventColorBox">
                        <li class="defaultEC"><i class="fa fa-check" aria-hidden="true"></i></li>
                        <li class="eC1"></li>
                        <li class="eC2"></li>
                        <li class="eC3"></li>
                        <li class="eC4"></li>
                        <li class="eC5"></li>
                        <li class="eC6"></li>
                        <li class="eC7"></li>
                    </ul>
                </div>
                <div class="postTime">
                    <div class="usbTitle">預約發佈時間
                        <input type="checkbox">
                    </div>
                    <div class="postTimeBox">
                        <input type="text" title="2016年6月15日">
                        <div class="changeTime">
                            <select name="hour">
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                            </select>
                            <span>:</span>
                            <select name="minute">
                                <option value="0">00</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <button class="bc_BR tc_WS saveBtn">{{ 'SAVE' | translate }}</button>
                    <button ng-click="closeE_D()" class="bc_BL tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                </div>

            </div>
        </div>
    </div>
    <!-- 行事曆 END -->

</div>

<div ng-controller="BasicLive" class="livePopup">
    <div class="closeLive set" ng-click="closeLive()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="live">
        <div class="notchrome">{{ 'BROWSER_CANT_OPEN_LIVE' | translate }}</div>
        <div class="camera">
            <div class="camera_ready">已侦测到您的摄影镜头。</div>
            <div class="no_camera">找不到您的摄影镜头。</div>
        </div>
        <div class="video set">
            <div ng-show="0" class="nowislive set bc_BR tc_WS">{{ 'NOWISLIVE' | translate }} </div>
            <input type="text" id="liveTitle" class="liveTitle set" placeholder="{{ 'LIVETITLETEXT' | translate }}">
            <!--<textarea type="text" id="liveTitle" class="liveTitle set" title="{{ 'LIVETITLETEXT' | translate }}"></textarea>-->
            <!-- 視訊 -->

            <!-- END -->
            <div class="finishText">
                <video autoplay="" muted="ture" id="camara" src=""></video>
                <div class="liveIframeBox">
                    <div>
                        <div class="hsIframe">
                            <div ng-click="hideLiveIframe()" class="hideIframe"><i class="fa fa-minus-square-o" aria-hidden="true"></i>
                                <div>{{ 'HIDE' | translate }}</div>
                            </div>
                            <div ng-click="showLiveIframe()" class="showIframe"><i class="fa fa-square-o showIframe" aria-hidden="true"></i>
                                <div>{{ 'SHOW' | translate }}</div>
                            </div>
                        </div>
                        <iframe frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="100%" ng-src="{{trustSrc(tmp_rs.embed_url)}}"></iframe>
                    </div>
                </div>

                <div class="spet1">
                    <svg width='12%' height='12%' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="livevideoload">
                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                        <circle cx="50" cy="50" r="40" stroke="rgba(100%,100%,100%,0.39)" fill="none" stroke-width="10" stroke-linecap="round"></circle>
                        <circle cx="50" cy="50" r="40" stroke="#fff" fill="none" stroke-width="6" stroke-linecap="round">
                            <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate>
                            <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate>
                        </circle>
                    </svg>
                    <div>{{ 'ENDINGLIVE' | translate }}</div>
                </div>
                <!-- LOADING 處理影片 -->

                <div class="spet2">
                    <div>
                        <span>{{ 'LIVEFINISHTITLE' | translate }}</span>
                        <br> {{ 'LIVEFINISHTEXT' | translate }}
                        <br>
                        <button ng-click="doneBtn()" class="doneBtn">{{ 'DONE' | translate }}</button>
                    </div>
                </div>
                <!-- 完成 -->
            </div>
        </div>
        <div id="chatroom" class="talkBox set">
            <!-- 聊天室 -->

            <!-- 聊天室 END -->
        </div>
    </div>
    <div class="bottomBox">
        <select name="live_quality" id="highest" class="set">
            <option ng-selected="" ng-value="'_720p'">720p</option>
            <option ng-selected="" ng-value="'_1080p'">1080p</option>
        </select>
        <button ng-click="goLive()" class="goLive set set bc_BR tc_WS">{{ 'STARTLIVE' | translate }}</button>
        <button class="finishLive set bc_BR tc_WS" ng-click="finishLive()" onclick="window.onbeforeunload=null;return true;">{{ 'FINISH' | translate }}</button>
    </div>
</div>
<!--原直撥-->

<div class="closeJoinLive" ng-click="closeJoinLive()">
    <i class="fa fa-times" aria-hidden="true"></i>
</div>

<!-- 分享文章 pop-up -->
<div class="share-pop-up">
    <div class="shaee-content-box">
        <div class="title"><span>{{ 'SHARE_POP_UP_TITLE' | translate }}</span><span class="close"><i class="fa fa-times" aria-hidden="true"></i></span></div>
        <div class="article">
            <input type="text" title="{{ 'SAY_SOMETING' | translate }}....">
            <div class="share-at">
                <video type="video/mp4" autoplay="autoplay" controls="true" src="assets/video/teaching1video.mp4"></video>
                <div class="c_t">
                    這是該篇的內容文字~
                </div>
            </div>
        </div>
        <div class="share-btns">
            <button class="send">{{ 'SHARE_POP_UP_BUTTONS_SEND' | translate }}</button>
            <button class="close">{{ 'SHARE_POP_UP_BUTTONS_CLOSE' | translate }}</button>
            <div class="w_c_s">
                <select name="share_who" id="">
                    <option value="0">{{ 'SHARE_POP_UP_BUTTONS_SHAER_WHO_ME' | translate }}</option>
                    <option value="1">{{ 'SHARE_POP_UP_BUTTONS_SHAER_WHO_FRIEND' | translate }}</option>
                    <option value="2">{{ 'SHARE_POP_UP_BUTTONS_SHAER_WHO_OPEN' | translate }}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!-- 自己的全部私人訊息 -->
<div ng-show="seedata.data[0].f_backend != null" class="privateBar pb_bc tc_WS" id="msgProcController" ng-controller="msgProcController">

    <div ng-click="showPrivateBox()" class="privateBtn msg_bc">

        {{ 'TEACHER_APPRAISE_ALL_MSG' | translate }}
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        <div class="hasNewMessage" ng-if="Noreadtotal > 0"> new </div>

    </div>

    <div class="private_msg_list ">
        <div class="list_box">
            <div class="title tc_BL">
                {{ 'MESSENGER' | translate }}
            </div>
            
            <!-- 學校列表 -->
            <div class="name_box bor_b2" ng-class="'msg_head_'+messageGroup.group_id" ng-repeat="(key_messageGroup,messageGroup) in messageList track by $index" ng-click="showPrivateMsg(messageGroup,key_messageGroup)">
                <!-- nowSchoolMsg 為預設選擇的學校 -->

                <div>
                    <div class="user_name">
                        {{ messageGroup.group_name }}
                        <div class="hasNewMessage2" ng-if="messageGroup.room_Noread_number > 0"> new </div>
                    </div>


                    <!-- 帶入學校名稱 -->
                    <div class="notLookMsg">{{ messageGroup.last_message_time }}</div>
                    <!-- 未讀訊息 -->


                </div>

            </div>
            <!-- 學校列表 end -->
            
            <!-- 私訊列表 -->
            <div class="name_box bor_b2 displayN " ng-class="'msg_head_'+messageGroup.group_id" ng-repeat="(key_messageGroup,messageGroup) in messageList track by $index" ng-click="showPrivateMsg(messageGroup,key_messageGroup)">
                <!-- nowSchoolMsg 為預設選擇的學校 -->
                <div>
                    <div class="user_name">
                        <div class="msgGroup">
                            <div ng-click="pnBtnForMsg($event)" class="pnBtnForMsg prveBtnForMsg"><i class="fa fa-angle-left prveBtnForMsg" aria-hidden="true"></i></div>
                            <div ng-click="pnBtnForMsg($event)" class="pnBtnForMsg nextBtnForMsg"><i class="fa fa-angle-right nextBtnForMsg" aria-hidden="true"></i></div>
                            <div style="margin-left:0;" class="how">

                                <div class="msgMemberGrounp nowMG">
                                    <img src="../../upload/teach/preset_pic.png" alt="">
                                    <img src="../../upload/teach/tp1.jpg" alt="">
                                    <img src="../../upload/teach/tp2.jpg" alt="">
                                    <img src="../../upload/teach/tp3.jpg" alt="">
                                    <img src="../../upload/teach/tp4.jpg" alt="">
                                </div>
                                <!-- 把所有參與對話的成員以５個人為一組包起來 -->
                                <div class="msgMemberGrounp">
                                    <img src="../../upload/teach/preset_pic.png" alt="">
                                    <img src="../../upload/teach/tp1.jpg" alt="">
                                    <img src="../../upload/teach/tp2.jpg" alt="">
                                    <img src="../../upload/teach/tp3.jpg" alt="">
                                    <img src="../../upload/teach/tp4.jpg" alt="">
                                </div>
                                <!-- 把所有參與對話的成員以５個人為一組包起來 -->
                                <div class="msgMemberGrounp">
                                    <img src="../../upload/teach/preset_pic.png" alt="">
                                    <img src="../../upload/teach/tp1.jpg" alt="">
                                    <img src="../../upload/teach/tp2.jpg" alt="">
                                    <img src="../../upload/teach/tp3.jpg" alt="">
                                    <img src="../../upload/teach/tp4.jpg" alt="">
                                </div>
                                <!-- 把所有參與對話的成員以５個人為一組包起來 -->
                                <div class="msgMemberGrounp">
                                    <img src="../../upload/teach/preset_pic.png" alt="">
                                    <img src="../../upload/teach/tp1.jpg" alt="">
                                    <img src="../../upload/teach/tp2.jpg" alt="">
                                    <img src="../../upload/teach/tp3.jpg" alt="">
                                    <img src="../../upload/teach/tp4.jpg" alt="">
                                </div>
                                <!-- 把所有參與對話的成員以５個人為一組包起來 -->

                            </div>
                            <!-- 群組成員名稱改為頭像 -->
                        </div>


                        <div class="hasNewMessage2" ng-if="messageGroup.room_Noread_number > 0"> new </div>
                    </div>

                    <!-- 帶入學校名稱 -->
                    <div class="notLookMsg">{{ messageGroup.last_message_time }}
                        <div class="unrea">{{ 'UNREA' | translate }} ( 7 )</div>
                    </div>
                    <!-- 未讀訊息 -->

                </div>

            </div>
            <!-- 私訊列表 end -->

        </div>
        <!--  私人訊息 pop up  -->
        <div class="private_msg_pup nowSchoolMsgShow">
            <!-- nowSchoolMsgShow 為預設顯示的學校 -->
            <div class="title tc_BL">
                <div class="talkName">
                    <div class="msgTitle">{{privateMessageName}}</div>
                    <div class="cTitle displayN">
                        <input name="" value="{{privateMessageName}}" type="text">
                        <div ng-click="noChengMsgTitle($event)"><i class="fa fa-times" aria-hidden="true"></i></div>
                        <div ng-click="saveChengMsgTitle($event)"><i class="fa fa-check" aria-hidden="true"></i></div>
                    </div>
                    <div class="changeTitle displayN">
                        <i ng-click="changeRemoveMember($event)"  class="fa fa-user-times" aria-hidden="true"></i>
                        <i ng-click="changePlusMember($event)"  class="fa fa-plus" aria-hidden="true"></i>
                        <i ng-click="changeTitle($event)"  class="fa fa-pencil" aria-hidden="true"></i> 
                    </div>
                </div>
                <!-- 帶入學校名稱 -->
            </div>
            
            <!-- 新增成員 -->
            <div class="pulsMembr">
                <div class="keyinPlus">
                    <input class="keyinPlusInput" ng-init="inputCon" placeholder="{{ 'EMAILPLUSUSER' | translate }}" type="text">
                    <div class="plusText">以名稱邀請</div>
                    <i ng-click="keyinPlus($event)"  class="fa fa-check" aria-hidden="true"></i>
                    <i ng-click="colseKeyInPlus()" class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div class="keyInPlusMemberBox">
                    
                </div>
                <div class="plusFriendTitle bc_BR tc_WS">{{ 'PLUSFRIEND' | translate }}</div>
                <div class="firendPlus">
                    <div ng-click="plusFriendInTalk($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/preset_pic.png" alt="">
                    </div>
                    <div ng-click="plusFriendInTalk($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/tp1.jpg" alt="">           
                    </div>
                    <div ng-click="plusFriendInTalk($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/tp2.jpg" alt="">
                    </div>
                    <div ng-click="plusFriendInTalk($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/tp3.jpg" alt="">
                    </div>
                    <div ng-click="plusFriendInTalk($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/tp4.jpg" alt="">
                    </div>
                </div>
                <div class="plusBtns">
                    <div ng-click="yesPlus()" class="yesPlus"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <div ng-click="noPlus()" class="noPlus"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
            </div>
            <!-- 新增成員 ＥＮＤ -->
            
            <!-- 移除成員 -->
            <div class="removeMembr">
                <div class="plusFriendTitle bc_BR tc_WS">{{ 'REMOVEGROUNPMEMBER' | translate }}</div>
                <div class="firendPlus">
                    <div ng-click="removeGrounpMember($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/preset_pic.png" alt="">
                    </div>
                    <div ng-click="removeGrounpMember($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/tp1.jpg" alt="">           
                    </div>
                    <div ng-click="removeGrounpMember($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/tp2.jpg" alt="">
                    </div>
                    <div ng-click="removeGrounpMember($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/tp3.jpg" alt="">
                    </div>
                    <div ng-click="removeGrounpMember($event)" class="friendPB">
                       <div class="checkThis"><i class="fa fa-check" aria-hidden="true"></i></div>
                        <img src="../../upload/teach/tp4.jpg" alt="">
                    </div>
                </div>
                <div class="plusBtns">
                    <div ng-click="yesRemoveM()" class="yesPlus"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <div ng-click="noRemoveM()" class="noPlus"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
            </div>
            <!-- 移除成員 ＥＮＤ -->
            
            <div class="msg_box bor_b">
                <div class="allmessagebox">
                    <div ng-repeat="message in privateMessageList" ng-class="message.created_by == seedata.data[0].f_backend.user_id ? 'self' : 'others'">
                        <div class="sayUserImg">
                            <img src="../../upload/teach/tp1.jpg" alt="">
                        </div>
                        <div class="say">
                            <div class="pre" ng-if="message.message != null && message.message != ''">
                                <p ng-bind-html="message.message  | linkify"></p>
                            </div>

                            <div class="pic_box">
                                <a ng-init="isFile()" target="_new" ng-href="{{'upload'+message.path}}" ng-if="message.path != null && message.path != ''  && message.type =='3' "><i class="fa fa-cloud-download" aria-hidden="true"></i>{{ message.original_name }}</a>
                                <iframe ng-if="message.path != null && message.path != '' && message.type =='2' && message.cloud_id !=null " frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_BoardList.attached_name)}}"></iframe>
                                <video ng-init="isVideo()" ng-if="message.path != null && message.path != '' && message.type =='2' && message.cloud_id ==null " type="video/mp4" controls="true" ng-src="{{'upload'+message.path}}"></video>
                                <img ng-init="isImg()" ng-if="message.path != null && message.path != '' && message.type =='1'" ng-src="{{'upload'+message.path}}" alt="">
                            </div>
                        </div>

                        <div class="time">
                            {{ message.created_at }}
                            <div class="read displayN">{{ 'READ' | translate }} 2</div>
                        </div>
                    </div>

                </div>
            </div>
            <!--  對話紀錄區  -->

            <div class="key_in_box">

                <textarea id="messageText" name="messageText" class="kin_in_text" contenteditable="true"></textarea>
                <!-- 文字輸入框 -->

                <div class="u_b u_i up_img">
                    <label for="message_file" class="msgFileBtn">
                        <div class="fileBtn"><i class="fa fa-folder" aria-hidden="true"></i> <i class="fa fa-folder-open" aria-hidden="true"></i> {{ 'CHOOSEFILE' | translate }}</div>
                        <input ng-init="fileChange()" name="message_file" id="message_file" nstyle="" type="file">
                    </label>
                </div>
                <!-- 上傳檔案  -->

                <button type="button" onClick="sendMessage()" ng-click="sendMsgBtnClick()" class="msg_bc tc_WS">{{ 'TEACHER_MY_PROFILE_SEND' | translate }}</button>
                <!-- 送出按鈕  -->
            </div>
            <!-- 輸入區  -->
        </div>
        <!--  私人訊息 pop up END  -->
    </div>

</div>
<!-- 自己的全部私人訊息 -->


<!--
<div class="loadingTrue">
    {{ 'LOADTRUE' | translate }}
</div>
-->

<div class="loadingFalse">
    {{ 'LOADFALSE' | translate }}
</div>

<div class="msgPopUp">
    <div ng-click="colsePopUp()" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="msgpopupbox">

    </div>
</div>

<div class="videouploading">
    <div class="loadingBar"><img src="images/ajax-loader.gif" alt=""></div>
    <!-- <span>你的影片还将在 <div id="down_sec">59</div> 秒后上传成功。 </span> -->
    <span>{{ 'FILEUPLOAD' | translate }}</span>
</div>

<div class="nowUpVideo">
    <div ng-click="colsePopUp()" class="close-btn"></div>
    <div>
        <div>
            <div class="title">{{ 'PROCESSING' | translate }} <i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i> </div>
            <div class="content">{{ 'PROCESSINGTEXT' | translate }}</div>
        </div>
    </div>
</div>

<div class="nowUpImage">
    <div ng-click="colsePopUp()" class="close-btn"></div>
    <div>
        <div>
            <div class="title">{{ 'FILE_UPLOAD' | translate }} <i ng-click="colsePopUp()" class="fa fa-times" aria-hidden="true"></i> </div>
            <div class="content">{{ 'FILE_UPLOAD_TEXT' | translate }}</div>
        </div>
    </div>
</div>

<div ng-click="colseThisMsg()" class="upVidepFinish" onclick="javascript:window.location.reload()">
    {{ 'FINISHUPVIDEO' | translate }}
</div>

<script type="text/javascript-lazy">
    //var baseUrl = window.location.origin.split(":")[0] + ":" + window.location.origin.split(":")[1] + ":3001";
    var baseUrl = window.location.origin.split(":")[0] + ":" + window.location.origin.split(":")[1] + ":3001";
    //var baseUrl = 'http' + ":" + window.location.origin.split(":")[1] + ":3001";
    var socket = io.connect(baseUrl);
    $.ajax({
        url: APIForder + "?service=User.GetSession",
        type: "POST",
        dataType: 'json',

        success: function (msg) {
            var nowID = ( msg.data[0] && msg.data[0].f_backend ) ? msg.data[0].f_backend.user_id : null;

            var QueryString = new Object();
            QueryString.user_id = nowID;
            var my_data = new Object();

            socket.emit('new user', QueryString);
            socket.on('relink', function (data) {
                socket.emit('new user', QueryString);
                socket.emit('private message', data.msg, data.files_id);
            });

            socket.on('baserelink', function (data) {
                socket.emit('new user', QueryString);
            });

            socket.on('sendSid', function (data) {
                console.log(data);
                angular.element(document.getElementById('msgProcController')).scope().$apply(function () {
                    angular.element(document.getElementById('msgProcController')).scope().pushMessageList(data);
                });

            });

            socket.on('myuserdata', function (data) {
                if (data === null) {
                    //$('#send_div').hide();
                } else {
                    my_data = data;
                    angular.element(document.getElementById('msgProcController')).scope().$apply(function () {
                        angular.element(document.getElementById('msgProcController')).scope().pushNoReadMessageList(data);
                    });
                    console.log(my_data);
                }
            });

            socket.on('getCheckVideo', function (data) {
                if (data.msg_state == 'completed') {
                    $('.nowUpVideo').hide();
                    $('.upVidepFinish').show();
                }
                /*
                if (data === null) {
                    //$('#send_div').hide();
                } else {
                    my_data = data;
                    angular.element(document.getElementById('msgProcController')).scope().$apply(function () {
                        angular.element(document.getElementById('msgProcController')).scope().pushNoReadMessageList(data);
                    });
                    console.log(my_data);
                }
            });
            */
            });


        }
    });

    /*
    function CheckVideo(VideoID,board_id) {
        socket.emit('CheckVideoDown', VideoID,board_id);
    };
    */
    function changeRoom(roomID) {
        socket.emit('switchRoom', roomID);
        socket.emit('RoomUserList', roomID);
    }
    /*
    function CheckVideo(VideoID) {
        socket.emit('CheckVideoDown', VideoID);
    }
    */

    function sendMessage() {
        if (($('#message_file').val() == null || $('#message_file').val() == "") && ($('#messageText').val() == null || $('#messageText').val() == "")) {
            return;
        }


        var messageText = $('#messageText').val();

        if ($('#message_file').val() != null && $('#message_file').val() != "") {
            $.ajaxFileUpload({
                url: APIForder + "?service=Message.fileUpload",
                secureuri: false,
                fileElementId: 'message_file',
                dataType: 'json',
                success: function (data, status) {
                    console.log(data.data.file_id);
                    if (data.data.file_id > 0) {
                        socket.emit('private message', messageText, data.data.file_id);
                    } else {
                        socket.emit('private message', messageText, null);
                    }
                },
                error: function (data, status, e) {
                    console.log(e);
                }
            })
        } else {
            socket.emit('private message', messageText, null);
        }
        $('#messageText').val('');

    }
</script>

<!-- 自己的全部私人訊息 -->
<div id="BasicSettingStart" ng-controller="BasicSettingStart" ng-include="'footer.temp'"></div>
<link rel="stylesheet" href="assets/css/ng-alertify.css" />