
    <title>Showhi</title>
    <!-- //seo -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content="" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />

    <!--header-->

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <div ng-include="'header.temp'"></div>
    <!--header-->
</head>