<div class="mid">
    <!-- banner -->
    <div ng-repeat="profile_data1 in profile_data.data[0].tmp_list" class="banner" style="background-image: url(upload/teach/{{profile_data1.bg_image}})">
        <div class="modify-bg" onclick="$('#backgroundFile').click();"><i class="fa fa-picture-o" aria-hidden="true"></i>{{ 'TEACHER_MY_PROFILE_MODIFY_BANNER' | translate }}</div>
        <!-- 更換背景 -->
        <div class="float-Box banner-modify">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <div>
                <form id="backgroundFileForm" method="post" action="#" enctype="multipart/form-data">
                    <input type="file" class="" title="{{ 'STUDENT_MY_PROFILE_MODIFY_CHOOSE_FILE' | translate }}。" accept="" id="backgroundFile" name="photoFile" onChange="uploadUserPhoto('bg')">
                </form>
            </div>
        </div>

        <div class="user-img">
            <img src="upload/teach/{{profile_data1.image}}" alt="">
            <div class="modify-img" onclick="$('#photoFile').click();"><i class="fa fa-picture-o" aria-hidden="true"></i>{{ 'TEACHER_MY_PROFILE_MODIFY_PIC' | translate }}</div>
        </div>
        <div class="user-name">{{profile_data1.nick_name}}</div>
        <div class="float-Box pic-modify">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            <div>
                <form id="photoFileForm" method="post" action="#" enctype="multipart/form-data">
                    <input type="file" class="" title="{{ 'STUDENT_MY_PROFILE_MODIFY_CHOOSE_FILE' | translate }}。" accept="" id="photoFile" name="photoFile" onChange="uploadUserPhoto('photo')">
                </form>
            </div>
        </div>
    </div>
    <ul class="function-menu">
        <li><a href="User.TeacherMyProfile">{{ 'TEACHER_MY_PROFILE_TIME_LINE' | translate }}</a></li>
        <li><a href="video.html">{{ 'TEACHER_MY_PROFILE_VIDEO' | translate }}</a></li>
        <li><a href="Message.allMsg">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }}</a></li>
        <li><a href="User.TeacherEdit">{{ 'TEACHER_MY_PROFILE_MODIFY_DATA' | translate }}</a></li>
        <li class="float-right recommend">{{ 'TEACHER_MY_PROFILE_RECOMMEND' | translate }}</li>
    </ul>
    <!-- banner END -->

    <!-- 左邊區塊 -->
    <div class="left">
        <div class="buttons">
            <form ng-submit="submit(data)" ng-controller="UserExCtrl">
                <div class="time-search">
                    <span>{{ 'TEACHER_MY_PROFILE_TIME_SERACH' | translate }}</span>
                    <div class="effective_Date stepOne">
                        <div class="seDateTime">
                            <input id="this_day" ng-model="data.this_day" name="this_day" type="text" value="" /><i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div>
                    <button  class="t_c_white" type="submit">{{ 'TEACHER_MY_PROFILE_SEARCH_BUTTON' | translate }}</button>
                    <!-- <a href="Course.ViewList"><button  class="t_c_white"  type="submit">開始搜尋</button></a>-->
                </div>
            </form>
        </div>
        <!-- 頁面所有者簡介 -->
        <div ng-repeat="profile_data1 in profile_data.data[0].tmp_list" class="about-box">
            <span>{{ 'TEACHER_MY_PROFILE_ABOUT' | translate }}</span>
            <div class="text-box">
                {{profile_data1.text}}
            </div>
        </div>
        <!-- 頁面所有者簡介 END -->

        <!-- 影片 -->
        <div class="videos">
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
            <!-- alt 放影片名稱 -->
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
            <div class="video-box"><img src="images/book.jpg" alt="teaching1video"></div>
        </div>
        <!-- 影片 END -->

        <!-- 好友及訂閱 -->
        <div class="group-box">
            <span>{{ 'TEACHER_MY_PROFILE_SUBSCRIBE' | translate }}</span>
            <div>
                <div ng-repeat="(keytmpsub , tmpSubscription) in SubscriptionList" class="">
                    <a target="_blank" href="Course.TeacherText/{{tmpSubscription.who_user_id}}"><img src="upload/teach/{{tmpSubscription.image}}" alt=""></a>
                </div>
            </div>
            <span>{{ 'TEACHER_MY_PROFILE_FRIEND' | translate }}</span>
            <div>
                <div ng-repeat="(keytmpfri , tmpFriendsList) in FriendsList" class="">
                    <a target="_blank" href="Course.TeacherText/{{tmpFriendsList.nick_name}}"><img src="upload/teach/{{tmpFriendsList.image}}" alt=""></a>
                </div>
            </div>
        </div>
        <!-- 好友及訂閱 END -->
    </div>

    <!-- 右邊區塊 -->
    <div class="right">

        <!-- 私人訊息 -->

        <!-- 發布訊息 -->
        <div class="p_m_b bor_s_1">
            <div class="title">
                {{ 'TEACHER_PRIVATE_MSG_TITLE' | translate }}
            </div>

            <!-- 輸入受邀請人 -->
            <div class="friend">
                <div class="sub_t">
                    {{ 'TEACHER_MY_PROFILE_FRIEND' | translate }}
                </div>
                <input type="text" title="{{ 'TEACHER_PRIVATE_MSG_FRIEND_EMAIL' | translate }}">
                <button  class="t_c_white" type="button">
                    {{ 'TEACHER_PRIVATE_MSG_INVITE' | translate }}
                </button>
            </div>

            <!-- 被邀請人清單 -->
            <div class="i_p_f">
                <span>
                    {{ 'TEACHER_EDIT_TIME_LINE' | translate }}被邀請人
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                <span>
                    {{ 'TEACHER_EDIT_TIME_LINE' | translate }}被邀請人
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                <span>
                    {{ 'TEACHER_EDIT_TIME_LINE' | translate }}被邀請人
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                <span>
                    {{ 'TEACHER_EDIT_TIME_LINE' | translate }}被邀請人
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </div>

            <!-- 文字輸入區 -->
            <div class="talk_msg">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>

            <!-- 按鈕 -->
            <div class="btns">
                <input type="file">
                <button  class="t_c_white" type="button">
                    {{ 'FRIEND_BUTTON' | translate }}
                </button>
            </div>
        </div>
    </div>

</div>




<script type="text/javascript-lazy">
    $(document).ready(init)

    function init() {
        //起始時間與結束時間
        $("#this_day").datepicker({
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
            minDate: 'today',
            maxDate: "+2m"
        });
        //起始時間與結束時間

        // 幫 input 加上提示，用預設的 className(blur)
        $("input[title!='']").hint();
        // 幫 textarea 加上提示，並用自訂的 className
        $("textarea[title!='']").hint("myBlur");

        // 邀請朋友私訊

        $(".friend button").unbind().click(function () {
            if ($(".friend input").attr("class") != "blur") {
                var $input_val = $(".friend input").val(),
                    _append_htm = '<span>' + $input_val + '<i class="fa fa-times" aria-hidden="true"></i></span>'
                $(".i_p_f").append(_append_htm)
            }
            // 移除邀請
            $(".i_p_f .fa").click(function () {
                $(this).parent().remove()
            })

        })


        //展開私訊
        $(".unfolded").click(function () {
            $(this).parent().height('auto')
            $(this).hide()
        })

        $('.lang').click(function () {
            $('.lang-box').slideToggle(0)
        })
        $(".member").click(function () {
            $('body').css('overflow', 'hidden')
            $(".pop-up").show()
            $('.login-box').show()
        })
        $(".close-btn , .yesBtn").click(function () {
            $('body').css('overflow', 'auto')
            $(".pop-up").hide()
            $('.member-box').hide()
            $(".recommend-box").hide()
            $('.pop-up video').hide().attr('src', '')
            $('.mid').css('height', 'auto')
            $('.mid').css('overflow', 'auto')
            $('.booking').hide()
        })


        $('label img').click(function () {
            var $this = $(this)
            $this.parent().toggleClass('selectThis')
        })

        $('.friend label').each(function () {
            var $this = $(this),
                $this_for = $this.attr('for')
            $this.find('input').attr('id', $this_for)
        })

        $('.left .videos div').click(function () {
            $('body').css('overflow', 'hidden')
            var $this = $(this),
                $video = $this.find('img').attr('alt'),
                $src = 'assets/video/' + $video + '.mp4'
            $('.member-box').hide()
            $('.pop-up').show()
            $('.pop-up video').show().attr('src', $src)

        })

        $('.identity-box .btn').unbind().click(function () {
            $(this).parent().find('ul').slideToggle(150)
        })


    }
</script>