<!--same -->
<div ng-include="'templates/common/top.htm'"></div>
<div ng-include="'templates/common/menu.htm'"></div>
<!-- //same -->
<div ng-include="ContentForder + ContentHtml"></div>
<!--same -->
<div ng-include="'templates/common/footer.htm'"></div>
<!-- //same -->

<script type="text/ng-template" id="header.temp">
    <!-- HTML片段的实际内容 -->
    <!--        <link rel="stylesheet" href="assets/css/jquery-ui.css" />-->
    <link rel="stylesheet" href="assets/css/main-style.css" />
    <link rel="stylesheet" href="assets/css/user-style.css" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/ng-img-crop.css" />
    <link rel="stylesheet" type="text/css" href="assets/js/sweetalert-master/dist/sweetalert.css">
</script>


<script type="text/ng-template" id="footer.temp">
    <!-- HTML片段的实际内容 -->
    <!-- Scripts 不適所有js都能載 -->
</script>