<div class="mid">
    <div class="calendar">
        <div class="timeTitle">2017{{ 'CLASS_APPRAISE_TIME_YEAR' | translate }}6{{ 'CLASS_APPRAISE_TIME_MONTH' | translate }}</div>
        <div class="calendarDayBox">
            <ul class="calendarContentBox" ng-init="calendarEvent()">
                <li class="weekTitle">
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_MON' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_TUE' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_WED' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_THU' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_FRI' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_SAT' | translate }}</div>
                    <div>{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}{{ 'STUDENT_EDIT_USER_DATA_SUN' | translate }}</div>
                </li>
                <li>
                    <div class="dayBox">
                        <div class="boxDay">29</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox">
                        <div class="boxDay">30</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox">
                        <div class="boxDay">31</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">1</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">2</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">3</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                            <div class="event hasClass"><img src="upload/teach/tp1.jpg" alt="">12:30 - Has Booking</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event3</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event4</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">4</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event3</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event4</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">5</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">6</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">7</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">8</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">9</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">10</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event3</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">11</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">12</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">13</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">14</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth today">
                        <div class="boxDay">15</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">16</div>
                        <div class="newEvent">
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                            <div class="event"><img src="upload/teach/tp1.jpg" alt="">new school event3</div>
                        </div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">17</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">18</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">19</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">20</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">21</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">22</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">23</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">24</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">25</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">26</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">27</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">28</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">29</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox thisMonth">
                        <div class="boxDay">30</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox">
                        <div class="boxDay">1</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                    <div class="dayBox">
                        <div class="boxDay">2</div>
                        <div class="newEvent"></div>
                        <div class="moreEvent">
                            <div>+more</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="calendarDetailed">
            <div class="dayTitle">2017-06-15 <i class="fa fa-times" aria-hidden="true" ng-click="colseC_D()"></i></div>
            <div class="allEventBox">
                <div class="eventBox">
                    <div class="subTitle defaultEC"><img src="upload/teach/tp1.jpg" alt="">new school event</div>
                    <div class="content">
                        <div class="eventTime">活動時間 : 14:30</div>
                        <div class="eventText">text~</div>
                        <div class="btns">
                            <button ng-click="editE_D() "class="editBtn bc_BR tc_WS">{{ 'MODIFY2' | translate }}</button>
                            <button ng-click="closeE_D()" class="closeBtn bc_BL tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="eventBox">
                    <div class="subTitle defaultEC"><img src="upload/teach/tp1.jpg" alt="">new school event2</div>
                    <div class="content">
                        <div class="eventTime">活動時間 : 14:30</div>
                        <div class="eventText">text~</div>
                        <div class="btns">
                            <button ng-click="editE_D()" class="editBtn bc_BR tc_WS">{{ 'MODIFY2' | translate }}</button>
                            <button ng-click="closeE_D()" class="closeBtn bc_BL tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editDetailed">
                <div class="eventName">
                    <input type="text" title="活動標題">
                </div>
                <div class="eventContent">
                    <textarea name="" id="" title="活動說明"></textarea>
                </div>
                <div class="eventDay">
                    <div class="allDay">
                        全天
                        <input type="checkbox">
                    </div>
                    <div class="eventTimeBox">
                        <div class="startDay">
                            <input type="text" title="2016年6月15日">
                            <div class="changeTime">
                                <select name="hour">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                </select>
                                <span>:</span>
                                <select name="minute">
                                    <option value="0">00</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                </select>
                            </div>
                        </div>
                        <div class="endDay">
                            <input type="text" title="2016年6月15日">
                            <div class="changeTime">
                                <select name="hour">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                </select>
                                <span>:</span>
                                <select name="minute">
                                    <option value="0">00</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eventColor">
                    <div class="subTitle">活動顏色</div>
                    <ul class="eventColorBox">
                        <li class="defaultEC"><i class="fa fa-check" aria-hidden="true"></i></li>
                        <li class="eC1"></li>
                        <li class="eC2"></li>
                        <li class="eC3"></li>
                        <li class="eC4"></li>
                        <li class="eC5"></li>
                        <li class="eC6"></li>
                        <li class="eC7"></li>
                    </ul>
                </div>
                <div class="postTime">
                    <div class="usbTitle">預約發佈時間
                        <input type="checkbox">
                    </div>
                    <div class="postTimeBox">
                        <input type="text" title="2016年6月15日">
                        <div class="changeTime">
                            <select name="hour">
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                            </select>
                            <span>:</span>
                            <select name="minute">
                                <option value="0">00</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <button class="bc_BR tc_WS saveBtn">{{ 'SAVE' | translate }}</button>
                    <button ng-click="closeE_D()" class="bc_BL tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                </div>

            </div>
        </div>
    </div>
</div>