<div class="mid" id="CommBoard" ng-controller="CommBoard">
    <!-- banner -->
    <div class="pageBanner">
        <div ng-repeat="profile_data1 in profile_data.data[0].tmp_list" class="banner" style="background-image: url(upload/teach/{{profile_data1.bg_image}}); background-position-y:{{profile_data1.bg_image_style}}%; ">

            <div class="cb_bt1">
                <label for="" ng-click="cutbannershow()" class="modify-bg"><i class="fa fa-picture-o" aria-hidden="true"></i>{{ 'TEACHER_MY_PROFILE_MODIFY_BANNER' | translate }}</label>
            </div>

            <!-- 更換背景 -->
            <div class="float-Box banner-modify">
                <i class="fa fa-caret-up" aria-hidden="true"></i>
            </div>

            <div class="user-img">
                <img src="upload/teach/{{profile_data1.image}}" alt="">
                <div class="modify-img" ng-click="showCutAvatar();"><i class="fa fa-picture-o" aria-hidden="true"></i>{{ 'TEACHER_MY_PROFILE_MODIFY_PIC' | translate }}</div>
            </div>
            <div class="user-name">{{profile_data1.nick_name}}</div>
            <div class="float-Box pic-modify">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div>
                    <form id="photoFileForm1" method="post" action="#" enctype="multipart/form-data">
                        <input accept='image/*' type="file" class="" title="{{ 'STUDENT_MY_PROFILE_MODIFY_CHOOSE_FILE' | translate }}。" accept=""
                            id="photoFile" name="photoFile" onChange="uploadUserPhoto('photo')">
                    </form>
                </div>
            </div>
        </div>

        <article ng-init="upIma()">
            <div class="cutBannerImgBox">
                <div id="holder">
                    <img id="target_bg_image" src="" alt="" style="top:0;">
                </div>
                <div id="upload" class="moveBar">
                    <div class="topBar seeBar"></div>
                    <span>{{ 'MOVE_BANNER_IMG' | translate }}</span>
                    <div class="bottomBar seeBar"></div>
                </div>
            </div>
        </article>

        <ul class="function-menu">
            <li class="pgemenubtn"><a href="User.TeacherMyProfile">{{ 'TEACHER_MY_PROFILE_TIME_LINE' | translate }}</a></li>
            <li class=""><a href="video.html">{{ 'TEACHER_MY_PROFILE_VIDEO' | translate }}</a></li>
            <!--        <li><a href="Message.allMsg">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }}</a></li>-->
            <li class="pgemenubtn"><a href="Fan.MyFanList">{{ 'FAN_GROUP' | translate }}</a></li>
            <!--        <li class="privatelistBtn" ng-click="privateList = ! privateList">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }}</li>-->
            <li class="pgemenubtn"><a href="User.TeacherEdit">{{ 'TEACHER_MY_PROFILE_MODIFY_DATA' | translate }}</a></li>
            <li class="float-right recommend">{{ 'TEACHER_MY_PROFILE_RECOMMEND' | translate }}</li>
            <li onclick="uploadUserBgPhoto('bg')" id="bgHeight" class="cutBannerBTN saveCutBanner bc_BR tc_WS">{{ 'SAVE' | translate }}</li>
            <!--<li onclick="setbgHeight()" id="setbgHeight" class="cutBannerBTN saveCutBanner bc_BR tc_WS">{{ 'SAVE' | translate }}</li>-->
            <li ng-click="closeCutBanner()" class="cutBannerBTN closeCutBannen bc_CLOSE tc_BL">{{ 'SHARE_POP_UP_BUTTONS_CLOSE' | translate }}</li>
            <li class="up_img_files_li">
                <form id="backgroundFileForm" method="post" action="#" enctype="multipart/form-data">
                    <input accept='image/*' type="file" id="files_bg_image" ng-click="files_bg_image()" class="" title="{{ 'STUDENT_MY_PROFILE_MODIFY_CHOOSE_FILE' | translate }}。"
                        accept="" name="photoFile">

                </form>
            </li>
            <li ng-if="seedata.data[0].f_backend.type_id >='2' "><a href="User.InviteMang">邀請加入</a></li>
        </ul>
    </div>
    <!-- banner END -->

    <!-- 左邊區塊 -->
    <div class="left leftFixed" ng-init="leftBoxFixed()" ng-controller="FuncFriendsAndSubscript">
        <a target="_blank" href="{{seedata.data[0].f_backend.teach_room_url}}" id="zoom_link">
            <button ng-if="seedata.data[0].f_backend.approval =='Y' && seedata.data[0].f_backend.type_id >='2' " type="button" class="openTemRoom bc_BR tc_WS">{{ 'OPEN_TEM_ROOM' | translate }}</button>
        </a>

            <button ng-if="0" ng-click="tmp_zoomopen()" ng-if="seedata.data[0].f_backend.approval =='Y' && seedata.data[0].f_backend.type_id >='2' " type="button" class="openTemRoom bc_BR tc_WS">{{ 'OPEN_TEM_ROOM' | translate }} 1 </button>
            <a ng-if="0" target="_blank" href="#" id="zoom_link1">
                click me
            </a>
        <!-- 臨時視訊 -->
        <div class="buttons">
            <form ng-submit="submit(data)" ng-controller="UserExCtrl">
                <div class="time-search">
                    <span>{{ 'TEACHER_MY_PROFILE_TIME_SERACH' | translate }}</span>
                    <div class="effective_Date stepOne">
                        <div class="seDateTime">
                            <input id="this_day" ng-model="data.this_day" name="this_day" type="text" value="" /><i class="fa fa-calendar"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <button type="submit">{{ 'TEACHER_MY_PROFILE_SEARCH_BUTTON' | translate }}</button>
                    <!-- <a href="Course.ViewList"><button  type="submit">開始搜尋</button></a>-->
                </div>
            </form>
        </div>
        <!-- 頁面所有者簡介 -->
        <div ng-repeat="profile_data1 in profile_data.data[0].tmp_list" class="about-box shadow_s_1">
            <span>{{ 'TEACHER_MY_PROFILE_ABOUT' | translate }}</span>
            <div class="text-box">
               <p ng-if="profile_data1.text < 1">{{ 'TO' | translate }} <a href="User.TeacherEdit">{{ 'TEACHER_MY_PROFILE_MODIFY_DATA' | translate }}</a> {{ 'WRITE_SOME_INTRODUCTION' | translate }}</p><!-- 沒內容時顯示 -->
                {{profile_data1.text}}
            </div>
        </div>
        <!-- 頁面所有者簡介 END -->



        <div class="left_group shadow_s_1">
            <!--<video id="VideoJs_Hlsjs_api" class="vjs-tech" preload="metadata" src="blob:https://app.straas.net/8dd5c143-a731-48c8-8aa3-29f48e68ddcc" style="object-fit: contain;" data-video="0"></video>-->
            <!--<iframe frameborder="0"   src="https://app.straas.net/showhi.club/videos/eh9fB8A3"></iframe>-->
            <!-- 影片 -->
            <div ng-if="1 ==0" class="videos">
                <div ng-repeat="(key_this_BoardMedia , this_BoardMedia) in BoardMedia.data[0].board_media  track by $index">
                    <!--
                    <div ng-show="this_BoardMedia.type ==2 && 
                    (this_BoardMedia.read_permi =='public' || this_BoardMedia.user_id ==seedata.data[0].f_backend.user_id  )" class="video-box">
                    <video ng-src="{{'upload/teach/'+this_BoardMedia.attached_name}}" alt="{{this_BoardMedia.attached_name}}"></video>
                    </div> -->

                    <div ng-show="this_BoardMedia.type ==2 && 
                    (this_BoardMedia.read_permi =='public' || this_BoardMedia.user_id ==seedata.data[0].f_backend.user_id  )"
                        class="video-box"><img src="images/book.jpg" alt="{{this_BoardMedia.attached_name}}"></div>

                    <div ng-init="showThisImg()" ng-show="this_BoardMedia.type ==1 && 
                    (this_BoardMedia.read_permi =='public' || this_BoardMedia.user_id ==seedata.data[0].f_backend.user_id  ) "
                        class="video-box image-box"><img ng-src="{{'upload/teach/'+this_BoardMedia.attached_name}}" alt="{{this_BoardMedia.attached_name}}"></div>

                </div>

            </div>
            <!-- 影片 END -->

            <!-- 好友及訂閱 -->
            <div class="group-box">
                <span ng-show="1">{{ 'TEACHER_MY_PROFILE_SUBSCRIBE' | translate }}</span>
                <p ng-show="0">{{ 'NO_FOLLOW' | translate }}</p><!-- 沒內容時顯示 -->
                <div class="p_fWarp">
                    <div ng-show="1">
                        <div ng-repeat="(keytmpsub , tmpSubscription) in SubscriptionList" class="">
                            <a href="Fan.FanText/{{tmpSubscription.who_user_id}}">
                                <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                                <img src="upload/fan/{{tmpSubscription.image}}" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <span ng-show="1">{{ 'TEACHER_MY_PROFILE_FRIEND' | translate }}</span>
                <p ng-show="0">{{ 'NOW_NO_FRIEND' | translate }}</p><!-- 沒內容時顯示 -->
                <div class="p_fWarp">
                    <div ng-show="1">
                        <div ng-repeat="(keytmpfri , tmpFriendsList) in FriendsList" class="">
                            <a ng-if="seedata.data[0].f_backend.user_id != tmpFriendsList.who_user_id  " href="Course.TeacherText/{{tmpFriendsList.who_user_id}}"><img src="upload/teach/{{tmpFriendsList.image}}" alt=""></a>
                            <a ng-if="seedata.data[0].f_backend.user_id != tmpFriendsList.user_id  " href="Course.TeacherText/{{tmpFriendsList.user_id}}"><img src="upload/teach/{{tmpFriendsList.image}}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 好友及訂閱 END -->
        </div>
        <button ng-click='leftBoxShowMore()' class="showMore bc_BR tc_WS">{{ 'TEACHER_PRIVATE_MSG_MORE' | translate }}</button>
    </div>

    <!-- 右邊區塊 -->
    
    <div ng-if="seedata.data[0].f_backend.approval !='Y'" class="right">
        <div class="accountNoOpen">
            {{ 'WAIT_YOUR_ACCOUNT_OPEN' | translate }}
        </div>
    </div><!-- 帳號未開通時才顯示 -->
    
    <div ng-if="seedata.data[0].f_backend.approval =='Y'" class="right">
        <!-- 建立新留言 -->
        <div class="po-msg-box">
            <span class="title bc_BR">{{ 'TEACHER_TEXT_PO_MSG_TITLE' | translate }} <i ng-click="BoardCancel(data)" class="fa fa-times" aria-hidden="true"></i></span>
            <div class="msg-box">
                <div class="user-img"><img src="upload/teach/{{seedata.data[0].f_backend.image}}" alt=""></div>
                <div class="msg">
                    <textarea ng-click="blackBgShow()" ng-model="data.text" name="" id="" cols="30" rows="10" placeholder=" {{'TEACHER_MY_PROFILE_POTEXT' | translate }}">
                    </textarea>
                </div>

                <!-- 留言 IMAGES -->
                <div ng-show="show_temp =='image'" class="user-msg-box preview_po">
                    <!-- 發佈者 -->
                    <div class="msg-text">

                        <div class="pic_box">
                            <!--<img id="target_image" class="target_image" src="" alt="">-->
                            <div id="target_img_html">
                                <div class="upImgSee" ng-repeat="(key_this_tmp_img , this_tmp_img) in tmp_img track by $index">
                                    <div class="closeFile"><i class="fa fa-times" aria-hidden="true"></i></div>
                                    <div class="imgBox"><img class="target_image1" ng-click="tRemoveImage('')" src="{{this_tmp_img}}" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 留言 VIDEO -->
                <div ng-show="show_temp =='video'" class="user-msg-box preview_po">
                    <!-- 發佈者 -->
                    <div class="msg-text">
                        <div class="closeFile"><i ng-click="RemoveVideo()" class="fa fa-times" aria-hidden="true"></i></div>
                        <div class="pic_box">
                            <video id="target_video" type="video/mp4" controls="true" src=""></video>
                        </div>
                    </div>
                </div>
            </div>

            <div class="up_file_box">
                <div class="u_b u_i up_img">
                    <label id="label_image" ng-click="blackBgShow()" for="files_image" class="btn"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                    <form id="FilesImageForm" method="post" action="#" enctype="multipart/form-data">
                        <input name="file" id="files_image" multiple ng-click="files_image()" style="" accept='image/*' type="file">
                    </form>
                </div>
                <div class="u_b up_video">
                    <label id="label_video" ng-click="blackBgShow()" for="files_video" class="btn"><i class="fa fa-video-camera" aria-hidden="true"></i></label>
                    <form id="FilesVideoForm" method="post" action="#" enctype="multipart/form-data">
                        <input accept="video/mp4" name="file" id="files_video" ng-click="files_video()" style="" type="file">
                    </form>
                </div>
                <!-- live btn -->
                <div class="u_b up_live">
                    <label ng-if="1" ng-click="liveVideo()" class="btn"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{ 'LIVEVIDEO' | translate }}</label>
                </div>

                <!-- <div ng-show="1" class="u_b up_live" ng-click="StartLive(TmpObj.tmp.stream_key,'N')"> <<-關rtc 另外寫一個關閉測試函數測試 關api -->
                <div ng-show="0" class="u_b up_live" ng-click="StartLive('7159cda1081b4bd2988f3444df33e58e','N','ZedownWp')">
                    close live
                </div>

                <div class="u_b prompt_img bc_BL tc_WS">{{ 'TEACHER_MY_PROFILE_PROMPT_IMG' | translate }}</div>
                <div class="u_b prompt_video bc_BL tc_WS">{{ 'TEACHER_MY_PROFILE_PROMPT_VIDEO' | translate }}</div>
                <div class="float_r maxMB">{{ 'MAXIMUM_LIMIT' | translate }}</div>
                <div ng-if="tmp_size_tobig =='Y'" class="float_r maxMB bc_BR tc_WS"> {{ 'OVER_LIMIT' | translate }} </div>
            </div>

            <div class="send-box">
                <button ng-if="tmp_size_tobig !='Y'" class="bc_BR tc_WS" ng-click="BoardPost()">{{ 'TEACHER_TEXT_SEND_BUTTON' | translate }}</button>
                <button ng-if="tmp_size_tobig =='Y'" disabled="disabled" class="bc_BR tc_WS">{{ 'TEACHER_TEXT_SEND_BUTTON' | translate }}</button>
            </div>

            <div class="w_c_s">
                <input name="show_temp" id="show_temp" type="hidden">
                <select name="read_permi" ng-model="data.read_permi">
                    <option id="hidden_option" value="" selected hidden />
                    <option ng-selected="data.read_permi =='public' || 1" ng-value="'public'">{{ 'TEACHER_TEXT_PUBLIC' | translate }}</option>
                    <option ng-selected="data.read_permi =='private'" ng-value="'private'">{{ 'TEACHER_TEXT_PRIVATE' | translate }}</option>
                </select>
            </div>
        </div>
        <!-- temp -->
        <!-- 留言 Image -->

        <!-- 留言 純文字 -->
        <div ng-show="show_temp =='text'" class="user-msg-box preview_po">
            <!-- 發佈者 -->
            <div class="msg-1">
                <ul class="user">
                    <li class="user-img"><img src="upload/teach/{{seedata.data[0].f_backend.image}}" alt=""></li>
                    <li class="user-name">{{teacher_data.data['0'].tmp_teach_arr[0].nick_name}}</li>
                    <li class="po-time">{{ date | date:'yyyy-MM-dd HH:mm:ss'}}</li>
                </ul>
                <div class="msg-text">
                    {{data.text}}
                </div>
            </div>
            <button class="bc_BR tc_WS" ng-click="BoardPost(data)">{{ 'TEACHER_TEXT_SEND_BUTTON' | translate }}</button>
            <button class="bc_BR tc_WS" ng-click="BoardCancel(data)">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
        </div>
        <!-- end temp -->

        <!-- 建立新留言 END -->
        
        <!-- 系統通知 -->
        <div  class="friend-msg inviteJoinNotice">
            <span ng-show="seedata.data[1].sys_notice.length >=1" class="title bc_BR tc_WS">{{ 'SYSTEM_NOTICE' | translate }} <div ng-click="showAllFriends($event)" class="show_all_class tc_WS ">Show All</div> </span>
            <div ng-repeat="( key_this_sys_notice , this_sys_notice ) in seedata.data[1].sys_notice "  class="friend-apply">
                    <span ng-bind-html="this_sys_notice.text | linkify "></span>

                <div class="btns">
                    <button ng-click="ReadSysNote(this_sys_notice.id,this_sys_notice.receive_user_id)" class="fa_n bc_BR tc_WS">{{ 'YES' | translate }}</button>
                </div>

            </div>


        </div>
        <!-- 系統通知 ＥＮＤ -->
        
        <!--邀請通知 -->
        <div id="FanInviteNoticeList" ng-show="seedata.data[1].fan_invite_notice.length >=1" class="hasNewMsg bor_s_1">
            <div class="title bc_BR2 tc_WS bor_b">{{ 'FAN_GROUP_INVITE_NOTICE' | translate }} ({{ seedata.data[1].fan_invite_notice.length }})
                <div ng-click="showAllMsg($event)" class="show_all_class">Show All</div>
            </div>
            <div id="FanInviteNoticeItem" class="newMsgList bor_b" ng-repeat="( key_this_fan_invite_notice , this_fan_invite_notice ) in seedata.data[1].fan_invite_notice ">
                <div class="communityPic bor_s_1"><img src="upload/fan/{{this_fan_invite_notice.image}}"></div>
                <a Fan.FanText/{{this_fan_invite_notice.fan_id}}>
                    {{this_fan_invite_notice.nick_name}}  {{ 'FAN_GROUP_INVITE' | translate }}
                </a>
                <button class="bc_BR tc_WS" ng-click="AgreeInvFan('Y')">{{ 'AGREE' | translate }}</button>
                <button ng-click="AgreeInvFan('N')">{{ 'DELETE' | translate }}</button>
            </div>
        </div>
        <!--end邀請通知 -->

        <div ng-show="seedata.data[1].notice.length>=1" class="hasNewMsg bor_s_1">
            <div class="title bc_BR2 tc_WS bor_b">{{ 'FAN_GROUP_NEWNOTICE' | translate }} ({{seedata.data[1].notice.length}})
                <div ng-click="showAllMsg($event)" class="show_all_class">Show All</div>
            </div>
            <div class="newMsgList bor_b" ng-repeat="( key_this_notice , this_notice ) in seedata.data[1].notice">

                <a href="Fan.FanText/{{this_notice.send_id}}">
                    <div class="communityPic bor_s_1"><img src="upload/fan/{{this_notice.attached_id}}"></div>
                    {{this_notice.nick_name}} {{ 'FAN_GROUP_HAVE' | translate }} ( {{this_notice.count}} ) {{ 'FAN_GROUP_NUMBER_NEWNOTICE' |
                    translate }}
                </a>
            </div>
        </div>


        <!-- 好友申請料表 -->
        <div ng-show="seedata.data[1].user_friends_notice.length >='1'" class="friend-msg">
            <span class="title bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_FRIEND_APPLY_TITLE2' | translate }} <div ng-click="showAllFriends($event)" class="show_all_class tc_WS ">Show All</div> </span>
            <!-- 申請者 -->

            <!-- 被同意加為好友 -->
            <div ng-repeat="( key_user_friends_notice , this_user_friends_notice ) in seedata.data[1].user_friends_notice" class="friend-apply">
                <div class="user-img">
                    <a href="Course.TeacherText/{{this_user_friends_notice.who_user_id}}"><img src="upload/teach/{{this_user_friends_notice.image}}" alt=""></a>
                </div>
                <div class="user-name">{{ 'TEACHER_MY_PROFILE_FRIEND_APPLY_TEXT2' | translate }} <a href="Course.TeacherText/{{this_user_friends_notice.who_user_id}}">{{this_user_friends_notice.nick_name}}</a> {{ 'TEACHER_MY_PROFILE_FRIEND_APPLY_TEXT3' | translate }}</div>
                <div class="btns">
                    <button ng-click="ReadFriendsNote(this_user_friends_notice.id,this_user_friends_notice.user_id)" class="fa_n bc_BR tc_WS">{{ 'YES' | translate }}</button>
                </div>
            </div>
            <!-- 被同意加為好友 ＥＮＤ -->

        </div>

        <!-- 好友申請通知 -->
        <div ng-controller="FuncFriendsAndSubscript" ng-show="1 && WaitFriendsList.length !=0 " class="friend-msg">
            <span class="title bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_FRIEND_APPLY_TITLE' | translate }} <div ng-click="showAllFriends($event)" class="show_all_class tc_WS ">Show All</div> </span>
            <!-- 申請者 -->
            <div ng-repeat=" tmpWaitFriendsList in WaitFriendsList" ng-if="tmpWaitFriendsList.approval =='A' " class="friend-apply">
                <div class="user-img">
                    <a href="Course.TeacherText/{{tmpWaitFriendsList.user_id}}"><img src="upload/teach/{{tmpWaitFriendsList.image}}" alt=""></a>
                </div>
                <div class="user-name"><a href="Course.TeacherText/{{tmpWaitFriendsList.user_id}}">{{tmpWaitFriendsList.nick_name}}</a> {{ 'TEACHER_MY_PROFILE_FRIEND_APPLY_TEXT'
                    | translate }}</div>
                <div class="btns">
                    <button ng-click="AgreeFriends('Y',tmpWaitFriendsList.user_id)" class="fa_y bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_FRIEND_APPLY_BUTTON_YES' | translate }}</button>
                    <button ng-click="AgreeFriends('N',tmpWaitFriendsList.user_id)" class="fa_n bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_FRIEND_APPLY_BUTTON_NO' | translate }}</button>
                </div>
            </div>
        </div>

        <!-- 上課通知 -->
        <div ng-show="apt_data.data[0].tmp_list.length !=0 || student_apt_data.data[0].tmp_list.length !=0 " class="class-msg">
            <span class="title bc_BR tc_WS">
                {{ 'TEACHER_MY_PROFILE_CLASS_MSG_TITLE' | translate }} ({{apt_data.data[0].tmp_list.length + student_apt_data.data[0].tmp_list.length }})
                <div ng-click="showAll($event)" class="show_all_class tc_WS ">Show All</div>
            </span>
            <div class="c_wrap">
                <div class="c_list" ng-repeat="apt_data1 in apt_data.data[0].tmp_list">
                    <ul class="booking-msg-box">
                        <li class="teacher-img">
                            <a href="Course.TeacherText/{{apt_data1.student_id}}">
                                <img src="upload/teach/{{ apt_data1.student_image }}" alt="">
                            </a>
                        </li>
                        <li>{{ 'STUDENT_MY_PROFILE_CLASS_MSG_TEACHER' | translate }} : <a href="Course.TeacherText/{{apt_data1.student_id}}"> {{apt_data1.nick_name}} </a>。
                            <a target="_blank" href="{{apt_data1.teach_room_url}}">{{ 'TEACHER_MY_PROFILE_CLASS_MSG_ROOM' | translate }}</a></li>
                        </li>

                        <li class="float_l">{{ 'TEACHER_MY_PROFILE_CLASS_MSG_TIME' | translate }} : {{apt_data1.lesson_day}}
                        </li>

                        <!-- <li>上課時間 : 3月20日 PM 13 : 30</li>-->

                        <li> {{ 'TEACHER_MY_PROFILE_CLASS_MSG_PEOPLE' | translate }} : {{apt_data1.lesson_time}} (Local time)</li>
                        <li class="b_rT">{{ 'BOOKING_REASON' | translate }} : {{apt_data1.cause}}</li>
                        <li>
                            <button ng-click="TeacherwhyCancelBooking()" class="bc_BR tc_WS" type="button">{{ 'TEACHER_MY_PROFILE_CLASS_MSG_CLOSE_CLASS_BUTTON' | translate }}</button>
                        </li>
                    </ul>
                </div>
                <div class="c_list" ng-repeat="apt_data1 in student_apt_data.data[0].tmp_list">
                    <ul class="booking-msg-box">
                        <li class="teacher-img">
                            <a href="Course.TeacherText/{{apt_data1.teach_id}}">
                                <img src="upload/teach/{{ apt_data1.teach_image }}" alt="">
                            </a>
                        </li>
                        <li>{{ 'TEACHER_MY_PROFILE_CLASS_MSG_TEACHER' | translate }} : <a href="Course.TeacherText/{{apt_data1.teach_id}}">{{apt_data1.nick_name}}</a>。
                            <a target="_blank" href="{{apt_data1.student_room_url}}">{{ 'TEACHER_MY_PROFILE_CLASS_MSG_ROOM' | translate }}</a></li>
                        </li>

                        <li class="float_l">{{ 'TEACHER_MY_PROFILE_CLASS_MSG_TIME' | translate }} : {{apt_data1.lesson_day}}
                        </li>

                        <!-- <li>上課時間 : 3月20日 PM 13 : 30</li>-->

                        <li> {{ 'TEACHER_MY_PROFILE_CLASS_MSG_PEOPLE' | translate }} : {{apt_data1.lesson_time}} (Local time)</li>
                        <li class="b_rT">{{ 'BOOKING_REASON' | translate }} : {{apt_data1.cause}}</li>
                        <li>
                            <button ng-click="StudentwhyCancelBooking()" class="bc_BR tc_WS" type="button">{{ 'TEACHER_MY_PROFILE_CLASS_MSG_CLOSE_CLASS_BUTTON' | translate }}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 上課通知 END -->

        <!-- 留言 -->
        <!-- 沒有任何動態 -->
        <div ng-show="BoardList.data[0].board.length ==0" class="no_msg bor_s_1">{{ 'TEACHER_MY_PROFILE_NO_ANY_TIME_LINE' | translate }}</div>
        <!-- 沒有任何動態 END -->
        <div ng-repeat="(key_this_BoardList , this_BoardList) in BoardList.data[0].board track by $index" ng-show="
        (
            this_BoardList.read_permi == 'public' 
            || ( this_BoardList.user_id ==seedata.data[0].f_backend.user_id ) 
        )
        &&
        ( this_BoardList.in_cloud =='Y' && this_BoardList.type=='2'
            ||  this_BoardList.type=='1' 
            || this_BoardList.type=='4' )  " class="user-msg-box post_box">
            <!-- 發佈者 -->
            <div class="msg-1">
                <ul class="user">
                    <i ng-click="popUpMenuShow()" ng-show="this_BoardList.user_id ==seedata.data[0].f_backend.user_id" class="fa fa-chevron-down"
                        aria-hidden="true"></i>
                    <div class="popupMenu bor_s_1">
                        <ul>
                            <li ng-click="deletePost()"><i class="fa fa-trash-o" aria-hidden="true"></i> {{ 'DELETE_MSG' | translate }}</li>
                            <li ng-click="editPost()"><i class="fa fa-pencil" aria-hidden="true"></i> {{ 'EDIT_POST' | translate }}</li>
                        </ul>
                    </div>
                    <li class="user-img"><img src="upload/teach/{{this_BoardList.image}}" alt=""></li>
                    <li class="user-name">{{this_BoardList.nick_name}}</li>
                    <li class="po-time">{{this_BoardList.update_date}}</li>
                </ul>
                <div class="msg-text">

                    <p ng-bind-html="this_BoardList.text | nl2br | linkify "></p>
                    <p ng-if="this_BoardList.tmp !=undefined" ng-bind-html="this_BoardList.tmp | linkify "></p>

                    <div class="pic_box">
                        <!--播放影片-->
                        <iframe ng-if="this_BoardList.in_cloud =='Y' 
                        && this_BoardList.type=='2' && this_BoardList.live_id == null " frameborder="0" allowfullscreen="allowfullscreen"
                            width="100%" height="400px" ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_BoardList.attached_name)}}"></iframe>

                        <!--播放直撥後的影片-->
                        <iframe ng-if="this_BoardList.live_video_id !=null" frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px"
                            ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+this_BoardList.live_video_id)}}"></iframe>
                        <!--影片還在轉檔中-->
                        <p ng-if="this_BoardList.live_video_id ==null && this_BoardList.end_live=='Y' ">{{ 'LIVE_VIDEO_SAVE' | translate }} </p>

                        <!--播放直撥-->
                        <iframe ng-if="this_BoardList.in_cloud =='Y' 
                        && this_BoardList.type=='2' && this_BoardList.live_id != null  && this_BoardList.end_live =='N'
                         " frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc(this_BoardList.live_embed_url)}}"></iframe>
                        <div class="poimgbox" ng-class=" {'lastOne': $last }" ng-show="this_BoardList.type  =='1' && this_BoardList.attached_name !=null "
                            ng-repeat=" (key_this_board_image , this_board_image) in this_BoardList.attached_name track by $index">
                            <img ng-init="ivPopUpShow()" ng-src="{{'upload/teach/'+this_board_image}}" alt="">
                            <div class='prve pn_btn'><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                            <div class='next pn_btn'><i class="fa fa-angle-right" aria-hidden="true"></i></div>

                            <!-- 觀看人數 跟 喜歡 
                            
                            -->
                            <div ng-if="BoardList.data['0'].board[key_this_BoardList]['files_'+this_BoardList.attached_id[key_this_board_image]+'_like_arr'][0].post_by != seedata.data[0].f_backend.user_id"
                                ng-click="add_files_like(this_BoardList.attached_id[key_this_board_image],key_this_BoardList,key_this_board_image)"
                                class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'LIKE' | translate }} </span><span> {{this_BoardList.file_like_count[key_this_board_image]}} </span>
                            </div>

                            <div ng-if="BoardList.data['0'].board[key_this_BoardList]['files_'+this_BoardList.attached_id[key_this_board_image]+'_like_arr'][0].post_by == seedata.data[0].f_backend.user_id"
                                ng-click="change_files_unlike(this_BoardList.attached_id[key_this_board_image],key_this_BoardList,key_this_board_image)"
                                class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'UNLIKE' | translate }} </span><span> {{this_BoardList.file_like_count[key_this_board_image]}} </span>
                            </div>


                            <div class="seeBox"><i class="fa fa-eye" aria-hidden="true"></i> <span> {{this_BoardList.file_view_count[key_this_board_image]}} </span></div>

                        </div>
                        <div ng-click="closeClickImp()" class="closeImgShow"><i class="fa fa-times" aria-hidden="true" style="display: block;"></i></div>
                        <!-- 觀看人數 跟 喜歡 -->
                        <div class="ls_Box">
                            <div class="see"><i class="fa fa-eye" aria-hidden="true"></i> <span> {{this_BoardList.view_count}} </span></div>

                            <div ng-if="BoardList.data['0'].board[key_this_BoardList].board_like_arr['0'].post_by != seedata.data[0].f_backend.user_id"
                                ng-click="add_board_like(this_BoardList.id,key_this_BoardList)" class="like"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'LIKE' | translate }} </span><span> {{this_BoardList.like_count}} </span></div>

                            <div ng-if="BoardList.data['0'].board[key_this_BoardList].board_like_arr['0'].post_by == seedata.data[0].f_backend.user_id"
                                ng-click="change_board_unlike(this_BoardList.id,key_this_BoardList)" class="like"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'UNLIKE' | translate }} </span><span> {{this_BoardList.like_count}} </span></div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="msg-btns">
                <div ng-show="0" class="btn-1">{{ 'TEACHER_MY_PROFILE_MSG_BTNS_APPRAISAL' | translate }}</div>
                <div ng-click="openMsgToggle()" class="btn-2">{{ 'TEACHER_MY_PROFILE_PO_MSG' | translate }}</div>
                <div ng-show="0" class="btn-3">{{ 'TEACHER_MY_PROFILE_SHARE' | translate }}</div>
                <!-- 觀看直撥 直撥還沒結速的話 -->
                <div ng-click="joinLive(this_BoardList.live_id)" ng-if="this_BoardList.live_video_id ==null 
                 && this_BoardList.live_id !=null
                 && this_BoardList.end_live=='N' " class="joinlivebtn"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'JOINLIVE' | translate }}</div>

                <select ng-change="BoardChangeRead()" ng-show="this_BoardList.user_id ==seedata.data[0].f_backend.user_id" name="read_permi"
                    ng-model="this_BoardList.read_permi">
                    <option ng-selected="this_BoardList.read_permi =='public'" value="public">{{ 'TEACHER_TEXT_PUBLIC' | translate }}</option>
                    <option ng-selected="this_BoardList.read_permi =='private'" value="private">{{ 'TEACHER_TEXT_PRIVATE' | translate }}</option>
                </select>
            </div>
            <!-- 發佈者 END -->

            <!-- 回覆者 -->
            <div id="userchatroom" class="msg-2">

                <!-- 文章總評價 -->

                <div ng-show="0" class="all-evaluate">
                    <span>{{ 'TEACHER_MY_PROFILE_ARTICLE_APPRAISAL' | translate }}</span>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <!-- 文章總評價 END -->

                <!-- 使用者評價文章 -->

                <div ng-show="0" class="evaluate">
                    <div>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <button class="bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_SEND' | translate }}</button>
                </div>
                <!-- 使用者評價文章 END -->
                <!-- 分享文章 -->
                <!--
                <div class="share">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
                -->
                <!-- 分享文章 END -->
                <!-- 回覆區 -->

                <div class="all-msg">

                    <div class="msg_warp">
                        <!-- 回覆內容 -->
                        <div ng-repeat="(key_this_BoardData , this_BoardData) in BoardList.data[0].board_data track by $index" ng-if="this_BoardList.id == this_BoardData.board_id"
                            ng-class="{'defaultShow': key_this_BoardData <=1, '': key_this_BoardData >1}" class="user-po">
                            <div class="u_img">
                                <a href="Course.TeacherText/{{this_BoardData.re_user_id}}"><img ng-src="{{'upload/teach/'+this_BoardData.image}}" alt=""></a>
                            </div>
                            <div class="u_text">
                                <span>
                                    <a href="Course.TeacherText/{{this_BoardData.re_user_id}}">{{this_BoardData.nick_name}}</a>
                                    <i ng-click="editMsgText($event)" class="fa fa-ellipsis-h float_r showERM" aria-hidden="true"></i>
                                    
                                    <div class="EdidReplyMenu bor_s_1">
                                        <ul>
                                            <li ng-click="deleteReply($event,this_BoardData,key_this_BoardData)"><i class="fa fa-trash-o" aria-hidden="true"></i>{{ 'DELETE_MSG' | translate }}</li>
                                            <li ng-click="editReply($event,this_BoardData,key_this_BoardData)"><i class="fa fa-pencil" aria-hidden="true"></i>{{ 'EDIT_POST' | translate }}</li>
                                        </ul>
                                    </div>
                                    
                                </span>
                                <div class="time">{{this_BoardData.post_date}}</div>
                                <div class="msg-text">
                                    <p>{{key_this_BoardData}} {{this_BoardData.text}}</p>

                                    <div class="poimgbox" ng-class=" {'lastOne': $last }" ng-show="this_BoardData.type  =='1' && this_BoardData.attached_name !=null "
                                        ng-repeat=" (key_this_board_image , this_board_image) in this_BoardData.attached_name track by $index">
                                        <img ng-init="ivPopUpShow()" ng-src="{{'upload/teach/'+this_board_image}}" alt="">
                                        <div class='prve pn_btn'><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                                        <div class='next pn_btn'><i class="fa fa-angle-right" aria-hidden="true"></i></div>

                                        <!-- 觀看人數 跟 喜歡 
                            
                            -->
                                        <div ng-if="BoardList.data['0'].board[key_this_BoardList]['files_'+this_BoardList.attached_id[key_this_board_image]+'_like_arr'][0].post_by != seedata.data[0].f_backend.user_id"
                                            ng-click="add_files_like(this_BoardList.attached_id[key_this_board_image],key_this_BoardList,key_this_board_image)"
                                            class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'LIKE' | translate }} </span><span> {{this_BoardList.file_like_count[key_this_board_image]}} </span>
                                        </div>

                                        <div ng-if="BoardList.data['0'].board[key_this_BoardList]['files_'+this_BoardList.attached_id[key_this_board_image]+'_like_arr'][0].post_by == seedata.data[0].f_backend.user_id"
                                            ng-click="change_files_unlike(this_BoardList.attached_id[key_this_board_image],key_this_BoardList,key_this_board_image)"
                                            class="likeBox"><span class="ilike"><i class="fa fa-heart-o" aria-hidden="true"></i> {{ 'UNLIKE' | translate }} </span><span> {{this_BoardList.file_like_count[key_this_board_image]}} </span>
                                        </div>


                                        <div class="seeBox"><i class="fa fa-eye" aria-hidden="true"></i> <span> {{this_BoardList.file_view_count[key_this_board_image]}} </span></div>

                                    </div>

                                    <div class="changeUserPO">

                                        <textarea placeholder="{{ 'TEACHER_TEXT_PO_MSG' | translate }}..." ng-model="edit_BoardData.text" style="resize:none;overflow:auto;"
                                            onkeyup="
                                        	var textarea=this;
                                        	var adjustedHeight=textarea.clientHeight;
                                        
	                                        adjustedHeight=Math.max(textarea.scrollHeight,adjustedHeight);
	                                        if (adjustedHeight>textarea.clientHeight){
	                                        	textarea.style.height=adjustedHeight+'px';
	                                        }
	                                   "> </textarea>

                                        <!-- 修改回覆留言 上圖或影片 -->
                                        <div class="editPostIV">

                                            <!-- post images -->
                                            <div ng-if="0" class="up_img postImages" ng-click="postChangeImages()">
                                                <label ng-click="blackBgShow2()" class="btn"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                                                <form method="post" action="#" enctype="multipart/form-data">
                                                    <input name="file" multiple ng-click="files_image()" style="" accept='image/*' type="file">
                                                </form>
                                            </div>
                                            <!-- post video -->
                                            <div ng-if="0" class="up_video postVideo" ng-click="postChangeVideo()">
                                                <label ng-click="blackBgShow2()" class="btn"><i class="fa fa-video-camera" aria-hidden="true"></i></label>
                                                <form method="post" action="#" enctype="multipart/form-data">
                                                    <input accept="video/mp4" name="file" ng-click="files_video()" style="" type="file">
                                                </form>
                                            </div>

                                            <button ng-click="noChangeReply()" class="bc_BL tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                                            <button ng-click="changeReplySave($event,this_BoardData,key_this_BoardData)" class="bc_BR tc_WS">{{ 'SAVE' | translate }}</button>

                                        </div>
                                        <!-- 修改回覆留言 上圖或影片 ＥＮＤ -->

                                        <!-- 修改回覆留言預覽圖片影片 -->
                                        <!-- 留言 IMAGES -->
                                        <div class="user-msg-box preview_po changeUserPoImg">
                                            <!-- 發佈者 -->
                                            <div class="msg-text">

                                                <div class="pic_box">
                                                    <!--<img id="target_image" class="target_image" src="" alt="">-->
                                                    <div id="target_img_html">
                                                        <div class="upImgSee" ng-repeat="(key_this_tmp_img , this_tmp_img) in tmp_img track by $index">
                                                            <div class="closeFile"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                            <div class="imgBox"><img class="target_image1" ng-click="tRemoveImage2()" src="{{this_tmp_img}}"
                                                                    alt=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 留言 VIDEO -->
                                        <div ng-show="show_temp =='video'" class="user-msg-box preview_po changeUserPoVideo">
                                            <!-- 發佈者 -->
                                            <div class="msg-text">
                                                <div class="closeFile"><i ng-click="RemoveVideo2()" class="fa fa-times" aria-hidden="true"></i></div>
                                                <div class="pic_box">
                                                    <video type="video/mp4" controls="true" src=""></video>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 修改回覆留言預覽圖片影片 ＥＮＤ -->

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 回覆內容 END  -->
                    </div>
                    <!-- 回覆文章輸入區塊 -->
                    <div ng-if="seedata.data[0].f_backend.user_id !=undefined" class="po-text">
                        <div class="t_1">
                            <img src="upload/teach/{{seedata.data[0].f_backend.image}}" alt="">
                        </div>

                        <input ng-model="Redata.text" type="text" placeholder="{{ 'TEACHER_TEXT_PO_MSG' | translate }}...">

                        <!-- 回覆留言 上圖或影片 -->
                        <!-- post images -->
                        <div class="u_b u_i up_img postImages" ng-click="postImages()">
                            <label ng-click="blackBgShow2()" class="btn"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input name="file" class="board_data_files_image" multiple ng-click="board_data_files_image()" style="" accept='image/*'
                                    type="file">
                            </form>
                        </div>
                        <!-- post video -->
                        <div ng-if="0" class="u_b up_video postVideo" ng-click="postVideo()">
                            <label ng-click="blackBgShow()" class="btn"><i class="fa fa-video-camera" aria-hidden="true"></i></label>
                            <form method="post" action="#" enctype="multipart/form-data">
                                <input accept="video/mp4" name="file" ng-click="files_video()" style="" type="file">
                            </form>
                        </div>
                        <!-- 回覆留言 上圖或影片 ＥＮＤ -->

                        <button class="bc_BR tc_WS p_btn" ng-click="ReBoardPost(Redata)">{{ 'TEACHER_TEXT_SEND_BUTTON' | translate }}</button>
                    </div>
                    <!-- 回覆文章輸入區塊 END -->
                    <!-- 回覆區 END -->


                    <!-- 預覽圖片影片 -->
                    <div class="replyPostIV">
                        <!-- 留言 IMAGES -->
                        <div class="user-msg-box preview_po replyImg">
                            <!-- 發佈者 -->
                            <div class="msg-text">
                                <div class="pic_box">
                                    <!--<img id="target_image" class="target_image" src="" alt="">-->
                                    <div>
                                        <div class="upImgSee" ng-repeat="(key_this_tmp_img , this_tmp_img) in board_data_tmp_img track by $index">
                                            <div class="closeFile"><i class="fa fa-times" aria-hidden="true"></i></div>
                                            <div class="imgBox"><img class="target_image1" ng-click="tRemoveImage('board_data_')" src="{{this_tmp_img}}"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 留言 VIDEO -->
                        <div class="user-msg-box preview_po replyVideo">
                            <!-- 發佈者 -->
                            <div class="msg-text">
                                <div class="closeFile"><i ng-click="RemoveVideo()" class="fa fa-times" aria-hidden="true"></i></div>
                                <div class="pic_box">
                                    <video type="video/mp4" controls="true" src=""></video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 預覽圖片影片 ＥＮＤ -->

                </div>
                <!-- 回覆者 END -->
            </div>
        </div>
        <!-- 留言 END -->
        <!-- 
        ng-show="BoardList.data[0].board.length !=0 && 
        BoardList.data[0].page.page_num != BoardList.data[0].page.page_total"

        -->
        <button ng-if="boardLast != '1'" type="button" ng-click="FuncPushBoardList(seedata.data[0].f_backend.user_id,BoardList.data[0].page.page_num+1)"
            class="more bc_BR tc_WS ">More</button>

        <div class="user-msg-box lastNoMsg" ng-if="boardLast == '1'">
            {{ 'NO_MORE_MSG' | translate }}
        </div>

        <div class="user-msg-box loadMsgBoxD">

            <svg width='12%' height='12%' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="livevideoload">
                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                <circle cx="50" cy="50" r="40" stroke="rgba(0%,0%,0%,0.1)" fill="none" stroke-width="10" stroke-linecap="round"></circle>
                <circle cx="50" cy="50" r="40" stroke="#000" fill="none" stroke-width="6" stroke-linecap="round">
                    <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate>
                    <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate>
                </circle>
            </svg>
        </div>


    </div>
    <div ng-click="BoardCancel(data)" class="blackBg"></div>
    <div class="blackBg2"></div>
    <!-- 編輯/刪除貼文 POP-UP -->
    <div class="change_msg_pup">
        <div class="change_msg_box bor_s_1">
            <!--刪除貼文-->
            <div class="del_msg">
                <div class="title bc_BR tc_WS">{{ 'DELETE_MSG' | translate }} <i ng-click="closeEditPost()" class="fa fa-times" aria-hidden="true"></i>                    </div>
                <div class="content_box">
                    {{ 'DELETE_POST_TEXT' | translate }}
                </div>
                <div class="btns">
                    <button ng-click="closeEditPost()" class="cancel">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                    <!--取消-->
                    <button ng-click="DeleteUP()" class="del_msg_btn bc_BR tc_WS">{{ 'DELETE_MSG' | translate }}</button>
                    <!--刪除貼文-->
                    <!--<button ng-click="editPost()" class="edit_post_Btn">{{ 'EDIT_POST' | translate }}</button>-->
                    <!--編輯貼文-->
                </div>
            </div>

            <!--刪除回覆留言-->
            <div class="del_reply">
                <div class="title bc_BR tc_WS">{{ 'DELETE_MSG' | translate }} <i ng-click="closeEditPost()" class="fa fa-times" aria-hidden="true"></i>                    </div>
                <div class="content_box">
                    {{ 'DELETE_REPLY_TEXT' | translate }}
                </div>
                <div class="btns">
                    <button ng-click="closeEditPost()" class="cancel">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                    <!--取消-->
                    <button ng-click="DeleteReplyUP($event,this_BoardData,key_this_BoardData)" class="del_msg_btn bc_BR tc_WS">{{ 'DELETE_MSG' | translate }}</button>
                    <!--刪除貼文-->
                    <!--<button ng-click="editPost()" class="edit_post_Btn">{{ 'EDIT_POST' | translate }}</button>-->
                    <!--編輯貼文-->
                </div>
            </div>

            <!-- 編輯貼文 -->
            <div class="edit_msg">
                <div class="title bc_BR tc_WS">{{ 'EDIT_POST' | translate }} <i ng-click="noChangePost()" class="fa fa-times" aria-hidden="true"></i> </div>
                <div class="content_box minH">

                    <div class="user-img"><img src="upload/teach/{{seedata.data[0].f_backend.image}}" alt=""></div>
                    <div class="msg">
                        <textarea name="" ng-model="edit_data.text" id="" cols="30" rows="10" placeholder=" {{'TEACHER_MY_PROFILE_POTEXT' | translate }}"></textarea>
                    </div>


                    <div class="up_file_box">
                        <div class="u_b u_i up_img" ng-click="ChangeImage2()">
                            <label id="label_image2" ng-click="blackBgShow2()" for="files_image2" class="btn"><i class="fa fa-picture-o" aria-hidden="true"></i></label>
                            <form id="FilesImageForm2" method="post" action="#" enctype="multipart/form-data">
                                <input name="file" id="files_image2" multiple ng-click="files_image2()" style="" accept='image/*' type="file">
                            </form>
                        </div>
                        <div class="u_b up_video" ng-click="ChangeImage2()">
                            <label id="label_video2" ng-click="blackBgShow2()" for="files_video2" class="btn"><i class="fa fa-video-camera" aria-hidden="true"></i></label>
                            <form id="FilesVideoForm2" method="post" action="#" enctype="multipart/form-data">
                                <input accept="video/mp4" name="file" id="files_video2" ng-click="files_video2()" style="" type="file">
                            </form>
                        </div>

                        <div class="u_b prompt_img bc_BL tc_WS">{{ 'TEACHER_MY_PROFILE_PROMPT_IMG' | translate }}</div>
                        <div class="u_b prompt_video bc_BL tc_WS">{{ 'TEACHER_MY_PROFILE_PROMPT_VIDEO' | translate }}</div>
                        <div class="float_r maxMB">{{ 'MAXIMUM_LIMIT' | translate }}</div>
                        <div ng-if="tmp_size_tobig =='Y'" class="float_r maxMB bc_BR tc_WS"> {{ 'OVER_LIMIT' | translate }} </div>
                    </div>

                    <div class="imagr_or_video">
                        <div ng-show="edit_data.type =='1' ">
                            <div ng-click="editRemoveThisImg()" ng-class=" {'lastOne': $last }" class="editBoxImg" ng-repeat="(key_tmp_img,tmp_img) in edit_data.attached_name track by $index ">
                                <img ng-src="upload/teach/{{tmp_img}}" alt="">
                                <div class="removeIconBox"><i class="fa fa-times removeIcon" aria-hidden="true"></i></div>
                            </div>
                            <div class="editBoxImg" ng-repeat="(key_this_edit_tmp_img , this_edit_tmp_img) in tmp_edit_img track by $index">
                                <img src="{{this_edit_tmp_img}}" alt="">
                                <div ng-click="tRemoveImage('')" class="removeIconBox"><i class="fa fa-times removeIcon" aria-hidden="true"></i></div>
                            </div>
                            <label for="plusImg_fils" class="plusImg">+</label>
                            <form id="plusImgfilsFrom" method="post" action="#" enctype="multipart/form-data">
                                <input name="file" ng-click="plusImgfils()" id="plusImg_fils" multiple ng-click="" style="" accept='image/*' type="file">
                            </form>
                        </div>
                        <div ng-show="edit_data.type =='2' ">
                            <!--播放影片-->
                            <iframe ng-if="edit_data.in_cloud =='Y' 
                        && edit_data.type=='2' && edit_data.live_id == null " frameborder="0" allowfullscreen="allowfullscreen"
                                width="100%" height="400px" ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+edit_data.attached_name)}}"></iframe>

                            <!--播放直撥後的影片-->
                            <iframe ng-if="edit_data.live_video_id !=null" frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px"
                                ng-src="{{trustSrc('https://app.straas.net/showhi.club/videos/'+edit_data.live_video_id)}}"></iframe>
                            <!--影片還在轉檔中-->
                            <p ng-if="edit_data.live_video_id ==null && edit_data.end_live=='Y' "> {{ 'LIVE_VIDEO_SAVE' | translate }} </p>

                            <!--播放直撥-->
                            <iframe ng-if="edit_data.in_cloud =='Y' 
                        && this_BoardList.type=='2' && edit_data.live_id != null  && edit_data.end_live =='N'
                         " frameborder="0" allowfullscreen="allowfullscreen" width="100%" height="400px" ng-src="{{trustSrc(edit_data.live_embed_url)}}"></iframe>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <button ng-click="BoardEditUP()" class="save_btn bc_BR tc_WS">{{ 'SAVE' | translate }}</button>
                    <!-- 儲存 -->
                    <select name="read_permi" ng-model="edit_data.read_permi">
                        <option ng-selected="edit_data.read_permi =='public'" value="public">{{ 'TEACHER_TEXT_PUBLIC' | translate }}</option>
                        <option ng-selected="edit_data.read_permi =='private'" value="private">{{ 'TEACHER_TEXT_PRIVATE' | translate }}</option>
                    </select>
                </div>

                <div class="no_change_pup">
                    <div class="no_change_post bor_s_1">
                        <div class="title bc_BR tc_WS">{{ 'NO_CHANGE_POST' | translate }} <i ng-click="closeNoChange()" class="fa fa-times" aria-hidden="true"></i>                            </div>
                        <div class="content_box">{{ 'NO_CHANGE_TEXT' | translate }} </div>
                        <div class="btns">
                            <button ng-click="yesNoChange()" class="no_change_btn bc_BR tc_WS">{{ 'NO_CHANGE_BTN' | translate }} </button>
                            <button ng-click="closeNoChange()" class="no">{{ 'NO' | translate }} </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<!-- 圖片裁切 -->
<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        margin: auto;
        width: 50%;
        height: 400px;
    }
</style>
<div ng-controller="CorpCtrl" class="cut_pop_up">
    <!-- 頭像 -->
    <div class="avatar_cut cut_box">
        <div class="title bc_BR tc_WS">{{ 'AVATAR' | translate }} <i ng-click="closeCut();clear();" class="fa fa-times" aria-hidden="true"></i></div>
        <div class="img_box">
            <div class="cropArea">
                <img-crop image="imgSrc" area-type="square" result-image="myCroppedImage" area-min-size="50" result-image-size="181"></img-crop>
            </div>
            <div>

                <img ng-hide="0" style="width: 181px;display:block; margin:auto;" id="imguserphoto64" ng-src="{{myCroppedImage}}" />
            </div>

        </div>
        <div class="btns">
            <input name="file" id="TmpphotoFile" accept='image/*' type="file">
            <div>
                <button type="button" onclick="uploadUserPhoto('photo')" class="save bc_BR tc_WS">{{ 'SAVE' | translate }}</button>
                <!-- 儲存 -->
                <button ng-click="closeCut();clear();" type="button" class="cancel bc_BR tc_WS">{{ 'TEACHER_TEXT_CANCEL_BUTTON' | translate }}</button>
                <!-- 取消 -->
            </div>
        </div>
    </div>
    <!-- banner -->
</div>