<div class="mid">
    <!-- banner -->
    <div class="pageBanner">
        <div ng-repeat="profile_data1 in profile_data.data[0].tmp_list" class="banner" style="background-image: url(upload/teach/{{profile_data1.bg_image}}); background-position-y:{{profile_data1.bg_image_style}}%;">

            <div class="user-img">
                <img src="upload/teach/{{profile_data1.image}}" alt="">
            </div>
            <div class="user-name">{{profile_data1.nick_name}}</div>


        </div>
        <ul class="function-menu">
            <li><a href="User.TeacherMyProfile">{{ 'TEACHER_MY_PROFILE_TIME_LINE' | translate }}</a></li>
            <li><a href="video.html">{{ 'TEACHER_MY_PROFILE_VIDEO' | translate }}</a></li>
            <!--        <li><a href="Message.allMsg">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }}</a></li>-->
            <li><a href="Fan.MyFanList">{{ 'FAN_GROUP' | translate }}</a></li>
            <!--        <li class="privatelistBtn" ng-click="privateList = ! privateList">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }}</li>-->
            <li><a href="User.TeacherEdit">{{ 'TEACHER_MY_PROFILE_MODIFY_DATA' | translate }}</a></li>
            <li class="float-right recommend">{{ 'TEACHER_MY_PROFILE_RECOMMEND' | translate }}</li>
            <li ng-if="seedata.data[0].f_backend.type_id >='2' "><a href="User.InviteMang">邀請加入</a></li>
        </ul>
    </div>
    <!-- banner END -->

    <!-- 左邊區塊 -->
    <form ng-submit="submit_up(data)" autocomplete="on">
        <div class="left modify_s_1">
           
            <div ng-if="profile_data.data[0].tmp_list[0].invite_loginid =='' "  class="Invite_people">
                <span>{{ 'INVITE_PEOPLE' | translate }} : </span>{{profile_data.data[0].tmp_list[0].invite_loginid}}
            </div>
            <div class="Invite_people">
                <span>帳號是否開通 : </span>{{profile_data.data[0].tmp_list[0].approval}}
            </div>

           
            <div ng-repeat="profile_data1 in profile_data.data[0].tmp_list" class="user-date shadow_s_1">
                
                <span>{{ 'TEACHER_EDIT_USER_DATA_TITLE' | translate }}</span>
                
                <div class="mail"><span>{{ 'TEACHER_EDIT_USER_DATA_EMAIL' | translate }}</span>
                    <input ng-model="profile_data1.email" type="text" placeholder="{{ 'TEACHER_EDIT_USER_DATA_EMAIL_INPUT_TITLE' | translate }}">
                    <button type="button" ng-click="rewakeup()" class="bc_BR tc_WS newInvite">{{ 'NEW_EMAIL_VER' | translate }}</button>
                </div>
                
                <div class="name"><span>{{ 'USER_YOU_NAME' | translate }}</span>
                    <input placeholder="{{ 'TITLE_YOU_NAME' | translate }}" ng-model="tmp.nick_name" type="text">
                </div>
                <div class="phone"><span>{{ 'TEACHER_EDIT_USER_DATA_PHONE' | translate }}</span>
                    <input ng-model="profile_data1.phone" type="text" placeholder="{{ 'TEACHER_EDIT_USER_DATA_PHONE_INPUT_TITLE' | translate }}">
                </div>
                <div class="phone phoneVER">
                    <span>{{ 'PHONE_VER' | translate }}</span><!--手機驗證-->
                    <button ng-if="seedata.data[0].f_backend.phone_va != 'Y'"  ng-click="phoveVer()" type="button" class="bc_BR tc_WS phoneVERBtn">{{ 'PHONE_VER_MAIL' | translate }}</button><!--寄送驗證碼-->
                    <div ng-if="seedata.data[0].f_backend.phone_va == 'Y'">{{ 'PHONE_VER_Y' | translate }}</div>
                    <div class="pVerBox"><input ng-model="verifydata.phone_code" title="請輸入認證碼" type="text"><button ng-click="phoveVerSend()" type="button" class="sendBtn bc_BR tc_WS">{{ 'SAVE' | translate }}</button></div>

                </div>
                <!--
                <div class="phone">
                    <span>{{ 'TEACHER_EDIT_USER_DATA_NAT' | translate }}</span>
                    <select class="nationality" name="nationality" ng-model="profile_data1.nationality">
                        <option value="0">{{ 'TEACHER_EDIT_USER_DATA_NAT' | translate }}</option>
                        <option ng-repeat="tmp_arr_nat in  profile_data.data[0].tmp_arr_nat" ng-selected="profile_data1.nationality == tmp_arr_nat.id" value="{{tmp_arr_nat.id}}">{{tmp_arr_nat.en_name}}</option>
                    </select>
                </div>
                <div class="phone">
                    <span>{{ 'TEACHER_EDIT_USER_DATA_GENDER' | translate }}</span>
                    <select ng-model="profile_data1.gender" class="gender" name="gender">
                        <option ng-selected="profile_data1.gender =='M'" value="M">{{ 'TEACHER_EDIT_USER_DATA_GENDER_M' | translate }}</option>
                        <option ng-selected="profile_data1.gender =='F'" value="F">{{ 'TEACHER_EDIT_USER_DATA_GENDER_F' | translate }}</option>
                    </select>
                </div>
                <div class="phone"><span>{{ 'STUDENT_EDIT_USER_DATA_BIRTHDAY' | translate }}</span>
                    <input ng-model="profile_data1.birth_day" type="text" title="{{ 'STUDENT_EDIT_USER_DATA_BIRTHDAY_INPUT_TITLE' | translate }}">
                </div>
-->
                <div class="phone"><span>{{ 'TEACHER_EDIT_USER_DATA_SCHOOL' | translate }}</span>
                    <input ng-model="profile_data1.school_name" type="text" placeholder="{{ 'TEACHER_EDIT_USER_DATA_SCHOOL_INPUT_TITLE' | translate }}">
                </div>
                
                <div class="about">
                    <span>{{ 'TEACHER_EDIT_USER_DATA_ABOUT' | translate }}</span>
                    <textarea placeholder="{{ 'WRITE_SOME_INTRODUCTION' | translate }}" ng-model="profile_data1.text" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

        </div>

        <!-- 右邊區塊 -->
        <div class="right modify_s_1">
            <div ng-if="seedata.data[0].f_backend.type_id >='2'">
                <div class="change_time_list bc_BL tc_WS bor_s_1">{{ 'TEACHER_EDIT_AVA_TIME' | translate }}</div>
                
                <div ng-if="0" ng-init="ocInit()" class="time_OC">
                    <div class="usb-title">{{ 'BOOKINGOCTITLE' | translate }}</div>
                    <div class="checkBtn">
                        <label ng-click="changeOC()" for="tmp_approval" class="btn">{{ 'CLOSE_OR_OPEN' | translate }}</label><!-- 關閉/開放預約 -->
                        <input id="tmp_approval"  ng-if="profile_data.data[0].tmp_list[0].approval =='Y'" value="Y" checked="checked"  type="checkbox">
                        <input id="tmp_approval"  ng-if="profile_data.data[0].tmp_list[0].approval !='Y'" value="Y" type="checkbox">
                    </div>
                    <div class="oc-usbtitle oc-open">{{ 'OPENBOOKINGTIME' | translate }}</div><!-- 開放預約 -->
                    <div class="oc-usbtitle oc-close">{{ 'CLOSEBOOKINGTIME' | translate }}</div><!-- 關閉預約 -->
                </div>
                
                <div class="change-day">
                   
                   <div class="localTime">Local time</div>
                   
                    <div class="day-btn">
                        {{ 'TEACHER_EDIT_USER_CHANGE_TIME_STARTING_DAY' | translate }} :
                        <input ng-model="can_tutor_time_data.data[0].tmp_list[0].start_date" id="start_date" />
                    </div>
                    <div class="day-btn">
                        {{ 'TEACHER_EDIT_USER_CHANGE_TIME_END_DAY' | translate }} :
                        <input ng-model="can_tutor_time_data.data[0].tmp_list[0].end_date" id="end_date" />
                    </div>
                    
                </div>
                <div class="time_wrap">
                    <div class="class-time-box">
                        <div ng-click="timePeriodSwitchM()" class="time-btn mor nowTimeList">{{ 'TEACHER_EDIT_USER_CHANGE_TIME_LIST_MORNING' | translate }}</div>
                        <div ng-click="timePeriodSwitchN()" class="time-btn nig">{{ 'TEACHER_EDIT_USER_CHANGE_TIME_LIST_NIGHT' | translate }}</div>
                    </div>
                    <div class="booking-time-box">
                        <div class="week-title">
                            <div>{{ 'STUDENT_EDIT_USER_DATA_TIME' | translate }}/{{ 'STUDENT_EDIT_USER_DATA_WEEK' | translate }}</div>
                            <div>{{ 'STUDENT_EDIT_USER_DATA_SUN' | translate }}</div>
                            <div>{{ 'STUDENT_EDIT_USER_DATA_MON' | translate }}</div>
                            <div>{{ 'STUDENT_EDIT_USER_DATA_TUE' | translate }}</div>
                            <div>{{ 'STUDENT_EDIT_USER_DATA_WED' | translate }}</div>
                            <div>{{ 'STUDENT_EDIT_USER_DATA_THU' | translate }}</div>
                            <div>{{ 'STUDENT_EDIT_USER_DATA_FRI' | translate }}</div>
                            <div>{{ 'STUDENT_EDIT_USER_DATA_SAT' | translate }}</div>
                        </div>
                        <div class="time-list">
                            <div class="morning">
                                <ul class="week">
                                    <li ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" class="time" ng-if="can_tutor_time.id >=88 && can_tutor_time.id<=111 ">
                                        {{can_tutor_time.name}}
                                    </li>
                                    <!-- <li ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" class="time"><div ng-bind="can_tutor_time.name" ></div>    </li>-->
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 88 && can_tutor_time.id <= 111" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input name="can_tutor_time[]" ng-model="data.can_tutor_time" type="checkbox" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 88 && can_tutor_time.id <= 111" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'1')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time1" type="checkbox" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1" value="{{can_tutor_time.id}}">
                                    </li>

                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 88 && can_tutor_time.id <= 111" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'2')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time2" type="checkbox" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 88 && can_tutor_time.id <= 111" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'3')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time3" type="checkbox" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 88 && can_tutor_time.id <= 111" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'4')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time4" type="checkbox" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 88 && can_tutor_time.id <= 111" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'5')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time5" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 88 && can_tutor_time.id <= 111" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'6')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time6" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                            </div>
                            <div class="night">
                                <ul class="week">
                                    <li ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" class="time" ng-if="can_tutor_time.id >=112 && can_tutor_time.id<=123 ">
                                        {{can_tutor_time.name}}
                                    </li>

                                    <li ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" class="time" ng-if="can_tutor_time.id >=76 && can_tutor_time.id<=87 ">
                                        {{can_tutor_time.name}}
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 112 && can_tutor_time.id <= 123" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 76 && can_tutor_time.id <= 87" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 112 && can_tutor_time.id <= 123" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'1')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time1" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 76 && can_tutor_time.id <= 87" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'1')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time1" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time1.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 112 && can_tutor_time.id <= 123" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'2')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time2" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 76 && can_tutor_time.id <= 87" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'2')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time2" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time2.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 112 && can_tutor_time.id <= 123" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'3')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time3" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 76 && can_tutor_time.id <= 87" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'3')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time3" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time3.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 112 && can_tutor_time.id <= 123" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'4')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time4" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 76 && can_tutor_time.id <= 87" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'4')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time4" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time4.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 112 && can_tutor_time.id <= 123" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'5')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time5" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 76 && can_tutor_time.id <= 87" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'5')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time5" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time5.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                                <ul>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 112 && can_tutor_time.id <= 123" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'6')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time6" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                    <li ng-init="spanClick()" ng-repeat="(key_can_tutor_time,can_tutor_time) in can_tutor_time_data.data['0'].tmp_list_can_tutor_time" ng-if="can_tutor_time.id >= 76 && can_tutor_time.id <= 87" ng-class="{'open':(can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1)} " ng-click="changeTimeEvent($event,'6')">
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1">
                                    OPEN
                                </span>
                                        <span ng-if="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) == -1">
                                    CLOSE
                                </span>
                                        <input ng-model="data.can_tutor_time6" ng-checked="can_tutor_time_data.data['0'].tmp_list['0'].can_tutor_time6.indexOf(can_tutor_time.id) > -1" type="checkbox" value="{{can_tutor_time.id}}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button ng-click="CantutorTimeToggle()" class="time_list_btn bc_BL tc_WS" type="button">{{ 'TEACHER_EDIT_AVA_TIME_LIST' | translate }}</button>

            </div>
            <div class="buttons">
                <button class="send bc_BR tc_WS" type="submit">{{ 'TEACHER_EDIT_USER_DATA_SEND_BUTTON' | translate }}</button>
            </div>
        </div>
    </form>
</div>

<!-- 自己的全部私人訊息 -->
<div ng-show="privateList" class="private_msg_list bor_s_1 ">
    <div class="title bc_BR tc_WS">{{ 'TEACHER_APPRAISE_ALL_MSG' | translate }} <i ng-click="privateList = ! privateList" class="fa fa-times" aria-hidden="true"></i> </div>
    <div class="list_box">
        <div class="name_box bor_b">
            <div ng-click="schoolName = ! schoolName">
                <div class="user_img">
                    <img src="images/book.jpg" alt="">
                </div>
                <div class="user_name">學校名稱</div>
            </div>

            <!--  私人訊息 pop up  -->
            <div ng-show="schoolName" class="private_msg_pup bor_s_1">
                <div class="title bc_BR tc_WS">
                    <div ng-click="packUp()" class="talkName">學校名稱</div> <i ng-click="schoolName = ! schoolName" class="fa fa-times" aria-hidden="true"></i></div>

                <div class="msg_box bor_b">
                    <!-- 其他人的發話 -->
                    <div class="others">
                        <div>
                            {{profile_data1.id}}{{ message.nick_name }}
                        </div>
                        <div class="others_img">
                            <img src="images/book.jpg" alt="">
                        </div>
                        <div class="say">
                            {{ message.message }} asdasfasfasfasfaasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsds

                            <a target="_blank" ng-href="{{'upload'+message.path}}" ng-if="message.path != null && message.path != ''">{{ message.original_name }}</a>
                        </div>

                        <div class="time">
                            {{ message.created_at }} 12:00

                        </div>

                    </div>
                    <!-- 其他人的發話 END -->

                    <!-- 自己的發話 -->
                    <div class="self">

                        <div class="say">
                            {{ message.message }} asdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsasdasfsfasafsdsa

                            <a target="_blank" ng-href="{{'upload'+message.path}}" ng-if="message.path != null && message.path != ''">{{ message.original_name }}</a>
                        </div>

                        <div class="time">
                            {{ message.created_at }} 12:01

                        </div>

                    </div>
                    <!-- 自己的發話 END -->

                </div>
                <!--  對話紀錄區  -->

                <div class="key_in_box">

                    <div class="kin_in_text" contenteditable="true"></div>
                    <!-- 輸入框 -->

                    <div class="u_b u_i up_img">
                        <input name="file" id="files_date" nstyle="" type="file">
                    </div>
                    <!-- 上傳檔案  -->

                    <button type="button" onClick="sendMessage()" class="bc_BR tc_WS">{{ 'TEACHER_MY_PROFILE_SEND' | translate }}</button>
                    <!-- 送出按鈕  -->
                </div>
                <!-- 輸入區  -->
            </div>
            <!--  私人訊息 pop up END  -->

        </div>
    </div>
</div>
<!-- 自己的全部私人訊息 -->