<div class="mid userVLH">
    <div ng-show="teacher_data.data['0'].tmp_teach_arr.length >0" class="all-teacher-box">
        <div class="titleB">{{ 'TEACHER_TEXT_FRIEND' | translate }}</div>
        <div class="allSearchBox">
            <div class="friendBox" ng-repeat="(key_this_day_teacher,this_day_teacher) in teacher_data.data['0'].tmp_teach_arr">
                <a class="imgBoxA" href="Course.TeacherText/{{this_day_teacher.id}}">
                    <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                    <img class="t_pic" src="upload/teach/{{this_day_teacher.image}}" alt="">
                </a>
                <div style="display:none;" class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a href="Course.TeacherText/{{this_day_teacher.id}}">
                    <div class="name">{{this_day_teacher.nick_name}}</div>
                </a>
            </div>
        </div>
    </div>

    <div ng-show="teacher_data.data['0'].tmp_fan_arr.length >0" class="all-teacher-box all-community bc_YS">
        <div class="titleB">{{ 'FAN_GROUP' | translate }}</div>
        <div class="allSearchBox">
            <div class="communityBox" ng-repeat="(key_this_tmp_fan,this_tmp_fan) in teacher_data.data['0'].tmp_fan_arr">
                <a class="imgBoxA" href="Fan.FanText/{{this_tmp_fan.id}}">
                    <div class="sd_box"><img src="images/shadow.png" alt=""></div>
                    <img class="t_pic" src="upload/fan/{{this_tmp_fan.image}}" alt="">
                </a>
                <div style="display:none;" class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <a class="bor_b" href="Fan.FanText/{{this_tmp_fan.id}}">
                    <div class="name">{{this_tmp_fan.nick_name}}</div>
                </a>
            </div>
        </div>
    </div>

    <div ng-show="teacher_data.data['0'].tmp_teach_arr.length ==0 && teacher_data.data['0'].tmp_fan_arr.length ==0" class="noSearchBox">
        <div class="noSearch">
            <div class="box">
                <div class="youSearchKeyWord"><span class="kt_1">{{ 'SEARCH_KEYWORD' | translate }}</span> <i class="fa fa-search" aria-hidden="true"></i> <span ng-init="userSearchText()" class="userSearchText"></span> <span class="kt_1">{{ 'NO_SEAECH_RESULTS' | translate }}</span></div>
            </div>
        </div>
    </div>


    <div class="more-btn">{{ 'VIEW_LIST_MORE' | translate }}</div>
</div>