<div class="wakeupAccount">
    <div class="box">
        <div class="account_content">
            <div ng-show="Vaaccount =='1'" class="all-teacher-box">
                <div class="titleB">帳號激活完成</div>
                <div class="allSearchBox">
                    <a href='Index'> 返回首頁 </a>
                </div>
            </div>
            <div ng-show="Vaaccount =='0'" class="all-teacher-box">
                <div class="titleB">帳號激活失敗</div>
                <div class="allSearchBox">
                    <a href='Index'> 返回首頁 </a>
                </div>
            </div>
        </div>
    </div>
</div>